@model fmis.Models.BudgetAllotmentTrustFund
@using System.Globalization;
@{
    ViewData["Title"] = "FundSourceTrustFund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.FundSourceTrustFunds.Count() > 0)
{
    <h3 class="grey lighter smaller">
        Fund Source (Trust Fund)
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.Yearly_reference.YearlyReference
        </small>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.FundSourceTrustFunds.FirstOrDefault().Appropriation.AppropriationSource
        </small>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.FundSourceTrustFunds.FirstOrDefault().AllotmentClass.Allotment_Class
        </small>

    </h3>
}
<hr />
<div class="row  pull-left">
    <div class="space-5"></div>

    <div class="col-xs-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @Model.FundSourceTrustFunds.Sum(x => x.Beginning_balance).ToString("C", new CultureInfo("en-PH"))
                </span>
                <div class="infobox-content">
                    <span class="label label-success arrowed-in arrowed-in-right"> Beginning Balance </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color: grey;">
                    @Model.FundSourceTrustFunds.Sum(x => x.Remaining_balance).ToString("C", new CultureInfo("en-PH"))
                </span>
                <div class="infobox-content">
                    <span class="label label-danger arrowed-in arrowed-in-right"> Remaining Balance </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-orange2">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @Model.FundSourceTrustFunds.Sum(x => x.realignment_amount).ToString("C", new CultureInfo("en-PH"))
                </span>
                <div class="infobox-content">
                    <span class="label label-warning arrowed-in arrowed-in-right"> Realignment Amount </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-blue">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @Model.FundSourceTrustFunds.Sum(x => x.obligated_amount).ToString("C", new CultureInfo("en-PH"))
                </span>
                <div class="infobox-content">
                    <span class="label label-primary arrowed-in arrowed-in-right"> Obligated Amount </span>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="modal" id="createModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="fund_source_create_trust_fund">

            </div>
        </div>
    </div>
</div>

<div class="modal" id="editModal"  role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="fund_source_edit_trust_fund">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<p>
    <button type="button" asp-controller="FundSourceTrustFund" asp-action="Create" class="btn btn-success btn-sm" onclick="createFundSourceTrustFund(@Model.BudgetAllotmentTrustFundId)">
        <i class="ace-icon fa fa-plus "></i>Create New
    </button> |
    <a class=" btn btn-primary btn-sm" asp-controller="BudgetAllotmentTrustFund" asp-action="Index">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Budget Allotment
    </a>
</p>

@if (Model.FundSourceTrustFunds.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fund Source Code
                </th>
                <th>
                    Fund Source Title
                </th>
                <th>
                    Appropriation (Source)
                </th>
                <th>
                    Responsibility Center
                </th>
                <th>
                    Actions
                </th>
                <th>
                    Funds Source (Realignment)
                </th>
                <th>
                    Beginning Balance
                </th>
                <th>
                    Remaining Balance
                </th>
                <th>
                    Realignment Amount
                </th>
                <th>
                    Obligated Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FundSourceTrustFunds)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FundSourceTrustFundTitleCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FundSourceTrustFundTitle)
                    </td>
                    <td>
                        @item.Appropriation.AppropriationSource
                    </td>
                    <td>
                        @item.RespoCenter.Respo
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" onclick="getEditFundSourceTrustFund(@Model.BudgetAllotmentTrustFundId,@item.FundSourceTrustFundId)"> <span class="glyphicon glyphicon-edit"></span></button>
                       @* <a asp-controller="FundSourceTrustFund" asp-action="Delete" asp-route-id="@item.FundSourceTrustFundId" asp-route-budget_id="@ViewBag.budget_id" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteModalCenter"> <span class="glyphicon glyphicon-trash"></span></a>*@
                    </td>
                    <td>
                        <a asp-controller="FundsRealignmentTrustFund" asp-route-fundsource_trustfund_id="@item.FundSourceTrustFundId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-transfer"></span> Funds Realignment</a>
                    </td>

                    <td>
                        <b class="green">
                            <span>@item.Beginning_balance.ToString("C", new CultureInfo("en-PH"))</span>
                        </b>
                    </td>
                    <td>
                        <b class="red">
                            <span>@item.realignment_amount.ToString("C", new CultureInfo("en-PH"))</span>
                        </b>
                    </td>
                    <td>
                        <b class="orange">
                            <span>@item.realignment_amount.ToString("C", new CultureInfo("en-PH"))</span>
                        </b>
                    </td>
                    <td>
                        <b class="blue">
                            <span>@item.obligated_amount.ToString("C", new CultureInfo("en-PH"))</span>
                        </b>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-block alert-danger">
        <i class="ace-icon fa fa-warning red"></i>
        No Records found
    </div>
}

<script>


     function createFundSourceTrustFund(BudgetAllotmentTrustFundId) {
         $("#createModal").modal({ backdrop: 'static', keyboard: false });
         $("#fund_source_create_trust_fund").html(loading);
         var AllotmentClassId = @ViewBag.AllotmentClassId;
         var AppropriationId = @ViewBag.AppropriationId;
         var url = '@Url.Action("Create", "FundSourceTrustFund")';
         url += "?AllotmentClassId=" + AllotmentClassId + "&AppropriationId=" + AppropriationId + "&BudgetAllotmentTrustFundId=" + BudgetAllotmentTrustFundId;
         $.get(url, function (result) {
            setTimeout(function () {
                $("#fund_source_create_trust_fund").html(result);
            }, 500);
         });
     }

     function getEditFundSourceTrustFund(BudgetAllotmentTrustFundId, fund_source_id_trust_fund) {
         $("#editModal").modal({ backdrop: 'static', keyboard: false });
         $("#fund_source_edit_trust_fund").html(loading);
         var AllotmentClassId = @ViewBag.AllotmentClassId;
         var AppropriationId = @ViewBag.AppropriationId;
         var url = '@Url.Action("Edit", "FundSourceTrustFund")';
         //url += "?budget_id=" + BudgetAllotmentTrustFundId + "&fund_source_trust_fund_id=" + fund_source_id_trust_fund
         url += "?AllotmentClassId=" + AllotmentClassId + "&AppropriationId=" + AppropriationId + "&BudgetAllotmentTrustFundId=" + BudgetAllotmentTrustFundId + "&fund_source_id_trust_fund=" + fund_source_id_trust_fund;
         $.get(url, function (result) {
            setTimeout(function () {
                $("#fund_source_edit_trust_fund").html(result);
            }, 500);
         });
     }

    function deleteFundSourceTrustFund(BudgetAllotmentTrustFundId) {
         $("#deleteModal").modal({ backdrop: 'static', keyboard: false });
         $("#fund_source_delete_trust_fund").html(loading);
         var url = '@Url.Action("Delete", "FundSourceTrustFund")';
        url += "?budget_id=" + BudgetAllotmentTrustFundId
         $.get(url, function (result) {
            setTimeout(function () {
                $("#fund_source_delete_trust_fund").html(result);
            }, 500);
         });
     }

    let generate_token = () => {
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    function fundSourceToken() {
        fundsource_token = generate_token();
        $("#funds_input_token").val(fundsource_token);
    }
</script>