@model fmis.Models.Budget_allotment
@using System.Globalization;
@{
    ViewData["Title"] = "Fundsource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="grey lighter smaller">
    Fund Source
</h3>
<hr />
<div class="row  pull-left">
    <div class="space-5"></div>

    <div class="col-xs-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">@ViewBag.sumfunds</span>
                <div class="infobox-content">Beginning Balance</div>
            </div>
        </div>

        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">@ViewBag.sumfunds</span>
                <div class="infobox-content">Remaining Balance</div>
            </div>
        </div>
    </div><!-- /.widget-main -->
</div><!-- /.widget-body -->
<br />
<br />
<br />
<br />
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="fund_source_create">

            </div>
        </div>
    </div>
</div>

<div class="modal" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg"  role="document">
        <div class="modal-content">
            <div class="modal-body" id="fund_source_edit">
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<p>
    <a asp-controller="FundSource" asp-action="Create" class="btn btn-success btn-sm" onclick="createFundSource(@ViewBag.BudgetId)" >
        <i class="ace-icon fa fa-plus "></i>Create New
    </a> |
    <a class=" btn btn-primary btn-sm" asp-controller="Budget_allotments" asp-action="Index">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Budget Allotment
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fund Source Code
            </th>
            <th>
                Fund Source Title
            </th>
            <th>
                ORS Head
            </th>
            <th>
                Actions
            </th>
            <th>
                Funds Realignment
            </th>
            <th>
                Beginning Balance
            </th>
            <th>
                Remaining Balance
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FundSources)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FundSourceTitleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FundSourceTitle)
                </td>

                <td>
                    @* @Html.DropDownList("pi_userid", null, htmlAttributes: new { @class = "prexc form-control" })
                    *@
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick="getEditFundSource(@ViewBag.BudgetId,@item.FundSourceId)" data-backdrop="static" data-keyboard="false">Edit <span class="glyphicon glyphicon-edit"></span></button>

                    <a asp-controller="FundSource" asp-action="Delete" asp-route-id="@item.FundSourceId" asp-route-BudgetId="@ViewBag.BudgetId" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteModalCenter">Delete <span class="glyphicon glyphicon-trash"></span></a>
                </td>
                <td>
                    <a asp-controller="FundsRealignment" asp-route-fundsource_id="@item.FundSourceId" asp-route-BudgetId="@ViewBag.BudgetId" asp-action="Index" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-transfer"></span> Funds Realignment</a>
                </td>
                <td>
                    @{
                        var amount = (List<fmis.Models.John.FundSourceAmount>)ViewBag.Query;
                    }
                    <span>@amount.FirstOrDefault(x=>x.Id == item.PrexcId)?.Amount</span>
                </td>
                <td>
                   @* <b class="red">
                        @{
                            var rembalamount = (List<fmis.Models.John.FundSourceAmount>)ViewBag.Rembal;
                        }
                        <span>@rembalamount.FirstOrDefault(x => x.Id == item.PrexcId)?.RemainingBalAmount</span>
                    </b>*@
                </td>

            </tr>
         }
    </tbody>
</table>

<script>

    function getEditFundSource(budget_id, fund_source_id) {
        $("#editModal").modal('show');
        $("#fund_source_edit").html(loading);
        var url = '@Url.Action("Edit", "FundSource")';
        url += "?budget_id=" + budget_id + "&fund_source_id=" + fund_source_id
        $.get(url, function (result) {
            setTimeout(function () {
                $("#fund_source_edit").html(result);
            }, 500);

        });
    }

    function createFundSource(budget_id) {
        fundSourceToken();
        $("#createModal").modal('show');
        $("#fund_source_create").html(loading);
        var url = '@Url.Action("Create", "FundSource")';
        url += "?budget_id=" + budget_id;
        $.get(url, function (result) {
            setTimeout(function () {
                $("#fund_source_crate").html(result);
            }, 500);

        });

    }



    let generate_token = () => {
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    function fundSourceToken() {
        fundsource_token = generate_token();
        $("#funds_input_token").val(fundsource_token);
    }
</script>
