@model IEnumerable<fmis.Models.Budget_allotment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>*@
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allotment_series)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allotment_title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allotment_code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created_at)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated_at)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allotment_series)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allotment_title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allotment_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated_at)
                    </td>
                    <td>
                        <a asp-controller="FundSource" asp-action="index">FundSource</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BudgetAllotmentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BudgetAllotmentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BudgetAllotmentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@



<h3 style="color: #438eb9;">Budget Allotments</h3>
<hr />
<p>
    <a class=" btn btn-sm btn-success" asp-action="Create">
        <i class="ace-icon fa fa-plus "></i>Create New
    </a>
    <a href="@Url.Action("Export", "FundSource")" style="border: 1px solid #e7eaec; padding: 5px;" class="pull-right">Download PDF</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Year
            </th>
            <th>
                Allotment Series
            </th>
            <th>
                Allotment Title
            </th>
            <th>
                Allotment Code
            </th>
            <th>For Fund Source</th>
            <th>For Sub-Allotment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Yearly_reference.YearlyReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allotment_series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allotment_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allotment_code)
            </td>
            <td>
                <a class="btn btn-sm btn-default" asp-action="Details" asp-route-id="@item.BudgetAllotmentId">
                    <i class="ace-icon fa fa-arrow-right"></i>Fund Source
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-default" asp-controller="SubAllotments" asp-action="index" asp-route-id="">
                    <i class="ace-icon fa fa-plus"></i>Sub-Allotment
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.BudgetAllotmentId">
                    <i class="ace-icon fa fa-edit"></i>Edit
                </a>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@ |
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.BudgetAllotmentId">
                    <i class="ace-icon fa fa-trash"></i>Delete
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
