@model fmis.Models.Obligated_amount

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Obligated_amount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Obligation_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Obligation_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expenses_title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expenses_title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
