@model fmis.Models.silver.BudgetAllotment
@using System.Globalization;
@{
    ViewData["Title"] = "SubAllotment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lastYear = int.Parse(User.FindFirstValue("YearlyRef")) - 1;
    var items = Model.SubAllotment.Where(x => x.Budget_allotment.Yearly_reference.YearlyReference == User.FindFirstValue("YearlyRef"));
    var TotalAllotment = Model.SubAllotment.Where(x => x.Budget_allotment.Yearly_reference.YearlyReference == User.FindFirstValue("YearlyRef")).Sum(x => x.Beginning_balance);
    if (ViewBag.LastYear)
    {
        items = Model.SubAllotment.Where(x => x.Budget_allotment.Yearly_reference.YearlyReference == lastYear.ToString());
    }
}

<style type="text/css">

    body {
        font-family: sans-serif;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table th {
            background-color: #009879;
            color: #fff;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        table, table table td {
            border: 0px solid #ccc;
        }

    .Pager span {
        text-align: center;
        color: #333;
        display: inline-block;
        width: 20px;
        background-color: #B8DBFD;
        margin-right: 3px;
        line-height: 150%;
        border: 1px solid #B8DBFD;
    }

    .Pager a {
        text-align: center;
        display: inline-block;
        width: 20px;
        background-color: #ccc;
        color: #333;
        border: 1px solid #ccc;
        margin-right: 3px;
        line-height: 150%;
        text-decoration: none;
    }
</style>

@if (Model.SubAllotment.Count() > 0)
{
    <h3 class="grey lighter smaller">
        Sub Allotment Advice (SAA)
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.Yearly_reference.YearlyReference
        </small>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.SubAllotment.FirstOrDefault().Appropriation.AppropriationSource
        </small>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.SubAllotment.FirstOrDefault().AllotmentClass.Allotment_Class
        </small>

    </h3>
}
<hr />
<div class="row  pull-left">
    <div class="space-5"></div>

    <div class="col-xs-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @items.Sum(x => x.Beginning_balance).ToString("#,##0.00")
                    @*@ViewBag.CurrentYrAllotment_beginningbalance*@
                </span>
                <div class="infobox-content">
                    <span class="label label-success arrowed-in arrowed-in-right">  ALLOTMENT </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-blue">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @items.Sum(x => x.obligated_amount).ToString("C", new CultureInfo("en-PH"))
                    @*@ViewBag.CurrentYrAllotment_obligatedAmount*@
                </span>
                <div class="infobox-content">
                    <span class="label label-primary arrowed-in arrowed-in-right"> OBLIGATED </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-red" style="width: 270px;">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>
            <div class="infobox-data" >
                <span class="infobox-data-number" style="font-size:11pt; color: grey;">
                    @items.Sum(x => x.Remaining_balance).ToString("C", new CultureInfo("en-PH"))
                    @*@ViewBag.CurrentYrAllotment_remainingbalance*@
                </span>
                <div class="infobox-content">
                    <span class="label label-danger arrowed-in arrowed-in-right"> UNOBLIGATED ALLOTMENT </span>
                </div>
            </div>
        </div>

        @* <div class="infobox infobox-red" style="width:250px">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-calculator"></i>
                </div>
                <div class="infobox-data">
                    <span class="infobox-data-number" style="font-size:11pt; color: grey;">
                        @ViewBag.LastYrAllotment_remainingbalance
                    </span>
                    <div class="infobox-content">
                        <span class="label label-danger arrowed-in arrowed-in-right">CONAP Remaining Balance </span>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="modal" id="createModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="suballotment_create">

            </div>
        </div>
    </div>
</div>
<div class="modal" id="editModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="suballotment_edit">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">


        </div>
    </div>
</div>

@if (ViewBag.LastYear == true)
{
    <form method="get" asp-action="Index" asp-controller="SubAllotment" id="search_form">
        <input type="hidden" name="AllotmentClassId" value="@ViewBag.AllotmentClassId" />
        <input type="hidden" name="AppropriationId" value="@ViewBag.AppropriationId" />
        <input type="hidden" name="BudgetAllotmentId" value="@ViewBag.BudgetAllotmentId" />
        <input type="hidden" name="lastYear" value="true" />

        <span class="pull-right">
            <button type="button" class="btn btn-sm btn-success btn-default" style="margin-bottom: 3px;" onclick="viewAllClicked();">
                View All
            </button>
            <input type="search" placeholder="Enter keyword..." class="form-group" name="search" id="search" value="@ViewBag.Search" style="width: 340px;" />
            <button type="submit" class="btn btn-sm btn-default" style="margin-bottom: 3px;">
                <i class="ace-icon fa fa-search "></i> Search
            </button>
        </span>
    </form>
}
else
{
    <form method="get" asp-action="Index" asp-controller="SubAllotment" id="search_form">
        <input type="hidden" name="AllotmentClassId" value="@ViewBag.AllotmentClassId" />
        <input type="hidden" name="AppropriationId" value="@ViewBag.AppropriationId" />
        <input type="hidden" name="BudgetAllotmentId" value="@ViewBag.BudgetAllotmentId" />

        <span class="pull-right">
            <button type="button" class="btn btn-sm btn-success btn-default" style="margin-bottom: 3px;" onclick="viewAllClicked();">
                View All
            </button>
            <input type="search" placeholder="Enter keyword..." class="form-group" name="search" id="search" value="@ViewBag.Search" style="width: 340px;" />
            <button type="submit" class="btn btn-sm btn-default" style="margin-bottom: 3px;">
                <i class="ace-icon fa fa-search "></i> Search
            </button>
        </span>
    </form>
}

<p>
    <button type="button" asp-controller="Sub_allotment" asp-action="Create" class="btn btn-success btn-sm" onclick="createSub_allotment(@Model.BudgetAllotmentId)">
        <i class="ace-icon fa fa-plus "></i>Create New
    </button>
    <a class=" btn btn-primary btn-sm" asp-controller="BudgetAllotment" asp-action="Index">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Budget Allotment
    </a>
    @*  @using (@Html.BeginForm())
        {
            @Html.TextBox("search") <input type="submit" value="search" />
        }*@
</p>


<form method="get" asp-action="Index" asp-controller="SubAllotment" id="search_form">
    <input type="hidden" name="AllotmentClassId" value="@ViewBag.AllotmentClassId" />
    <input type="hidden" name="AppropriationId" value="@ViewBag.AppropriationId" />
    <input type="hidden" name="BudgetAllotmentId" value="@ViewBag.BudgetAllotmentId" />

    <span class="pull-left">

        <select type="search" placeholder="Select Pap Title " class="form-group select2" name="filteredPap" id="filteredPap" value="" style="width: 250px;" asp-items="@ViewBag.PapId">
             <option value="">-- Filter Pap Title --</option>
         </select>
        <button type="submit" class="btn btn-sm btn-default" style="margin-bottom: 3px;">
            <i class="ace-icon fa fa-search "></i> Filter
        </button>
    </span>
</form>
<br />
<br />
@if (Model.SubAllotment.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th style="width: 200px">
                    PPA TITLE
                </th>
                <th style="width: 280px">
                   SUB ALLOTMENT TITLE
                </th>
                <th style="width: 250px">
                    DESCRIPTION
                </th>
                <th>
                    RESPONSIBILITY CENTER
                </th>
                <th>
                   ACTIONS
                </th>
              @*  <th>
                    SAA(REALIGNMENT)
                </th>
                <th>
                    SAA TRANSFERED TO
                </th>*@
                <th>
                   SAA NEGATIVE
                </th>
                <th>
                    ALLOTMENT@*<br>@items.Sum(x => x.Beginning_balance).ToString("#,##0.00")*@
                </th>
                <th>
                    OBLIGATED@*<br>@items.Sum(x => x.obligated_amount).ToString("#,##0.00")*@
                </th>
                <th>
                    UNOBLIGATED ALLOTMENT @*<br>@items.Sum(x => x.Remaining_balance).ToString("#,##0.00")*@
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in items.OrderByDescending(x => x.CreatedAt))
            {
                var check = item.IsAddToNextAllotment ? "checked" : "";
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.prexc.pap_title)
                    </td>
                    @if (item.IsAddToNextAllotment == true && item.Budget_allotment.Yearly_reference.YearlyReference == lastYear.ToString())
                    {
                        <td>
                            CONAP @Html.DisplayFor(modelItem => item.Suballotment_title)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Suballotment_title)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @item.RespoCenter.Respo
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" onclick="getEditSub_allotment(@Model.BudgetAllotmentId,@item.SubAllotmentId)" data-bs-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
                        <a asp-controller="SubAllotment" asp-action="Delete" asp-route-id="@item.SubAllotmentId" asp-route-budget_id="@ViewBag.budget_id" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteModalCenter" data-bs-toggle="tooltip" title="Delete"> <span class="glyphicon glyphicon-trash"></span></a>
                        <a asp-controller="SubAllotment_Realignment" asp-route-sub_allotment_id="@item.SubAllotmentId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-info btn-xs" data-bs-toggle="tooltip" title="SAA Realignment"><span class="glyphicon glyphicon-transfer"></span> </a>
                        <a asp-controller="SubTransferedTo" asp-route-sub_allotment_id="@item.SubAllotmentId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-warning btn-xs" data-bs-toggle="tooltip" title="SAA TransferedTo"> <span class="glyphicon glyphicon-share-alt"></span> </a>

                        <div class="checkbox">
                            <label>
                                <input name="form-field-checkbox" type="checkbox" @check class="ace" onclick="AddNextYr(this.checked, '@item.SubAllotmentId')">
                                <span class="lbl">Set Next Year</span>
                            </label>
                        </div>
                    </td>
                @*    <td>
                        <a asp-controller="SubAllotment_Realignment" asp-route-sub_allotment_id="@item.SubAllotmentId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-transfer"></span> SAA Realignment</a>
                    </td>
                    <td>
                        <center>
                            <a asp-controller="SubTransferedTo" asp-route-sub_allotment_id="@item.SubAllotmentId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-share-alt"></span>
                            </a>
                        </center>
                    </td>*@
                    <td>
                        <center>
                            <a asp-controller="SubNegative" asp-route-sub_allotment_id="@item.SubAllotmentId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-danger btn-xs" data-bs-toggle="tooltip" title="SAA Negative">
                                <span class="glyphicon glyphicon-share-alt"> </span>
                            </a>
                            <br />
                            <br />
                            @{

                                var subAllotment = item.Beginning_balance - item.SubNegative.Where(x => x.SubAllotmentId == item.SubAllotmentId && x.status == "activated").Sum(x => x.Amount);

                            }
                            <b class="red">
                                ₱@item.SubNegative.Where(x => x.SubAllotmentId == item.SubAllotmentId).Where(x=>x.status == "activated").Sum(x => x.Amount).ToString("##,##0.00")
                            </b>
                        </center>
                    </td>
                    <td>
                        <b class="green">
                            <span>@subAllotment.ToString("C", new CultureInfo("en-PH"))</span>
                        </b>
                    </td>
                    <td>
                        <b class="blue">
                            <span>@item.obligated_amount.ToString("C", new CultureInfo("en-PH"))</span>
                        </b>
                    </td>
                    <td>
                        <b class="red">
                            <span>@item.Remaining_balance.ToString("C", new CultureInfo("en-PH"))</span>
                        </b>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-block alert-danger">
        <i class="ace-icon fa fa-warning red"></i>
        No Records found
    </div>
}

<script>
    function viewAllClicked() {
        $('#search').val('');
        $('#search_form').submit();
    }

    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });


    function AddNextYr(set, subAllotmentId){
        $.ajax({
            url: '@Url.Action("CheckNextYear","SubAllotment")',
            data: {
                subAllotmentId: subAllotmentId,
                addToNext: set
            },
            async: true,
            method: 'POST',
            success: function(result){
                console.log(result);
            }
        })
    }

    function createSub_allotment(BudgetAllotmentId) {
         $("#createModal").modal({ backdrop: 'static', keyboard: false });
         $("#suballotment_create").html(loading);
         var AllotmentClassId = @ViewBag.AllotmentClassId;
         var AppropriationId = @ViewBag.AppropriationId;
         var url = '@Url.Action("Create", "SubAllotment")';
         url += "?AllotmentClassId="+AllotmentClassId+"&AppropriationId="+AppropriationId+"&BudgetAllotmentId=" + BudgetAllotmentId;
         console.log(url);
         $.get(url, function (result) {
            setTimeout(function () {
                $("#suballotment_create").html(result);
            }, 500);
         });
    }

    function getEditSub_allotment(BudgetAllotmentId, sub_allotment_id) {
        $("#editModal").modal({ backdrop: 'static', keyboard: false });
        $("#suballotment_edit").html(loading);
        var AllotmentClassId = @ViewBag.AllotmentClassId;
        var AppropriationId = @ViewBag.AppropriationId;
        var url = '@Url.Action("Edit", "SubAllotment")';
        //url += "?budget_id=" + BudgetAllotmentId + "&sub_allotment_id=" + sub_allotment_id
        url += "?AllotmentClassId=" + AllotmentClassId + "&AppropriationId=" + AppropriationId + "&BudgetAllotmentId=" + BudgetAllotmentId + "&sub_allotment_id=" + sub_allotment_id ;
         $.get(url, function (result) {
            setTimeout(function () {
                $("#suballotment_edit").html(result);
            }, 500);
         });
        }

    function deleteSub_allotment(BudgetAllotmentId) {
        $("#deleteModal").modal({ backdrop: 'static', keyboard: false });
        $("#suballotment_delete").html(loading);
        var url = '@Url.Action("Delete", "SubAllotment")';
        url += "?budget_id=" + BudgetAllotmentId
        $.get(url, function (result) {
        setTimeout(function () {
            $("#suballotment_delete").html(result);
        }, 500);
        });
     }

    let generate_token = () => {
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    function subAllotmentToken() {
        suballotment_token = generate_token();
        $("#subs_input_token").val(suballotment_token);
    }

    $(document).ready(function () {
        $('.select2').select2();
    });

</script>
