@model fmis.Models.silver.BudgetAllotment
@using System.Globalization;
@{
    ViewData["Title"] = "SubAllotment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

        body {
            font-family: sans-serif;
            font-size: 10pt;
        }
 
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

        table th {
            background-color: #009879;
            color: #fff;
 
        }
 
        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }
 
        table, table table td {
            border: 0px solid #ccc;
        }
 
        .Pager span {
            text-align: center;
            color: #333;
            display: inline-block;
            width: 20px;
            background-color: #B8DBFD;
            margin-right: 3px;
            line-height: 150%;
            border: 1px solid #B8DBFD;
        }
 
        .Pager a {
            text-align: center;
            display: inline-block;
            width: 20px;
            background-color: #ccc;
            color: #333;
            border: 1px solid #ccc;
            margin-right: 3px;
            line-height: 150%;
            text-decoration: none;
        }
    </style>

@if (Model.SubAllotment.Count() > 0)
{
<h3 class="grey lighter smaller">
    Sub Allotment Advice (SAA)
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        @Model.Yearly_reference.YearlyReference
    </small>
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        @Model.SubAllotment.FirstOrDefault().Appropriation.AppropriationSource
    </small>
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        @Model.SubAllotment.FirstOrDefault().AllotmentClass.Allotment_Class
    </small>

</h3>
}
<hr />
<div class="row  pull-left">
    <div class="space-5"></div>

    <div class="col-xs-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @*@Model.SubAllotment.Where(x=>x.IsAddToNextAllotment != true).Sum(x => x.Beginning_balance).ToString("C", new CultureInfo("en-PH"))*@
                    @ViewBag.CurrentYrAllotment_beginningbalance
                </span>
                <div class="infobox-content">
                    <span class="label label-success arrowed-in arrowed-in-right">  ALLOTMENT </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-blue">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @*@Model.SubAllotment.Sum(x => x.obligated_amount).ToString("C", new CultureInfo("en-PH"))*@
                    @ViewBag.CurrentYrAllotment_obligatedAmount
                </span>
                <div class="infobox-content">
                    <span class="label label-primary arrowed-in arrowed-in-right"> OBLIGATED </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color: grey;">
                    @*@Model.SubAllotment.Where(x=>x.IsAddToNextAllotment != true).Sum(x => x.Remaining_balance).ToString("C", new CultureInfo("en-PH"))*@
                    @ViewBag.CurrentYrAllotment_remainingbalance
                </span>
                <div class="infobox-content">
                    <span class="label label-danger arrowed-in arrowed-in-right"> BALANCE </span>
                </div>
            </div>
        </div>

        @* <div class="infobox infobox-red" style="width:250px">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color: grey;">
                    @ViewBag.LastYrAllotment_remainingbalance
                </span>
                <div class="infobox-content">
                    <span class="label label-danger arrowed-in arrowed-in-right">CONAP Remaining Balance </span>
                </div>
            </div>
        </div>*@
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="modal" id="createModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="suballotment_create">

            </div>
        </div>
    </div>
</div>
<div class="modal" id="editModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="suballotment_edit">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">


        </div>
    </div>
</div>

<form method="get" asp-action="Index" asp-controller="SubAllotment" id="search_form">
    <input type="hidden" name="AllotmentClassId" value="@ViewBag.AllotmentClassId" />
    <input type="hidden" name="AppropriationId" value="@ViewBag.AppropriationId" />
    <input type="hidden" name="BudgetAllotmentId" value="@ViewBag.BudgetAllotmentId" />

    <span class="pull-right">
        <button type="button" class="btn btn-sm btn-success btn-default" style="margin-bottom: 3px;" onclick="viewAllClicked();">
            View All
        </button>
        <input type="search" placeholder="Enter keyword..." class="form-group" name="search" id="search" value="@ViewBag.Search" style="width: 340px;" />
        <button type="submit" class="btn btn-sm btn-default" style="margin-bottom: 3px;">
            <i class="ace-icon fa fa-search "></i> Search
        </button>
    </span>
</form>

<p>
    <button type="button" asp-controller="Sub_allotment" asp-action="Create" class="btn btn-success btn-sm" onclick="createSub_allotment(@Model.BudgetAllotmentId)">
        <i class="ace-icon fa fa-plus "></i>Create New
    </button> |
    <a class=" btn btn-primary btn-sm" asp-controller="BudgetAllotment" asp-action="Index">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Budget Allotment
    </a>
    @*  @using (@Html.BeginForm())
    {
        @Html.TextBox("search") <input type="submit" value="search" />
    }*@
</p>

@if (Model.SubAllotment.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th style="width: 250px">
                    Pap Title
                </th>
                <th>
                    Sub Allotment Title
                </th>
                <th style="width: 250px">
                    Description
                </th>
                <th>
                    Responsibility Center
                </th>
                <th>
                    Actions
                </th>
                <th>
                    SAA (Realignment)
                </th>
                <th>
                    SAA Transfered To
                </th>
                <th>
                    ALLOTMENT
                </th>
                <th>
                    OBLIGATED
                </th>
                <th>
                    BALANCE
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SubAllotment.OrderByDescending(x => x.CreatedAt))
            {
                var check = item.IsAddToNextAllotment ? "checked" : "";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prexc.pap_title)
                </td>
                @if (item.IsAddToNextAllotment == true)
                {
                    <td style='color:darkkhaki'>
                        @Html.DisplayFor(modelItem => item.Suballotment_title)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Suballotment_title)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.RespoCenter.Respo
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" onclick="getEditSub_allotment(@Model.BudgetAllotmentId,@item.SubAllotmentId)"><span class="glyphicon glyphicon-edit"></span></button>
                    <a asp-controller="SubAllotment" asp-action="Delete" asp-route-id="@item.SubAllotmentId" asp-route-budget_id="@ViewBag.budget_id" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteModalCenter"> <span class="glyphicon glyphicon-trash"></span></a>
                    <div class="checkbox">
                        <label>
                            <input name="form-field-checkbox" type="checkbox" @check class="ace" onclick="AddNextYr(this.checked, '@item.SubAllotmentId')">
                            <span class="lbl">Set Next Year</span>
                        </label>
                    </div>
                </td>
                <td>
                    <a asp-controller="SubAllotment_Realignment" asp-route-sub_allotment_id="@item.SubAllotmentId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-transfer"></span> SAA Realignment</a>
                </td>
                <td>
                    <center>
                        <a asp-controller="SubTransferedTo" asp-route-sub_allotment_id="@item.SubAllotmentId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </a>
                    </center>
                </td>
                <td>
                    <b class="green">
                        <span>@item.Beginning_balance.ToString("C", new CultureInfo("en-PH"))</span>
                    </b>
                </td>
                <td>
                    <b class="blue">
                        <span>@item.obligated_amount.ToString("C", new CultureInfo("en-PH"))</span>
                    </b>
                </td>
                <td>
                    <b class="red">
                        <span>@item.Remaining_balance.ToString("C", new CultureInfo("en-PH"))</span>
                    </b>
                </td>

            </tr>
            }  
        </tbody>
    </table>
}
else
{
    <div class="alert alert-block alert-danger">
        <i class="ace-icon fa fa-warning red"></i>
        No Records found
    </div>
}

<script>
    function viewAllClicked() {
        $('#search').val('');
        $('#search_form').submit();
    }

    function AddNextYr(set, subAllotmentId){
        $.ajax({
            url: '@Url.Action("CheckNextYear","SubAllotment")',
            data: {
                subAllotmentId: subAllotmentId,
                addToNext: set
            },
            async: true,
            method: 'POST',
            success: function(result){
                console.log(result);
            }
        })
    }
    
    function createSub_allotment(BudgetAllotmentId) {
         $("#createModal").modal({ backdrop: 'static', keyboard: false });
         $("#suballotment_create").html(loading);
         var AllotmentClassId = @ViewBag.AllotmentClassId;
         var AppropriationId = @ViewBag.AppropriationId;
         var url = '@Url.Action("Create", "SubAllotment")';
         url += "?AllotmentClassId="+AllotmentClassId+"&AppropriationId="+AppropriationId+"&BudgetAllotmentId=" + BudgetAllotmentId;
         console.log(url);
         $.get(url, function (result) {
            setTimeout(function () {
                $("#suballotment_create").html(result);
            }, 500);
         });
    }

    function getEditSub_allotment(BudgetAllotmentId, sub_allotment_id) {
        $("#editModal").modal({ backdrop: 'static', keyboard: false });
        $("#suballotment_edit").html(loading);
        var AllotmentClassId = @ViewBag.AllotmentClassId;
        var AppropriationId = @ViewBag.AppropriationId;
        var url = '@Url.Action("Edit", "SubAllotment")';
        //url += "?budget_id=" + BudgetAllotmentId + "&sub_allotment_id=" + sub_allotment_id
        url += "?AllotmentClassId=" + AllotmentClassId + "&AppropriationId=" + AppropriationId + "&BudgetAllotmentId=" + BudgetAllotmentId + "&sub_allotment_id=" + sub_allotment_id ;
         $.get(url, function (result) {
            setTimeout(function () {
                $("#suballotment_edit").html(result);
            }, 500);
         });
        }

    function deleteSub_allotment(BudgetAllotmentId) {
        $("#deleteModal").modal({ backdrop: 'static', keyboard: false });
        $("#suballotment_delete").html(loading);
        var url = '@Url.Action("Delete", "SubAllotment")';
        url += "?budget_id=" + BudgetAllotmentId
        $.get(url, function (result) {
        setTimeout(function () {
            $("#suballotment_delete").html(result);
        }, 500);
        });
     }

    let generate_token = () => {
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    function subAllotmentToken() {
        suballotment_token = generate_token();
        $("#subs_input_token").val(suballotment_token);
    }
</script>
