@model fmis.Models.John.AllotmentClass



<h2>Details</h2>

<div>
    <h4>AllotmentClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Allotment_Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Allotment_Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account_Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account_Code)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_At)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
