
@model IEnumerable<fmis.Models.Carlo.FundsRealignment>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" class="fundsrealignment" value="@ViewBag.temp">
<input type="hidden" class="uacs" value="@ViewBag.uacs">

<h3 class="grey lighter smaller">
    Funds Realignment
</h3>
<hr />
<div class="row" style="margin-right:50px;">
    <div class="space-5"></div>

    <div class="col-sm-5 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">3,501,956.00</span>
                <div class="infobox-content">Beginning Balance</div>
            </div>
        </div>

        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">1,552,276.00</span>
                <div class="infobox-content">Remaining Balance</div>
            </div>
        </div>
        <div class="space-6"></div>
    </div>
    <div class="vspace-12-sm"></div>
</div><!-- /.row -->

<a class="btn btn-primary btn-sm " asp-controller="Budget_allotments" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> Back to Budget Allotment </a>
<br />
<br />
<div id="example" class="hot"></div>
<br />
<div class="pull-right">
    <h5 class="green">Funds Realignment Total: <strong id="" class="fundsource_amount"> </strong></h5>

</div>

<script>
    let guid = () => {
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

     function ajaxServer(ajax_data, url) {
        $.ajax({
            type: 'POST',
            url: url,
            headers: { "RequestVerificationToken": '@GetAntiXsrfRequestToken()' },
            data: { data: ajax_data },
            success: function (output) {
                $('#loading_modal').modal('hide');

                console.log(output);
            }
        });
    }

    var fundsource_amount = 0;
    var fundsrealignment = $.parseJSON($(".fundsrealignment").val());
    const data = [];
    var counter = 0;
    $.each(fundsrealignment, function () {
        data[counter] = [this.Realignment_from, this.Realignment_to, this.Realignment_amount, this.Id, this.token]
        counter++;
        fundsource_amount += this.Realignment_amount;
    })
    $(".fundsource_amount").html(fundsource_amount);
    var uacs = $.parseJSON($(".uacs").val());
    const uacs_data = [];
    var uacs_counter = 0;
    $.each(uacs, function () {
        uacs_data[uacs_counter] = this.Account_title
            uacs_counter++;

        console.log(uacs_counter);
    })

    var uacs = $.parseJSON($(".uacs").val());
    const uacs_data1 = [];
    var uacs_counter1 = 0;
    $.each(uacs, function () {
        uacs_data1[uacs_counter1] = this.Account_title
            uacs_counter1++;
    })


    const searchField = document.querySelector('#search_field2');
    const button = document.querySelector('#export-file');
    const container = document.getElementById('example');
    const hot = new Handsontable(container, {
        data: data,
        colWidths: [350, 350, 350],
        rowHeaders: true,
        colHeaders: ['REALIGNMENT FROM', 'REALIGNMENT TO', 'AMOUNT', 'ID', 'TOKEN'],
        columns: [
            {
                type: 'dropdown',
                source: uacs_data
            },
            {
                type: 'dropdown',
                source: uacs_data1
            },
            {

            },
            {
                //HIDDEN ID
            },
            {
                //HIDDEN TOKEN
            },

        ],
        undo: true,
        search: {
            searchResultClass: 'search-result-custom'
        },
        contextMenu: ['row_above', 'row_below', 'remove_row'],
        beforeRemoveRow: function (index, column) {
            var selection = this.getSelected();
            var holder_data = this.getData();
            var single_token = holder_data[selection[0][0]][4];

            var first_column = selection[0][0];
            var last_column = selection[0][2];
            console.log(first_column);
            console.log(last_column);
            var many_token = [];
            for (var j = first_column; j <= last_column; j++) {
                many_token.push({
                    many_token: holder_data[j][4]
                })
            }

            if (single_token) {
                var ajax_data = {
                    "single_token": single_token,
                    "many_token": many_token,
                };

                ajaxServer(ajax_data,'@Url.Action("DeleteFundsRealignment", "FundsRealignment")');
            }

        },
        afterUndo: function (index, column) {

        },
        afterCreateRow: function (row, column) {

            console.log(row);
            console.log(column);
            hot.setDataAtCell(row, 4, guid());
        },
        afterChange: function (changes, source) {
            if (source === 'loadData') {
                return; //don't save this change
            }

            console.log(changes);

            var ajax_data = [];
            $(".fundsource_amount").html();
            fundsource_amount = 0;
            $.each(hot.getSourceData(), function () {
                ajax_data.push(
                    {
                        Realignment_from: this[0] ? this[0] : " ",
                        Realignment_to: this[1] ? this[1] : " ",
                        Realignment_amount: this[2] ? this[2] : " ",
                        fundsource_id: @ViewBag.fundsource_id,
                        token: this[4]
                    }
                );
                fundsource_amount += parseInt(this[2]);
            });
            $(".fundsource_amount").html(fundsource_amount);
             ajaxServer(ajax_data, '@Url.Action("SaveFundsRealignment", "FundsRealignment")');
        },
        height: 'auto',
        hiddenColumns: {
            columns: [3,4],
            indicators: true
        },
        licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
    });

    var tableData = JSON.stringify(hot.getSourceData());
    console.log(hot.getSourceData());

</script>
