@{
    ViewData["Title"] = "SAOB";
}

﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!--<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>SAOB Reports</h3>
            <form action="@Url.Action("Export","Reports")" method="post">
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td>Format</td>
                        <td>
                            <select name="format" class="form-control" readonly="readonly" tabindex="-1" aria-disabled="true">-->
@*<option value="pdf">PDF</option>*@
<!--<option value="excel">EXCEL</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date From</td>
                        <td><input type="date" name="date_from" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Date To</td>
                        <td><input type="date" name="date_to" class="form-control" /></td>
                    </tr>
                    <tr >
                        <td></td>
                        <td> <button type="submit" class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-print"></span> Print</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>-->

<div class="space space-10"></div>
<div class="col-md-3" style="margin-left: 25px">
    <div class="widget-box">
        <div class="widget-header">

            <h4 class="widget-title"> <span class="glyphicon glyphicon-list-alt"></span> Saob Reports</h4>

            <span class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </span>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form action="@Url.Action("Export","Reports")" method="post">
                    @Html.AntiForgeryToken()
                    <label>Format: </label>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <select name="format" class="form-control"  tabindex="-1" aria-disabled="true" disabled>
                                <option value="excel">EXCEL</option>
                            </select>
                        </div>
                    </div>
                    <div class="space space-8"></div>
                    <label>Date From: </label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div>
                                <input class="form-control" type="date" name="date_from" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                    </div>

                    <div class="space space-8"></div>
                    <label>Date To: </label>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div>
                                <input class="form-control" type="date" name="date_to" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                    </div>

                    <div class="space space-8"></div>
                    <div class="row">
                        <div class="" >
                            <div class="col-xs-12 col-sm-12" >
                                  <button type="submit" class="btn btn-success btn-sm pull-right"> <span class="glyphicon glyphicon-download-alt"></span> Download</button>
                            </div>
                        </div>
                    </div>

                  

                </form>
                    
            </div>
    

        </div>

    </div>
</div>
<<<<<<< HEAD



=======
<<<<<<< HEAD



=======
>>>>>>> 89edf3bc83536de35c2ba8379100e7abb953347f
>>>>>>> 9c4b4060ced50957a14a2a6ced91b90bd2b81d47



@*<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Add previous conap to the current allotment?</label>
                    @Html.DropDownList("Conap", null, htmlAttributes: new { @class = "js-example-basic-multiple form-control", @multiple = "multiple" })
                </div>
            </div>
        </div>
    </div>*@

