@model fmis.Models.Sub_allotment
@using fmis.Models;
@*@{

        Budget_allotment Budget_allotment = new Budget_allotment();
        FundSource FundSource = TempData["FundSource"] as FundSource;
        List<Uacs> Uacs = TempData["Uacs"] as List<Uacs>;
    }*@


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Create">
    <input type="hidden" name="Id" value="@ViewBag.Id" />
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Create Sub Allotment
        <div class="pull-right">
            <div class="btn-group">
                <input type="submit" value="Create" class="btn btn-success btn-xs" />
                <a asp-action="Index" class="btn btn-danger btn-xs">Exit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <select class="form-control" asp-for="FundSourceId" name="Budget_allotmentBudgetAllotmentId" value="@ViewBag.Message" asp-items="@(new SelectList(ViewBag.message,"Id","pap_title"))"></select>
                    <label asp-for="PrexcCode" class="control-label"></label>
                    <input asp-for="PrexcCode" class="form-control" required />
                    <span asp-validation-for="PrexcCode" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <label asp-for="Prexc" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id">
                    <option value="">-- Select Prexc --</option>
                </select>
                <span asp-validation-for="Id" class="text-danger" />
            </div>

            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id">
                    <option value="">-- Select Department --</option>
                </select>*@
            @*<label asp-for="PrexcCode" class="control-label"></label><br />
                @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="PrexcCode" class="text-danger"></span>*@
            @*</div>*@

            @*  <div class="form-group">
                    <label asp-for="PrexcCode" class="control-label"></label>
                    <div class="col-md-10">
                        @Html.DropDownList("Id", String.Empty)
                        @Html.ValidationMessageFor(model => model.Id)
                    </div>
                </div>*@

            <div class="form-group">
                <label asp-for="Suballotment_title" class="control-label"></label>
                <input asp-for="Suballotment_title" class="form-control" required />
                <span asp-validation-for="Suballotment_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Suballotment_code" class="control-label"></label>
                <input asp-for="Suballotment_code" class="form-control" required />
                <span asp-validation-for="Suballotment_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsibility_number" class="control-label"></label>
                <input asp-for="Responsibility_number" class="form-control" required />
                <span asp-validation-for="Responsibility_number" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>