@model fmis.Models.Sub_allotment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sub_allotment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prexe_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prexe_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Suballotment_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Suballotment_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Suballotmenent_title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Suballotmenent_title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orc_head)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orc_head)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Responsibility_number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Responsibility_number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
