@model List<fmis.Models.Sub_allotment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: #438eb9;">Sub Allotment</h3>
<hr />
<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">
        <i class="ace-icon fa fa-plus "></i>Add New Sub Allotment
    </a> | <a class="btn btn-warning pull-right" asp-controller="Budget_allotments" asp-action="Index">Back to Budget Allotment</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Fund Source Code
            </th>
            <th>
                Fund Source Title
            </th>
            @* <th>
                    ORS Head
                </th>*@
            <th>
                Actions
            </th>
            <th>Funds Realignment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Suballotment_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suballotment_title)
                </td>
                @*  <td>
                        @Html.DisplayFor(modelItem => item.BudgetAllotmentId)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SubId" class="btn btn-info btn-sm">Edit<span class="glyphicon glyphicon-edit"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.SubId" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteModalCenter">Delete<span class="glyphicon glyphicon-trash"></span></a>
                </td>
                <td>
                    <a asp-controller="SubAllotment_Realignment" asp-action="Index" class="btn btn-info"><span class="glyphicon glyphicon-transfer"></span>SubAllotment_Realignment</a>
                </td>
            </tr>
         }
    </tbody>
</table>
