@model fmis.Models.Yearly_reference

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Yearly_reference</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.YearlyReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearlyReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary"asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-default"asp-action="Index">Back to List</a>
</div>
