@model IEnumerable<fmis.Models.Yearly_reference>

@{
    ViewData["Title"] = "Index";
}

<h3 class="grey lighter smaller">
    Yearly Budget Reference
</h3>
<hr>
<p>
    <a class="btn btn-sm btn-success" asp-action="Create">
        <i class="ace-icon fa fa-plus"></i>Create New
    </a>
</p>
<br />
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.YearlyReference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.YearlyReference)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.YearlyReferenceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.YearlyReferenceId">Details</a> |-->
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.YearlyReferenceId">
                        <i class="ace-icon fa fa-trash"></i>Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
