@model fmis.ViewModel.PrViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .select2-container--default .select2-selection--single {
        width: 350px;
    }

    table {
      border-collapse: collapse;
    }

    .td-height {
      height: 20px;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="my_modal" class="modal-dialog modal-lg" style="width: 90%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal_content">
                <link href="https://mis.cvchd7.com/dts/resources/assets/css/print.css" rel="stylesheet"><style>
                                                                                                            #border-top {
                                                                                                                border-collapse: collapse;
                                                                                                                border-top: none;
                                                                                                            }

                                                                                                            #border-bottom {
                                                                                                                border-collapse: collapse;
                                                                                                                border-bottom: none;
                                                                                                            }

                                                                                                            .align {
                                                                                                                text-align: center;
                                                                                                            }

                                                                                                            .align-top {
                                                                                                                vertical-align: top;
                                                                                                            }

                                                                                                            small {
                                                                                                                color: red;
                                                                                                            }
                </style><form method="post" id="form" action="https://mis.cvchd7.com/dts/prr_supply_post">
                    <input type="hidden" name="_token" value="YravfoTmevuyJdk7TRgaydCKqpzNLHKreK6jktxT" autocomplete="off">
                    <span id="getDesignation" data-link="https://mis.cvchd7.com/dts/getDesignation"></span>
                    <span id="url" data-link="https://mis.cvchd7.com/dts/prr_supply_append"></span>
                    <span id="token" data-token="YravfoTmevuyJdk7TRgaydCKqpzNLHKreK6jktxT"></span>
                    <input type="hidden" name="doc_type" value="PRR_S" autocomplete="off">
                    <input type="hidden" value="985241" name="prepared_by" autocomplete="off">
                    <div class="modal-body">
                        <div class="content-wrapper">
                            <!-- Main content -->
                            <section class="invoice">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        @*<tr>
                                        <td class="align"><img src="https://mis.cvchd7.com/dts/resources/img/doh.png" width="100"></td>
                                        <td width="90%">
                                        <div class="align small-text">
                                        Republic of the Philippines<br>
                                        DEPARTMENT OF HEALTH<br>
                                        <strong>CENTRAL VISAYAS CENTER for HEALTH DEVELOPMENT</strong><br>
                                        Osmeña Boulevard,Sambag II,Cebu City, 6000 Philippines<br>
                                        Regional Director’s Office Tel. No. (032) 253-6355 Fax No. (032) 254-0109<br>
                                        Official Website: http://www.ro7.doh.gov.ph Email Address: dohro7@gmail.com<br>
                                        </div>
                                        </td>
                                        <td class="align"><img src="https://mis.cvchd7.com/dts/resources/img/f1.jpg" width="100"></td>
                                        </tr>*@
                                    </tbody>
                                </table>
                                <table class="letter-head" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            @*<td class="align" style="border-right: none;"><img src="https://mis.cvchd7.com/dts/resources/img/doh.png" width="80"></td>*@
                                            <td colspan="7" class="align" style="text-align: center;">
                                                <img src="https://mis.cvchd7.com/dts/resources/img/doh.png" width="70" style="float: left; margin-right: 10px;">
                                                <strong>PURCHASE REQUEST</strong><br><br>
                                                DOH - Central Visayas Center for Health Development<br>
                                                <strong>(Agency)</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Division:</td>
                                            <td colspan="2">Office of the RD / ARD </td>
                                            <td colspan="2">PR NO.: <input type="text" asp-for="Pr.Prno" autocomplete="off" style="width: 140px"></td>
                                            <td colspan="5">Date: <input type="date" name="pr_date" required="" autocomplete="off" style="width: 120px"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Section/Unit:</td>
                                            <td colspan="2">Information and Communication Technology Unit(RD-ARD)</td>
                                            <td colspan="2">SAI NO.:</td>
                                            <td colspan="5">Date: <input type="date" name="pr_date" required="" autocomplete="off" style="width: 120px"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="td-height"></td>
                                            <td colspan="2" class="td-height"></td>
                                            <td colspan="2" class="td-height">ALOBS NO.:</td>
                                            <td colspan="5" class="td-height">Date: <input type="date" name="pr_date" required="" autocomplete="off" style="width: 120px"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Expense Type</b></td>
                                            <td><b>Unit of Issue</b></td>
                                            <td width="40%"><b>Item Description</b></td>
                                            <td><b>Quantity</b></td>
                                            <td colspan="2"><b>Estimated Unit Cost</b></td>
                                            <td colspan="2"><b>Estimated Cost</b></td>
                                        </tr>
                                    </thead>
                                    <tbody class="input_fields_wrap">
                                        <tr>
                                            <td id="border-bottom">
                                                <select id="expenses" asp-for="SelectedExpenseId" asp-items="@(new SelectList(Model.Expenses, "Id", "Description"))" style="width: 200px; height: 37px">
                                                    <option value="">Select Expense</option>
                                                </select>
                                            </td>
                                            <td id="border-bottom" class="issue1 align-top">
                                                <br>
                                                <input type="text" id="unit" autocomplete="off">
                                                <small>required!</small>
                                            </td>
                                            <td id="border-bottom" class="description1 align-top">
                                                <br>
                                                <select id="items" asp-for="SelectedItemId" asp-items="@(new SelectList(Model.Items, "Id", "Description"))" style="width: 350px; height: 37px">
                                                    <option value="">Select Item</option>
                                                </select>
                                            </td>
                                            <td id="border-bottom" class="qty1 align-top">
                                                <br>
                                                <input type="text" id="qty" autocomplete="off">
                                                <small id="E_qty1">required!</small>
                                            </td>
                                            <td id="border-bottom" class="unit_cost1 align-top" colspan="2">
                                                <br>
                                                <input type="text" id="unitCost" required="" autocomplete="off"><small id="E_unit_cost1">required!</small>
                                            </td>
                                            <td id="border-bottom" class="estimated_cost1 align-top">
                                                <br>
                                                <input type="text" id="estimated_cost" class="form-control" autocomplete="off">
                                                <strong style="color:green;"></strong><strong style="color:green" id="e_cost1"></strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td id="border-top"></td>
                                            <td id="border-top"></td>
                                            <td id="border-top"></td>
                                            <td id="border-top"></td>
                                            <td id="border-top" colspan="2"></td>
                                            <td id="border-top"><button onclick="add();">Add new</button></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6"><b style="float: right">GRAND TOTAL</b></td>
                                            <td class="align-top">
                                                <input type="hidden" name="amount" id="amount" autocomplete="off">
                                                <strong style="color: red;"></strong><strong style="color:red" id="total"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="align">
                                                <h3>Certification</h3>
                                                This is to certify that dilligent efforts have been exerted to ensure that the price/s indicated above(in relation to the specifications) is/are within the prevailing market price/s.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="purpose">Purpose:</label>
                                            </td>
                                            <td colspan="6">
                                                <textarea class="form-control" id="purpose" name="purpose" required=""></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Fund Chargeable To:</label>
                                            </td>
                                            <td colspan="4">
                                                <textarea class="form-control" name="charge_to" required=""></textarea>
                                            </td>
                                            <td colspan="2">
                                                <label>Cash Advance of:</label>
                                                <input type="hidden" class="form-control" autocomplete="off">
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <table class="letter-head" style="margin-top: 2%">
                                    <tbody>
                                        <tr>
                                            <td width="15%">
                                                <label for="">Signature:</label><br>
                                                <label for="">Printed Name:</label><br>
                                                <label for="">Designation:</label><br>
                                            </td>
                                            <td width="23%">
                                                <label for="">Requested by:</label><br/>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <label for="">Recommending Approval:</label><br />
                                                <select class="form-control select2basic" asp-items="ViewBag.Approval"></select>
                                            </td>
                                            <td class="align" width="35%">
                                                <label for="">Approved By</label><br>
                                                <strong>JAIME S. BERNADAS, MD, MGM, CESO III</strong><br>
                                                Director IV
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-send"></i> Submit
                                    </button>
                                </div>
                            </section>
                        </div>
                    </div>
                </form>
                <!-- /.content -->
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

    $(document).ready(function () {
        $('.select2basic').select2();
    });

    $(document).ready(function () {
        // Listen for changes in the dropdown
        $("#items").on("change", function () {
            // Get the selected value from the dropdown
            var selectedValue = $(this).val();

            // Make an AJAX request to the server to get the value of another column
            $.ajax({
                type: "GET",
                url: "/Employee/GetUnit", // Replace with your controller and action name
                data: { id: selectedValue },
                success: function (response) {
                    // Update the input field with the retrieved value
                    $("#unit").val(response);
                },
                error: function (xhr, status, error) {
                    // Optional: Handle errors if the request fails
                }
            });

            $.ajax({
                type: "GET",
                url: "/Employee/GetUnitCost", // Replace with your controller and action name
                data: { id: selectedValue },
                success: function (response) {
                    // Update the input field with the retrieved value
                    $("#unitCost").val(response);
                },
                error: function (xhr, status, error) {
                    // Optional: Handle errors if the request fails
                }
            });

        });
    });
    //Estimated Unit Cost
    const unitCostInput = document.getElementById('unitCost');
    const qtyInput = document.getElementById('qty');
    const estimatedCostInput = document.getElementById('estimated_cost');

    unitCostInput.addEventListener('input', updateEstimatedCost);
    qtyInput.addEventListener('input', updateEstimatedCost);

    function updateEstimatedCost() {
        const unitCost = parseFloat(unitCostInput.value);
        const qty = parseFloat(qtyInput.value);

        if (!isNaN(unitCost) && !isNaN(qty)) {
            const estimatedCost = unitCost * qty;

            estimatedCostInput.value = estimatedCost.toLocaleString();
        } else {
            estimatedCostInput.value = '';
        }
    }

    //items
    $(document).ready(function () {
        $("#expenses").change(function () {
            var selectedExpenseId = $(this).val();
            if (selectedExpenseId !== "") {
                $.ajax({
                    type: "GET",
                    url: @Url.Action("GetItemsId", "Employee"),
                    data: { expenseId: selectedExpenseId },
                    success: function (data) {
                        $("#items").empty();
                        $.each(data, function (index, item) {
                            $("#items").append('<option value="' + item.id + '">' + item.description + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                    }
                });
            } else {
                $("#items").empty();
            }
        });
    });
    //
    //new items
    function add() {
        const newRow = document.querySelector('.input_fields_wrap tr:first-child').cloneNode(true);

        // Clear the input values in the new row (if needed)
        const inputs = newRow.querySelectorAll('input, select');
        inputs.forEach(input => {
            input.value = '';
        });

        // Fetch data for the new select element using AJAX
        const selectedExpenseId = newRow.querySelector('#expenses').value;
        if (selectedExpenseId !== "") {
            $.ajax({
                type: "GET",
                url: @Url.Action("GetItemsId", "Employee"),
                data: { expenseId: selectedExpenseId },
                success: function (data) {
                    const newSelect = newRow.querySelector('#items');
                    newSelect.innerHTML = '<option value="">Select Item</option>'; // Reset options
                    data.forEach(item => {
                        newSelect.innerHTML += `<option value="${item.id}">${item.description}</option>`;
                    });

                    // Append the new row to the table
                    const tableBody = document.querySelector('.input_fields_wrap');
                    tableBody.appendChild(newRow);
                },
                error: function (xhr, status, error) {
                    // Handle error
                }
            });
        } else {
            // If no expense is selected, just append the new row without populating items.
            const tableBody = document.querySelector('.input_fields_wrap');
            tableBody.appendChild(newRow);
        }

        // Add an event listener to the new row's expenses dropdown
        newRow.querySelector('#expenses').addEventListener('change', function () {
            const selectedExpenseId = this.value;
            if (selectedExpenseId !== "") {
                $.ajax({
                    type: "GET",
                    url: @Url.Action("GetItemsId", "Employee"),
                    data: { expenseId: selectedExpenseId },
                    success: function (data) {
                        const newSelect = newRow.querySelector('#items');
                        newSelect.innerHTML = '<option value="">Select Item</option>'; // Reset options
                        data.forEach(item => {
                            newSelect.innerHTML += `<option value="${item.id}">${item.description}</option>`;
                        });
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                    }
                });
            } else {
                // If no expense is selected, reset the items dropdown.
                const newSelect = newRow.querySelector('#items');
                newSelect.innerHTML = '<option value="">Select Item</option>';
            }
        });
    }
    //
</script>