
@model IEnumerable<fmis.Models.RespoCenter>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- CREATE MODAL -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--EDIT MODAL-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--DELETE MODAL-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<h3 class="grey lighter smaller">
    Respo Center
</h3>
<hr>
<p>
    <a asp-action="Create" class="btn btn-success btn-sm" data-toggle="modal" data-target="#CreateModal">
        <i class="ace-icon fa fa-plus "></i>Create New
    </a>
</p>
<br />
<table class ="table table-striped" style="width: 900px">
    <thead>
        <tr>
            <th>
                Respo Name
            </th>
            <th>
                Respo Code
            </th>
            <th>
                Resquestinf Office
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Respo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RespoCode)
                </td>
                <td>
                    @*@Html.DropDownList("ViewBag.Pi", null, htmlAttributes: new { @class = "form-control"})*@
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#EditModal" asp-route-id="@item.RespoId">
                        <i class="ace-icon fa fa-edit"></i>Edit</a> |
                    <a  class="btn btn-xs btn-danger" href="@Url.Action("Delete","RespoCenter",new { id = @item.RespoId })" onclick="return confirm('Do you want to delete this Allotment Class?');" >
                        <i class="ace-icon fa fa-trash"></i>Delete
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>
