<style>
    @*td:nth-child(2) {
        background-color: red;
    }*@

</style>

<h3 class="grey lighter smaller">
    TEMP HANDSONTABLE
</h3>
<hr>

<div class="modal" id="createModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="temp_create">

            </div>
        </div>
    </div>
</div>
<div class="modal" id="editModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="temp_edit">

            </div>
        </div>
    </div>
</div>





<script>
       function createTemp(BudgetAllotmentId) {
         $("#createModal").modal({ backdrop: 'static', keyboard: false });
         $("#temp_create").html(loading);

         var AllotmentClassId = @ViewBag.AllotmentClassId;
           var AppropriationId = @ViewBag.AppropriationId;

              
         var url = '@Url.Action("Create", "Temp")';
         url += "?AllotmentClassId="+AllotmentClassId+"&AppropriationId="+AppropriationId+"&BudgetAllotmentId=" + BudgetAllotmentId;
         $.get(url, function (result) {
            setTimeout(function () {
                $("#temp_create").html(result);
            }, 500);
         });
     }

     function editTemp(BudgetAllotmentId, fund_source_id) {
         $("#editModal").modal({ backdrop: 'static', keyboard: false });
         $("#temp_edit").html(loading);
         var AllotmentClassId = @ViewBag.AllotmentClassId;
         var AppropriationId = @ViewBag.AppropriationId;
         var url = '@Url.Action("Edit", "Temp")';
         //url += "?budget_id=" + BudgetAllotmentId + "&fund_source_id=" + fund_source_id
         url += "?AllotmentClassId=" + AllotmentClassId + "&AppropriationId=" + AppropriationId + "&BudgetAllotmentId=" + BudgetAllotmentId + "&fund_source_id=" + fund_source_id;
         $.get(url, function (result) {
            setTimeout(function () {
                $("#temp_edit").html(result);
            }, 500);
         });
     }
</script>