@model List<fmis.Models.Procurement.Abstract>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement" + " " + "(Abstract)";
}


<style>
    .ui-datepicker {
        width: 250px !important;
    }
</style>

<h3 class="grey lighter smaller">
    ABSTRACT
</h3>
<hr>

<div class="col-xs-12">
    <div id="editAbstract" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="smaller lighter blue no-margin">Update Abstract</h3>
                </div>
                <form>
                    <div class="modal-body">
                        <div>
                            <h4 class="grey lighter smaller">
                                Please complete the form.
                            </h4>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> ABSTRACT NO. </label>
                                        <input type="text" class="form-control" id="abstractNo" name="AbstractNo" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">ABSTRACT DATE </label>
                                        <input type="text" class="form-control" id="abstractDate" name="AbstractDate" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">  PR NO./ DATE </label>
                                        <select class="form-control" id="prNoWithDate" name="PrNoWithDate" asp-items="ViewBag.PrWithDate">
                                            <option>Select Pr</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> REMARKS </label>
                                        <textarea class="form-control" id="remarks" name="Remarks"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">  CANVASS NO./DATE  </label>
                                        <select class="form-control" id="canvassNoWithDate" name="CanvassNoWithDate" asp-items="ViewBag.CanvassWithDate">
                                            <option>Select Canvass</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Date" style="font-weight:bold"> RECOMMENDED AWARD</label>
                                        <input type="text" class="form-control" id="recommendedAward" name="RecommendedAward">
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">RMOP</label>
                                        <select class="form-control" id="rmop" name="Rmop">
                                            <option value="AGENCY TO AGENCY">AGENCY TO AGENCY</option>
                                            <option value="DIRECT CONTRACTING (DRUGS AND MEDS)">DIRECT CONTRACTING (DRUGS AND MEDS)</option>
                                            <option value="EMERGENCY CASES (DRUGS AND MEDS)">EMERGENCY CASES (DRUGS AND MEDS)</option>
                                            <option value="LEASE OF VENUE (GOODS)">LEASE OF VENUE (GOODS)</option>
                                            <option value="PUBLIC BIDDING (GOODS AND EQUIPMENT)">PUBLIC BIDDING (GOODS AND EQUIPMENT)</option>
                                            <option value="PS-DBM">PS-DBM</option>
                                            <option value="SCIENTIFIC SCHOLARLY">SCIENTIFIC SCHOLARLY</option>
                                            <option value="SMALL VALUE PROCUREMENT (GOODS AND EQUIPMENT)">SMALL VALUE PROCUREMENT (GOODS AND EQUIPMENT)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-xs btn-primary" id="saveChanges">Update <span class="fa fa-check-square-o"></span> </button>
                        <a data-dismiss="modal" class="btn btn-xs btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p>
    <a class="btn btn-success btn-sm" href="#my-modal" role="button" data-toggle="modal">
        <i class="ace-icon fa fa-plus "></i>Create New
    </a>
</p>
<h1 style="margin-left : 200px; font-weight:bold;">2023 ABSTRACT LOG BOOK</h1>
<br />
<table class="table table-hover" style="width: 1200px">
    <thead>
        <tr>
            <th>
                ABSTRACT NO.
            </th>
            <th>
                ABSTRACT DATE
            </th>
            <th>
                PR NO./ DATE
            </th>
            <th>
                CANVASS NO./DATE
            </th>
            <th>
                RECOMMENDED AWARD
            </th>
            <th>
                RMOP
            </th>
            <th>
                REMARKS
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count > 0)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.AbstractNo
                    </td>
                    <td>
                        @item.AbstractDate.ToString("MMM d, yyyy")
                    </td>
                    <td>
                        @item.PrNoWithDate
                    </td>
                    <td>
                        @item.CanvassNoWithDate
                    </td>
                    <td>
                        @item.RecommendedAward
                    </td>
                    <td>
                        @item.Rmop
                    </td>
                    <td>
                        @item.Remarks
                    </td>
                    <td>
                        <a class="btn btn-xs btn-primary btn-edit" data-id="@item.Id">
                            <i class="ace-icon fa fa-edit"></i>Edit
                        </a> |
                        <a class="btn btn-xs btn-primary" id="bacSignature" data-id="@item.Id">
                            <i class="ace-icon fa fa-users"></i>Forward to BAC
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    <div class="alert alert-danger">
                        No data found.
                    </div>
                </td>
            </tr>
        }
        

    </tbody>
</table>

@await Html.PartialAsync("_AddAbstract")

<script>

    var itemId;
    $(document).ready(function () {
        $(".btn-edit").click(function () {
            itemId = $(this).data("id");

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAbstract", "Procurement")',
                data: { id: itemId },
                success: function (data) {
                    $("#abstractNo").val(data.abstractNo);
                    $("#abstractDate").val(data.abstractDate);
                    $("#prNoWithDate").val(data.prNoWithDate);
                    $("#canvassNoWithDate").val(data.canvassNoWithDate);
                    $("#recommendedAward").val(data.recommendedAward);
                    $("#remarks").val(data.remarks);
                    $("#rmop").val(data.rmop);
                    $("#editAbstract").modal("show");
                }
            });
        });

        $("#abstractDate").datepicker({
            dateFormat: "MM d, yy"

        });

        $("#saveChanges").click(function (e) {
            e.preventDefault();
            var newData = {
                Id: itemId,
                AbstractNo: $("#abstractNo").val(),
                AbstractDate: $("#abstractDate").val(),
                PrNoWithDate: $("#prNoWithDate").val(),
                CanvassNoWithDate: $("#canvassNoWithDate").val(),
                RecommendedAward: $("#recommendedAward").val(),
                Rmop: $("#rmop").val(),
                Remarks: $("#remarks").val(),

            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateAbstract", "Procurement")',
                data: JSON.stringify(newData),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'Data saved successfully..',
                            sound: false
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error submitting the form..',
                            sound: false
                        });
                        setTimeout(function () {
                            $("#editAbstract").modal("hide");
                            location.reload();
                        }, 1000);
                    }
                }
            });
        });

        $("#bacSignature").on("click", function (e) {
            e.preventDefault();
            
            var id = $(this).data("id");
            console.log(id);

            $.ajax({
                url: "@Url.Action("BacSignature", "Procurement")",
                type: "POST",
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: response.message
                        });
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: response.message
                        });
                    }
                },
                error: function () {
                    Lobibox.notify('error', {
                        size: 'mini',
                        title: 'Error',
                        msg: 'An error occurred during the request.'
                    });
                }
            });
        });
    });
</script>