@model List<fmis.Models.Procurement.RmopLov>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement" + " " + "(LeaseOfVenue)";
}

<style>

    .card-container {
        width: calc(70% - 10px); /* Adjust the total width by considering padding (20px on each side) */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        margin-left: 50px;
    }

    /* Media query for tablets (landscape and portrait) */
    @@media (max-width: 1024px) {
        .card-container {
            width: calc(80% - 40px); /* Adjust width for tablets */
        }
    }

    /* Media query for mobile devices */
    @@media (max-width: 767px) {
        .background-wrapper {
            min-height: 100vh;
        }

        .card-container {
            width: 90%; /* Adjust width for mobile devices */
        }
    }



    .rectangle h2 {
        white-space: nowrap;
        margin-top: 5px; /* Add space at the top */
        margin-bottom: 5px; /* Add space at the bottom */
    }

    .rectangle h6 {
        white-space: nowrap;
    }

    .rectangle {
        border: 1px solid black;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: fit-content;
        display: inline-block;
    }

    .TnR {
        font-family: 'Times New Roman';
        margin: 0;
        padding: 0;
    }

    .justify {
        text-align: justify;
    }


    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    }

    .grid-item {
        padding: 5px; /* Add padding for spacing within each grid item */
        text-align: center;
        margin-top: 20px; /* A/* Center-align the text within each grid item */
    }

    .logo-container {
        float: left; /* Float the logo container to the left */
        /* Adjust the margin as needed */
    }

    /* Style for the logo image */
    .logo-image {
        max-width: 100px; /* Adjust the max-width of the logo image */
    }

</style>
<h3 class="grey lighter smaller">
    RMOP LEASE OF VENUE (GOODS)
</h3>
<hr>
@{
    // Get the current year
    int currentYear = DateTime.Now.Year;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 card-container">
            <form>
                <div class="logo-container">
                    <img src="~/assets/images/doh_logo_updated.png" alt="Logo" style="margin-left:160px" class="logo-image" />
                </div>
                <center>
                    <div style="margin-right: 300px;">
                        <p class="TnR">Republic of the Philippines</p>
                        <p class="TnR">Department Of Health </p>
                        <h4 class="TnR" style="font-weight:bold">CENTRAL VISAYAS CENTER for HEALTH DEVELOPMENT </h4>
                        <br />
                        <br />
                        <h5 class="TnR" style="font-weight:bold">
                            BAC RESOLUTION NO.
                            <b id="bacNo" data-type="select">______ </b>
                            <input type="hidden" name="BacNo" id="BacNoHidden" />
                            -AMP s. @currentYear
                        </h5>
                    </div>
                    <br />
                    <h5 class="TnR" style="font-weight:bold">
                        “RECOMMENDING THE USE OF ALTERNATIVE MODE OF <br />
                        PROCUREMENT: NEGOTIATED PROCUREMENT (LEASE OF REAL  <br />
                        PROPERTY AND VENUE) UNDER SEC. 53.10 OF THE REVISED <br />
                        IMPLEMENTING RULES AND REGULATIONS OF RA 9184.”<br />
                        __________________________________________________________________________________
                    </h5>
                    <br />
                </center>
                <div class="justify">
                    <h5 style="margin-left:300px;" class="TnR"><b>WHEREAS,</b> pursuant to Sec. 48.2, in relation to Sec. 10 of the IRR, as a general rule, the </h5>
                    <h5 style="margin-left:245px;" class="TnR"> Procuring Entity shall adopt competitive bidding as the general method of procurement and that  </h5>
                    <h5 style="margin-left:245px;" class="TnR">  alternative methods of procurement shall be resorted to only in highly exceptional cases provided for in </h5>
                    <h5 style="margin-left:245px;" class="TnR"> the rules; </h5>
                    <br />
                    <h5 style="margin-left:300px;" class="TnR"> <b>WHEREAS,</b> Sec. 53, in relation to Sec. 53.10, of the IRR provides that Negotiated  </h5>
                    <h5 style="margin-left:245px;" class="TnR"> Procurement is a method of procurement of Goods, Infrastructure Projects and Consulting services, </h5>
                    <h5 style="margin-left:245px;" class="TnR"> whereby the Procuring Entity directly negotiates a contract with a technically, legally, and financially </h5>
                    <h5 style="margin-left:245px;" class="TnR"> capable supplier, contractor, or consultant in instances such as in <b>LEASE OF REAL PROPERTY</b> </h5>
                    <h5 style="margin-left:245px;" class="TnR"> <b>AND VENUE</b>; </h5>
                    <br />
                    <h5 style="margin-left:300px;" class="TnR">
                        <b>WHEREAS,</b> corollary thereto, Purchase Request No. <b id="prNoOne" data-type="select">______ </b>
                        <input type="hidden" name="PrNoOne" id="PrNoOneHidden" /> for the Procurement of
                    </h5>
                    <input type="text" name="PrDescriptionOne" style="border: none; border-bottom: 1px solid black; text-align: center; margin-left: 245px; width: 640px; font-family: 'Times New Roman'; font-size: 14px;">
                    <h5 style="margin-left:245px;" class="TnR"> ________________________________________________________________________________ in the</h5>
                    <h5 style="margin-left:245px;" class="TnR"> amount of PHP <input type="text" style="border: none; border-bottom: 1px solid black; width: 80px;" name="PrAmountOne"> was referred to the Bids and Awards Committee for processing; </h5>
                    <br />
                    <h5 style="margin-left:300px;" class="TnR"> <b>WHEREAS,</b> after evaluation of the purchase request vis-à-vis the implementing rules and </h5>
                    <h5 style="margin-left:245px;" class="TnR"> upon confirmation of the existence of the conditions allowing the same, the BAC has come to a   </h5>
                    <h5 style="margin-left:245px;" class="TnR"> resolution that resort to the Alternative Mode of Procurement: Negotiated Procurement (Lease of Real   </h5>
                    <h5 style="margin-left:245px;" class="TnR"> Property and Venue) under Sec. 53.10 of the IRR would be most advantageous to the government and is </h5>
                    <h5 style="margin-left:245px;" class="TnR"> essentially the most applicable recourse given the availing circumstances;  </h5>
                    <br />
                    <h5 style="margin-left:300px;" class="TnR"> <b>NOW THEREFORE,</b> above premises considered, resolved as it is hereby resolved, to </h5>
                    <h5 style="margin-left:245px;" class="TnR"> recommend the use of the Alternative Mode of Procurement: Negotiated Procurement (Lease of Real  </h5>
                    <h5 style="margin-left:245px;" class="TnR"> Property and Venue) under Sec. 53.10 of the Revised Implementing  Rules and Regulations of the  </h5>
                    <h5 style="margin-left:245px;" class="TnR">
                        Republic Act No. 9184 for Purchase Request No.
                        <b id="prNoTwo" data-type="select">______ </b>
                        <input type="hidden" name="PrNoTwo" id="PrNoTwoHidden" />
                        , in the amount of PHP
                    </h5>
                    <h5 style="margin-left:245px;" class="TnR"><input type="text" style="border: none; border-bottom: 1px solid black; width: 100px;" name="PrAmountTwo"> for the Procurement of <input type="text" style="border: none; border-bottom: 1px solid black; width: 340px;" name="PrDescriptionTwo"> </h5>
                    <br />
                    <h5 style="margin-left:320px;" class="TnR"> <input type="text" style="border: none; border-bottom: 1px solid black; width: 120px;" name="PrDate"> @currentYear , Cebu City, Philippines. </h5>
                    <br />
                    <br />
                </div>
                <div class="grid-container">
                    <div class="grid-item" style="margin-left:150px;">
                        <h5 class="TnR" style="font-weight:bold; white-space: nowrap; border:none; outline:none" id="signatorypm1"> ATTY. MARISSA C. GOROSIN</h5>
                        <p class="TnR">Provisional Member</p>
                    </div>
                    <div class="grid-item">
                        <h5 class="TnR" style="font-weight:bold; border:none; outline:none" id="signatorypm2">MR. RAMIL R. ABREA</h5>
                        <p class="TnR">Provisional Member</p>
                    </div>
                    <div class="grid-item" style="margin-right:150px;">
                        <h5 class="TnR" style="font-weight:bold; border:none; outline:none" id="signatorym1">MR. ROLDAN A. CUBILLO</h5>
                        <p class="TnR">Member</p>
                    </div>

                    <div class="grid-item" style="margin-left:150px;">
                        <h5 class="TnR" style="font-weight:bold; white-space: nowrap; border:none; outline:none" id="signatorym2">ATTY. JO DAVID Z. BORCES</h5>
                        <p class="TnR">Member</p>
                    </div>

                    <div class="grid-item">
                        <h5 class="TnR" style="font-weight:bold; border:none; outline:none" id="signatoryvc">DR. SOPHIA M. MANCAO</h5>
                        <p class="TnR">Member</p>
                        <br />
                        <br />
                        <br />
                        <h5 class="TnR" style="margin-right:300px;">Approved:</h5>
                        <br />
                        <h5 class="TnR" style="font-weight:bold; border:none; outline:none" id="signatoryd">JAIME S. BERNADAS, MD, MGM, CESO III</h5>
                        <p class="TnR">Director IV</p>
                    </div>

                    <div class="grid-item" style="margin-right:150px;">
                        <h5 class="TnR" style="font-weight:bold; white-space: nowrap; border:none; outline:none" id="signatoryc">DR. JONATHAN NEIL V. ERASMO</h5>
                        <p class="TnR">Vice-Chairperson</p>
                    </div>
                </div>
                <br />
                <div class="col-md-12 bg-light text-right">
                    <button type="submit" class="btn btn-xs btn-primary"> <i class="ace-icon fa fa-check-square-o"></i> Save</button>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <div class="p-3">
                @if (Model.Count > 0)
                {
                    <table class="table table-striped" id="rmopLov">
                        <thead>
                            <tr>
                                <th scope="col">Bac No</th>
                                <th scope="col">PR No</th>
                                <th scope="col">PR Amount</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.BacNo</td>
                                    <td>@item.PrNoOne</td>
                                    <td>@item.PrAmountOne.ToString("##,#00.00")</td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-success addRemarks" data-toggle="modal" data-target=".add-remarks" data-token="@item.Token" data-remarks="@item.Remarks" title="Remarks">
                                            <i class="ace-icon fa fa-sticky-note"></i>
                                        </button>
                                        <a class="btn btn-xs btn-success" target="_blank" href="@Url.Action("PrintLeaseOfVenue","Procurement",new { id = @item.Id })" data-bs-toggle="print" title="Print">
                                            <i class="ace-icon fa fa-file-pdf-o"></i>
                                        </a>
                                        <button class="btn btn-xs btn-success bacSignature" href="#" title="Forward to BAC" data-token="@item.Token" @if (item.IsForBac)
                                        {
                                            <text>disabled</text>
                                        }>
                                            <i class="ace-icon fa fa-users"></i>
                                        </button>

                                        <button class="btn btn-xs btn-success rdSignature" href="#" title="Forward to RD" data-token="@item.Token" @if (item.IsForRd)
                                        {
                                            <text>disabled</text>
                                        }>
                                            <i class="ace-icon fa fa-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade add-remarks" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form id="remarksForm">
                    <div class="form-group">
                        <textarea class="form-control" type="text" name="Remarks" rows="3" placeholder="Input Remarks" id="remarksTextArea"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveChangesBtn" class="btn btn-xs btn-primary">Save remarks</button>
            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        var sourceData = @Json.Serialize(ViewBag.BacResNo);
        var prData = @Json.Serialize(ViewBag.Pr);

        $('#rmopLov').DataTable({
            searching: true,
            paging: true,
            pageLength: 10,
            ordering: false,
            lengthChange: false
        });

        $(".addRemarks").click(function (e) {
            e.preventDefault();
            var remarks = $(this).data('remarks');
            $('#remarksTextArea').val(remarks);

            var token = $(this).data("token");
            $("#saveChangesBtn").data("token", token);
        });

        $('.addRemarks').on('hidden.bs.modal', function () {
            $('#remarksTextArea').val('');
        });

        $("#saveChangesBtn").click(function () {
            var token = $(this).data("token");
            var remarks = $("#remarksForm textarea[name='Remarks']").val();

            $.ajax({
                url: '@Url.Action("AddRemarks", "Procurement")',
                type: "POST",
                data: { token: token, remarks: remarks },
                success: function (result) {
                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'Remarks added successfully..',
                            sound: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error adding remarks',
                            sound: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                },
                error: function () {
                    console.error("Error updating Account.");
                }
            });

        });

        //PROVISIONAL MEMBER 1
        $('#signatorypm1').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Signatory',
            success: function (response, newValue) {
                $('#signatorypm1').val(newValue);
            }
        });

        //PROVISIONAL MEMBER 2
        $('#signatorypm2').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Signatory',
            success: function (response, newValue) {
                $('#signatorypm2').val(newValue);
            }
        });

        //MEMBER 1
        $('#signatorym1').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Signatory',
            success: function (response, newValue) {
                $('#signatorym1').val(newValue);
            }
        });

        //MEMBER 2
        $('#signatorym2').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Signatory',
            success: function (response, newValue) {
                $('#signatorym2').val(newValue);
            }
        });

        //MEMBER 3
        $('#signatorym3').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Signatory',
            success: function (response, newValue) {
                $('#signatorym3').val(newValue);
            }
        });

        //VICE CHAIRPERSON
        $('#signatoryvc').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Signatory',
            success: function (response, newValue) {
                $('#signatoryvc').val(newValue);
            }
        });

        //CHAIR PERSON
        $('#signatoryc').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Signatory',
            success: function (response, newValue) {
                $('#signatoryc').val(newValue);
            }
        });

        //REGIONAL DIRECTOR
        $('#signatoryd').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Signatory',
            success: function (response, newValue) {
                $('#signatoryd').val(newValue);
            }
        });


        // Initialize X-Editable
        $('#bacNo').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Bac No',
            success: function (response, newValue) {
                $('#BacNoHidden').val(newValue);
            }
        });
        //Pr No 1
        $('#prNoOne').editable({
            type: 'select',
            source: prData,
            title: 'Select Pr No',
            success: function (response, newValue) {
                $('#PrNoOneHidden').val(newValue);
            }
        });
        //Pr No 2
        $('#prNoTwo').editable({
            type: 'select',
            source: prData,
            title: 'Select Pr No',
            success: function (response, newValue) {
                $('#PrNoTwoHidden').val(newValue);
            }
        });

        $('form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("SaveRmopLov", "Procurement")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result) {
                    //var form = $(this);
                    //var action = form.attr('action');
                    //var data = form.serialize();

                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'RMOP LEASE OF VENUE (GOODS) saved successfully.',
                            sound: false
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error submitting the form.',
                            sound: false
                        });
                    }

                    $('form')[0].reset();
                    $('#BacNoHidden').val('');
                    $('#PrNoOneHidden').val('');
                    $('#PrNoTwoHidden').val('');
                },
                error: function () {
                }
            });
        });

        $(".bacSignature").on("click", function (e) {
            e.preventDefault();

            var token = $(this).data("token");
            console.log(token);

            $.ajax({
                url: "@Url.Action("BacSignature", "Procurement")",
                type: "POST",
                data: { token: token },
                success: function (response) {
                    if (response.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: response.message
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: response.message
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                },
                error: function () {
                    Lobibox.notify('error', {
                        size: 'mini',
                        title: 'Error',
                        msg: 'An error occurred during the request.'
                    });
                }
            });
        });

        $(".rdSignature").on("click", function (e) {
            e.preventDefault();

            var token = $(this).data("token");

            $.ajax({
                url: "@Url.Action("RdSignature", "Procurement")",
                type: "POST",
                data: { token: token },
                success: function (response) {
                    if (response.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: response.message,
                            sound: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: response.message,
                            sound: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                },
                error: function () {
                    Lobibox.notify('error', {
                        size: 'mini',
                        title: 'Error',
                        msg: 'An error occurred during the request.'
                    });
                }
            });
        });
    });
</script>