@model List<fmis.Models.Procurement.RmopPb>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement" + " " + "(PB Infra)";
}

<style>

    .card-container {
        width: calc(70% - 10px); /* Adjust the total width by considering padding (20px on each side) */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        margin-left: 50px;
    }

    /* Media query for tablets (landscape and portrait) */
    @@media (max-width: 1024px) {
        .card-container {
            width: calc(80% - 40px); /* Adjust width for tablets */
        }
    }

    /* Media query for mobile devices */
    @@media (max-width: 767px) {
        .background-wrapper {
            min-height: 100vh;
        }

        .card-container {
            width: 90%; /* Adjust width for mobile devices */
        }
    }



    .rectangle h2 {
        white-space: nowrap;
        margin-top: 5px; /* Add space at the top */
        margin-bottom: 5px; /* Add space at the bottom */
    }

    .rectangle h6 {
        white-space: nowrap;
    }

    .rectangle {
        border: 1px solid black;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: fit-content;
        display: inline-block;
    }

    .TimesNewRoman {
        font-family: 'Times New Roman';
        margin: 0;
        padding: 0;
    }

    .justify {
        text-align: justify;
    }


    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    }

    .grid-item {
        padding: 5px; /* Add padding for spacing within each grid item */
        text-align: center;
        margin-top: 20px; /* A/* Center-align the text within each grid item */
    }

    .logo-container {
        float: left; /* Float the logo container to the left */
        /* Adjust the margin as needed */
    }

    /* Style for the logo image */
    .logo-image {
        max-width: 100px; /* Adjust the max-width of the logo image */
    }

</style>
<h3 class="grey lighter smaller">
    RMOP PUBLIC BIDDING (INFRA)
</h3>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 card-container">
            <form>
                <div class="logo-container">
                    <img src="~/assets/images/doh_logo_updated.png" alt="Logo" style="margin-left:160px" class="logo-image" />
                </div>
                <center>
                    <div style="margin-right: 300px;">
                        <p class="TimesNewRoman">Republic of the Philippines</p>
                        <p class="TimesNewRoman">Department Of Health </p>
                        <h4 class="TimesNewRoman" style="font-weight:bold">CENTRAL VISAYAS CENTER for HEALTH DEVELOPMENT </h4>
                        <br />
                        <br />
                        <h5 class="TimesNewRoman" style="font-weight:bold">
                            BAC RESOLUTION NO.
                            <b id="bacNo" data-type="select">______ </b>
                            <input type="hidden" name="BacNo" id="BacNoHidden" />
                            -AMP s. 2023
                        </h5>
                    </div>
                    <br />
                    <h5 class="TimesNewRoman" style="font-weight:bold">
                        “RECOMMENDING THE USE OF COMPETITIVE BIDDING (PUBLIC  <br />
                        BIDDING) UNDER SEC. 10 OF THE REVISED IMPLEMENTING RULES  <br />
                        AND REGULATIONS OF RA 9184.” <br />
                        __________________________________________________________________________________
                    </h5>
                    <br />
                </center>
                <div class="justify">
                    <h5 style="margin-left:300px;" class="TimesNewRoman"><b>WHEREAS,</b> pursuant to Sec. 10 of the IRR, all procurement shall be done through  </h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman"> competitive bidding, except as provided in Rule XVI;  </h5>
                    <br />
                    <h5 style="margin-left:300px;" class="TimesNewRoman">
                        <b>WHEREAS,</b> corollary thereto, Purchase Request No.
                        <b id="prNoOne" data-type="select">______ </b>
                        <input type="hidden" name="PrNoOne" id="PrNoOneHidden" />
                        for the Procurement of
                    </h5>
                  @*   <input type="text" name="PrDescriptionOne" style="border: none; border-bottom: 1px solid black; text-align: center; margin-left: 245px; width: 580px; font-family: 'Times New Roman'; font-size: 14px;"> *@
                    <h5 style="margin-left:245px;" class="TimesNewRoman"> ________________________________________________________________________ in the</h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman"> amount of PHP <input type="text" style="border: none; border-bottom: 1px solid black; width: 80px;" name="PrAmountOne"> was referred to the Bids and Awards Committee for processing;</h5>
                    <br />
                    <h5 style="margin-left:300px;" class="TimesNewRoman"> <b>WHEREAS,</b> after evaluation of the purchase request vis-à-vis the implementing  </h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman"> rules and finding no substantial ground to depart from the general rule, the BAC has come to a    </h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman"> resolution that Competitive Bidding, as the Mode of Procurement, be adopted for the purchase   </h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman"> request referred to in the immediately preceding clause; </h5>
                    <br />
                    <h5 style="margin-left:300px;" class="TimesNewRoman"> <b>NOW THEREFORE,</b> above premises considered, resolved as it is hereby resolved, </h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman"> to recommend the use of Competitive Bidding (Public Bidding) under Sec. 10 of the Revised  </h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman"> Implementing  Rules and Regulations of the Republic Act No. 9184 for Purchase Request No.   </h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman">
                        <b id="prNoTwo" data-type="select">______ </b>
                        <input type="hidden" name="PrNoTwo" id="PrNoTwoHidden" />, in the amount of PHP <input type="text" style="border: none; border-bottom: 1px solid black; width: 120px;" name="PrAmountTwo"> for the  Procurement of
                    </h5>
                    <h5 style="margin-left:245px;" class="TimesNewRoman"><input type="text" style="border: none; border-bottom: 1px solid black; width: 580px;" name="PrDescriptionTwo">.</h5>
                    <br />
                    @{
                        // Get the current year
                        int currentYear = DateTime.Now.Year;
                    }
                    <h5 style="margin-left:320px;" class="TimesNewRoman"> <input type="text" style="border: none; border-bottom: 1px solid black; width: 120px;" name="PrDate"> @currentYear , Cebu City, Philippines. </h5>
                    <br />
                    <br />
                </div>
                <div class="grid-container">
                    <div class="grid-item" style="margin-left:150px;">
                        <h5 class="TimesNewRoman" style="font-weight:bold"> ENGR. JOEY SALAGANTING</h5>
                        <p class="TimesNewRoman">Provisional Member</p>
                    </div>
                    <div class="grid-item">
                        <h5 class="TimesNewRoman" style="font-weight:bold">ATTY. MARISSA C. GOROSIN</h5>
                        <p class="TimesNewRoman">Provisional Member</p>
                    </div>
                    <div class="grid-item" style="margin-right:150px;">
                        <h5 class="TimesNewRoman" style="font-weight:bold">MR. RAMIL R. ABREA</h5>
                        <p class="TimesNewRoman">Member</p>
                    </div>

                    <div class="grid-item" style="margin-left:150px;">
                        <h5 class="TimesNewRoman" style="font-weight:bold">MR. ROLDAN A. CUBILLO</h5>
                        <p class="TimesNewRoman">Member </p>
                    </div>

                    <div class="grid-item">
                        <h5 class="TimesNewRoman" style="font-weight:bold">ATTY. JO DAVID Z. BORCES</h5>
                        <p class="TimesNewRoman">Member</p>
                        <br />
                        <br />
                        <br />
                        <h5 class="TimesNewRoman" style="font-weight:bold">DR. JONATHAN NEIL V. ERASMO</h5>
                        <p class="TimesNewRoman">Chairperson</p>
                        <br />
                      
                    </div>

                    <div class="grid-item" style="margin-right:150px;">
                        <h5 class="TimesNewRoman" style="font-weight:bold">DR. SOPHIA M. MANCAO</h5>
                        <p class="TimesNewRoman">Vice-Chairperson</p>
                    </div>
                </div>
                <br />
                <div class="col-md-12 bg-light text-right">
                    <button type="submit" class="btn btn-xs btn-primary"> <i class="ace-icon fa fa-check-square-o"></i> Save</button>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <div class="p-3">
                @if (Model.Count > 0)
                {
                    <table class="table table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <th scope="col">Bac No</th>
                                <th scope="col">PR No</th>
                                <th scope="col">PR Amount</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.BacNo</td>
                                    <td>@item.PrNoOne</td>
                                    <td>@item.PrAmountOne.ToString("##,#00.00")</td>
                                    <td>
                                        <a class="btn btn-xs btn-success" target="_blank" href="@Url.Action("PrintPublicBiddingInfra","Procurement",new { id = @item.Id })" data-bs-toggle="print" title="Print">
                                            <i class="ace-icon fa fa-file-pdf-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <script>
                        $(document).ready(function () {
                            $('#dataTable').DataTable({
                                searching: true,
                                paging: true,
                                pageLength: 10,
                                ordering: false,
                                lengthChange: false
                            });
                        });
                    </script>
                }
            </div>
        </div>
    </div>
</div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        var sourceData = @Json.Serialize(ViewBag.BacResNo);
        var prData = @Json.Serialize(ViewBag.Pr);

        // Initialize X-Editable
        $('#bacNo').editable({
            type: 'select',
            source: sourceData,
            title: 'Select Bac No',
            success: function (response, newValue) {
                $('#BacNoHidden').val(newValue);
            }
        });
        //Pr No 1
        $('#prNoOne').editable({
            type: 'select',
            source: prData,
            title: 'Select Pr No',
            success: function (response, newValue) {
                $('#PrNoOneHidden').val(newValue);
            }
        });
        //Pr No 2
        $('#prNoTwo').editable({
            type: 'select',
            source: prData,
            title: 'Select Pr No',
            success: function (response, newValue) {
                $('#PrNoTwoHidden').val(newValue);
            }
        });

        $('form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("SaveRmopPb", "Procurement")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'RMOP DIRECT CONTRACTING (DRUGS AND MEDS) saved successfully.'
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error submitting the form.'
                        });
                    }

                    $('form')[0].reset();
                    $('#BacNoHidden').val('');
                    $('#PrNoOneHidden').val('');
                    $('#PrNoTwoHidden').val('');
                },
                error: function () {
                }
            });
        });
    });
</script>