@model List<fmis.Models.Procurement.Po>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement" + " " + "(PurchaseOrder)";
}

<style>
    .ui-datepicker {
        width: 250px !important;
    }
</style>

<h3 class="grey lighter smaller">
    PURCHASE ORDER
</h3>
<hr>

<div class="col-xs-12">
    <div id="editPo" class="modal fade" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="smaller lighter blue no-margin">Update Purchase Order</h3>
                </div>
                <form>
                    <div class="modal-body">
                        <div>
                            <h4 class="grey lighter smaller">
                                Please complete the form.
                            </h4>
                            <br />
                            <div class="row" id="original-form-update">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> ABSTRACT NO. </label>
                                        <select class="form-control" id="abstractNo" name="AbstractNo" asp-items="ViewBag.Abstract">
                                            <option>Select Abstract</option>
                                        </select>
                                    </div>
                                    <div id="poNoContainer"></div>
                                    @* <div class="form-group">
                                        <label for="" style="font-weight:bold"> PO NO. </label>
                                        <input type="text" class="form-control" id="poNo">
                                    </div> *@
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> DESCRIPTION </label>
                                        <textarea class="form-control" id="description" name="Description"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> PR NO  </label>
                                        <select class="form-control" id="prNo" name="PrNo" asp-items="ViewBag.Pr">
                                            <option>Select Pr No</option>
                                        </select>
                                    </div>
                                    <div id="poDateContainer"></div>
                                    @* <div class="form-group">
                                        <label for="" style="font-weight:bold">  PO DATE </label>
                                        <input type="text" class="form-control">
                                    </div> *@
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> PR DATE </label>
                                        <input type="text" class="form-control" id="prDate" name="prDate" readonly>
                                    </div>
                                    <div id="poSupplierContainer"></div>
                                    @* <div class="form-group">
                                        <label for="" style="font-weight:bold">SUPPLIER </label>
                                        <input type="text" class="form-control">
                                    </div> *@
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">REMARKS</label>
                                        <input type="text" class="form-control" id="remarks" name="Remarks">
                                    </div>
                                    <div id="poAmountContainer"></div>
                                    @* <div class="form-group">
                                        <label for="" style="font-weight:bold">AMOUNT</label>
                                        <input type="text" class="form-control">
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-xs btn-primary" id="saveChanges">Update <span class="fa fa-check-square-o"></span> </button>
                        <a data-dismiss="modal" class="btn btn-xs btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p>
    <a class="btn btn-success btn-sm" href="#my-modal" role="button" data-toggle="modal">
        <i class="ace-icon fa fa-plus "></i>Create New
    </a>
</p>
<h1 style="margin-left : 200px; font-weight:bold;">2023 PURCHASE ORDER LOGBOOK</h1>
<br />
<table class="table table-hover" style="width: 1400px">
    <thead>
        <tr>
            <th>
                ABSTRACT NO.
            </th>
            <th>
                PR NO
            </th>
            <th>
                PR DATE
            </th>
            <th>
                DESCRIPTION
            </th>
            <th>
                REMARKS
            </th>
            <th>
                PO NO
            </th>
            <th>
                PO DATE
            </th>
            <th>
                SUPPLIER
            </th>
            <th>
                AMOUNT
            </th>
            <th>
                ACTIONS
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count > 0)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.AbstractNo
                    </td>
                    <td>
                        @item.PrNo
                    </td>
                    <td style="width: 150px">
                        @item.PrDate.ToString("MMM d, yyyy")
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Remarks
                    </td>
                    <td>
                        @if (item.PoList.Count > 1)
                        {
                            <select class="form-control">
                                @foreach (var poList in item.PoList)
                                {
                                    <option>@poList.PoNo</option>
                                }
                            </select>
                        }
                        else
                        {
                            @item.PoList.FirstOrDefault().PoNo
                        }
                    </td>
                    <td>
                        @if (item.PoList.Count > 1)
                        {
                            <select class="form-control">
                                @foreach (var poList in item.PoList)
                                {
                                    <option>@poList.PoDate.ToString("MMM d, yyyy")</option>
                                }
                            </select>
                        }
                        else
                        {
                            @item.PoList.FirstOrDefault().PoDate.ToString("MMM d, yyyy")
                        }
                    </td>
                    <td>
                        @if (item.PoList.Count > 1)
                        {
                            <select class="form-control">
                                @foreach (var poList in item.PoList)
                                {
                                    <option>@poList.Supplier</option>
                                }
                            </select>
                        }
                        else
                        {
                            @item.PoList.FirstOrDefault().Supplier
                        }
                    </td>
                    <td>
                        @if (item.PoList.Count > 1)
                        {
                            <select class="form-control">
                                @foreach (var poList in item.PoList)
                                {
                                    <option>@poList.Amount</option>
                                }
                            </select>
                        }
                        else
                        {
                            @item.PoList.FirstOrDefault().Amount
                        }
                    </td>
                    <td>
                        <a class="btn btn-xs btn-primary btn-edit" data-id="@item.Id">
                            <i class="ace-icon fa fa-edit"></i>Edit
                        </a> |
                        <a class="btn btn-xs btn-primary" id="forBudget" data-poid="@item.Id">
                            <i class="ace-icon fa fa-users"></i>Forward to Budget
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="11">
                    <div class="alert alert-danger">
                        No data found.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_AddPo")


<script>
    var itemId;
    $(document).ready(function () {
        $(".btn-edit").click(function () {
            itemId = $(this).data("id");

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPo", "Procurement")',
                data: { id: itemId },
                success: function (data) {
                    $("#abstractNo").val(data.abstractNo);
                    $("#prNo").val(data.prNo);
                    $("#prDate").val(data.prDate);
                    $("#rmop").val(data.rmop);
                    $("#description").val(data.description);
                    $("#remarks").val(data.remarks);


                    $("#poNoContainer").empty();
                    data.poList.forEach(function (po) {
                        var formGroup = $('<div class="form-group"></div>');
                        var label = $('<label for="" style="font-weight:bold"> PO NO </label>');
                        var input = $('<input type="text" class="form-control" id="poNo">');
                        input.val(po.poNo);

                        formGroup.append(label);
                        formGroup.append(input);
                        $("#poNoContainer").append(formGroup);
                    });

                    $("#poDateContainer").empty();
                    data.poList.forEach(function (po) {
                        var formGroup = $('<div class="form-group"></div>');
                        var label = $('<label for="" style="font-weight:bold"> PO DATE </label>');
                        var input = $('<input type="text" class="form-control poDate">');
                        input.val(po.poDate);

                        formGroup.append(label);
                        formGroup.append(input);
                        $("#poDateContainer").append(formGroup);
                        input.datepicker({
                            dateFormat: "MM d, yy"
                        });
                    });

                    $("#poSupplierContainer").empty();
                    data.poList.forEach(function (po) {
                        var formGroup = $('<div class="form-group"></div>');
                        var label = $('<label for="" style="font-weight:bold"> SUPPLIER </label>');
                        var input = $('<input type="text" class="form-control" id="supplier">');
                        input.val(po.supplier);

                        formGroup.append(label);
                        formGroup.append(input);
                        $("#poSupplierContainer").append(formGroup);
                    });

                    $("#poAmountContainer").empty();
                    data.poList.forEach(function (po) {
                        var formGroup = $('<div class="form-group"></div>');
                        var label = $('<label for="" style="font-weight:bold"> AMOUNT </label>');
                        var input = $('<input type="text" class="form-control" id="amount">');
                        input.val(po.amount);

                        formGroup.append(label);
                        formGroup.append(input);
                        $("#poAmountContainer").append(formGroup);
                    });

                    $("#editPo").modal("show");
                }
            });
        });

        $("#poDate").datepicker({
            dateFormat: "MM d, yy"

        });

        $("#saveChanges").click(function (e) {
            e.preventDefault();
            var newData = {
                Id: itemId,
                AbstractNo: $("#abstractNo").val(),
                PrNo: $("#prNo").val(),
                PrDate: $("#prDate").val(),
                Rmop: $("#rmop").val(),
                Description: $("#description").val(),
                Remarks: $("#remarks").val(),
                PoList: []
                
            };

            $("#poNoContainer .form-group").each(function (index) {
                var poNo = $(this).find('input[type="text"]').val();
                var poListItemId = $(this).find('input[type="text"]').data('id');
                var poDate = $("#poDateContainer .form-group").eq(index).find('input[type="text"]').val();
                var supplier = $("#poSupplierContainer .form-group").eq(index).find('input[type="text"]').val();
                var amount = $("#poAmountContainer .form-group").eq(index).find('input[type="text"]').val();
                newData.PoList.push({ Id: poListItemId, PoNo: poNo, PoDate: poDate, Supplier: supplier, Amount: amount });
            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdatePo", "Procurement")',
                data: JSON.stringify(newData),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'Data saved successfully..',
                            sound: false
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error submitting the form..',
                            sound: false
                        });
                        setTimeout(function () {
                            $("#editPo").modal("hide");
                            location.reload();
                        }, 1000);
                    }
                }
            });
        });

        $("#prNo").change(function () {
            var selectedPrNo = $(this).val();
            $.ajax({
                url: '@Url.Action("GetDate","Procurement")',
                type: 'GET',
                data: { prNo: selectedPrNo },
                success: function (result) {
                    $("#prDate").val(result);
                },
                error: function () {
                    console.log('Error fetching date');
                }
            });
        });

        $("#forBudget").on("click", function (e) {
            e.preventDefault();

            var poid = $(this).data("poid");
            console.log(poid);

            $.ajax({
                url: "@Url.Action("BacSignature", "Procurement")",
                type: "POST",
                data: { poid: poid },
                success: function (response) {
                    if (response.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: response.message
                        });
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: response.message
                        });
                    }
                },
                error: function () {
                    Lobibox.notify('error', {
                        size: 'mini',
                        title: 'Error',
                        msg: 'An error occurred during the request.'
                    });
                }
            });
        });

    });
</script>