@model List<fmis.Models.Procurement.Twg>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement" + " " + "(PurchaseOrder)";
}

<style>
    .ui-datepicker {
        width: 250px !important;
    }
</style>

 <h3 class="grey lighter smaller">
    TECHNICAL WORKING GROUP
</h3>
<hr>

<div class="col-xs-12">
    <div id="editTwg" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="smaller lighter blue no-margin">Update Twg </h3>
                </div>
                <form>
                    <div class="modal-body">
                        <div>
                            <h4 class="grey lighter smaller">
                                Please complete the form.
                            </h4>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> TWG NO. </label>
                                        <input type="text" class="form-control" id="twgNo" name="TwgNo" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">  DATE </label>
                                        <input type="text" class="form-control" id="twgDate" name="TwgDate" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> RECOMMENDATION </label>
                                        <input type="text" class="form-control" id="recommendation" name="Recommendation" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> PRNO </label>
                                        <select class="form-control" id="prNo" name="PrNo" asp-items="ViewBag.PrId">
                                            <option value="">Select Pr No.</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">  DATE. </label>
                                        <input type="text" class="form-control" id="prDate" name="PrDate" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> RECEIVED BY  </label>
                                        <input type="text" class="form-control" id="receivedBy" name="ReceivedBy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-xs btn-primary" id="saveChanges">Submit <span class="fa fa-check-square-o"></span> </button>
                        <a data-dismiss="modal" class="btn btn-xs btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p>
    <a class="btn btn-success btn-sm" href="#createTwg" role="button" data-toggle="modal">
        <i class="ace-icon fa fa-plus "></i>Create New
    </a>
</p>
<h1 style="margin-left : 200px; font-weight:bold;">2023 TWG LOGBOOK</h1>
<br />
<table class="table table-hover" style="width: 900px">
    <thead>
        <tr>
            <th>
                TWG NO.
            </th>
            <th>
                DATE
            </th>
            <th>
                PR NO.
            </th>
            <th>
                DATE
            </th>
            <th>
                RECOMMENDATION
            </th>
            <th>
                RECEIVED BY
            </th>
         
            <th>
                ACTIONS
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count > 0)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.TwgNo
                    </td>
                    <td>
                        @item.TwgDate.ToString("MMM d, yyyy")
                    </td>
                    <td>
                        @item.Prno
                    </td>
                    <td>
                        @item.PrDate.ToString("MMM d, yyyy")
                    </td>
                    <td>
                        @item.Recommendation
                    </td>
                    <td>
                        @item.ReceivedBy
                    </td>
                    <td>
                        <a class="btn btn-xs btn-primary btn-edit" data-id="@item.Id">
                            <i class="ace-icon fa fa-edit"></i>Edit
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <div class="alert alert-danger">
                        No data found.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_AddTwg")


<script>

    var itemId;
    $(document).ready(function () {
        $(".btn-edit").click(function () {
            itemId = $(this).data("id");

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTwg", "Procurement")',
                data: { id: itemId },
                success: function (data) {
                    $("#twgNo").val(data.twgNo);
                    $("#twgDate").val(data.twgDate);
                    $("#recommendation").val(data.recommendation);
                    $("#prNo").val(data.prNo);
                    $("#prDate").val(data.prDate);
                    $("#receivedBy").val(data.receivedBy);
                    $("#editTwg").modal("show");
                }
            });
        });

        $("#twgDate").datepicker({
            dateFormat: "MM d, yy"

        });

        $("#saveChanges").click(function (e) {
            e.preventDefault();
            var newData = {
                Id: itemId,
                TwgNo: $("#twgNo").val(),
                TwgDate: $("#twgDate").val(),
                Recommendation: $("#recommendation").val(),
                PrNo: $("#prNo").val(),
                PrDate: $("#prDate").val(),
                ReceivedBy: $("#receivedBy").val()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateTwg", "Procurement")',
                data: JSON.stringify(newData),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'Data saved successfully..',
                            sound: false
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error submitting the form..',
                            sound: false
                        });
                        setTimeout(function () {
                            $("#editPo").modal("hide");
                            location.reload();
                        }, 1000);
                    }
                }
            });
        });

        $("#prNo").change(function () {
            var selectedPrNo = $(this).val();
            $.ajax({
                url: '@Url.Action("GetDate","Procurement")',
                type: 'GET',
                data: { prNo: selectedPrNo },
                success: function (result) {
                    $("#prDate").val(result);
                },
                error: function () {
                    console.log('Error fetching date');
                }
            });
        });

    });
</script>