@model fmis.Models.Accounting.IndexOfPayment

@{
    Layout = null;
}
<link rel="stylesheet" href="~/assets/plugin/daterangepicker/daterangepicker.css">
<script src="~/assets/plugin/daterangepicker/moment.min.js"></script>
<script src="~/assets/plugin/daterangepicker/daterangepicker.js"></script>
<style>
    .select2 {
        width: 100% !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<center><h3 class="grey lighter smaller">Create Index of Payment </h3></center>
<hr />
<div class="container" style="height: 1000px;">
    <form asp-action="Create" style="position:center;">
        <div class="col-md-12">
            <div class="col-md-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Category: </label>
                    <select class="form-control select2 category" asp-for="CategoryId" asp-items="ViewBag.CategoryId" required>
                        <option> - Select Category - </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Dv Number: </label>
                        @Html.DropDownList("DvId", null, " - Select Dv Number - " , htmlAttributes: new { @class = "prexcDropdown form-control", @id = "ddlBranches", onchange = "return get_sbu(this)", @required = "required" })
                        @if (ViewBag.Message != null && ViewBag.Message == "Exist")
                        {
                            <br />

                            <span style="color:red;">Already exist.</span>
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Payee:</label>
                        <input id="payeeDesc" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-3">
                    <label>Date: </label>
                    <input asp-for="DvDate" type="date" class="form-control" id="dvDate" required>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Particulars: </label>
                    <textarea asp-for="Particulars" id="particulars" style="height: 70px;" class="form-control" required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <select class="form-control category" id="ddlfundsource" asp-for="fundSource" required>
                    <option value="0"> - Select Fund Source - </option>
                    <option value="1"> Regular Agency Fund  </option>
                    <option value="2"> Foreign Assisted Project Fund </option>
                    <option value="3"> Special Accounts - Locally Funded  </option>
                    <option value="4"> Special Accounts - Foreign Assisted/Grants  </option>
                    <option value="5"> Internally Generated Income </option>
                    <option value="6"> Business Type Income </option>
                    <option value="7"> Trust Fund </option>
                </select>
            </div>
            <div class="col-md-3" id="fundSource" style="display: none">
                <div class="form-group">
                    <textarea placeholder="Ors Number" asp-for="orsNo" style=" resize: none; overflow: auto; height:35px" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <select class="form-control category" asp-for="allotmentClassType" id="allotmentClass_type">
                    <option value="0"> - Select Allotment Class - </option>
                    <option value="1">  PS  </option>
                    <option value="2">  MOOE </option>
                    <option value="3">  CO  </option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="form-group" id="obligation">
                    <select asp-for="ObligationId" class="form-control select2"></select>
                    <option value="orsNo"></option>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3" name="hidden-panel1" id="hidden-panel1">
                <div class="form-group">
                    <label>PO #:</label>
                    <textarea asp-for="PoNumber" id="poNumber" class="form-control" onchange="DataCheck()" style="resize: none; overflow: auto; height:35px" />
                </div>
                <div class="row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <p id="Status" />
                    </div>
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel2" id="hidden-panel2">
                <div class="form-group">
                    <label>PROJECT ID:</label>
                    <textarea asp-for="ProjectId" id="project" class="form-control" onchange="ProjectCheck()" style="resize: none; overflow: auto; height:35px" />
                </div>
                <div class="row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <p id="ProjectCheck" />
                    </div>
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel5" id="hidden-panel5">
                <div class="form-group">
                    <label>INVOICE #:</label>
                    <textarea asp-for="InvoiceNumber" id="invoice" type="text" class="form-control" onchange="InvoiceCheck()" style="resize: none; overflow: auto; height:35px" />
                </div>
                <div class="row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <p id="InvoiceCheck" />
                    </div>
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel4" id="hidden-panel4">
                <div class="form-group">
                    <label>Period Cover:</label>
                    <input type="text" asp-for="PeriodCover" id="periodCover" name="periodCover" class="form-control" onchange="PeriodCheck()">
                </div>
                <div class="row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <p id="PeriodCheck" />
                    </div>
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel6" id="hidden-panel6">
                <div class="form-group">
                    <label>Period Covered From-To:</label>
                    <input type="text" class="form-control" asp-for="date" name="date" id="fromTo" onchange="FromToCheck()" />
                </div>
                <div class="row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <p id="FromToCheck" />
                    </div>
                </div>
            </div>

            <div>
                <div class="col-md-3" name="hidden-panel7" id="hidden-panel7">
                    <div class="form-group">
                        <label>S.O #:</label>
                        <textarea asp-for="SoNumber" id="so" class="form-control" onchange="SoCheck()" style="resize: none; overflow: auto; height:35px" />
                    </div>
                    <div class="row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <p id="SoCheck" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3" name="hidden-panel8" id="hidden-panel8">
                    <div class="form-group">
                        <label>TRAVEL PERIOD:</label>
                        <input type="text" name="travel_period" asp-for="travel_period" class="form-control">
                    </div>
                </div>
                <div class="col-md-3" name="hidden-panel9" id="hidden-panel9">
                    <div class="form-group">
                        <label>ACCOUNT #:</label>
                        <textarea asp-for="AccountNumber" id="accNo" class="form-control" onchange="AccNoCheck()" style="resize: none; overflow: auto; height:35px" />
                    </div>
                    <div class="row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <p id="AccNoCheck" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3" name="hidden-panel10" id="hidden-panel10">
                    <div class="form-group">
                        <label># OF BILLING: (FIRST, SECOND):</label>
                        <textarea asp-for="NumberOfBill" class="form-control" style="resize: none; overflow: auto; height:35px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-2" style="width: 250px; ">
                <div class="form-group" style="margin-left: 100px; margin-top: 5px;">
                    <label style="font-weight:bold;">GROSS AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" id="gross_amount" type="text" asp-for="GrossAmount" placeholder="0.00" onchange="computeNetAmount()" />
                </div>
            </div>
        </div>
        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[0].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[0].Amount" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[1].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[1].Amount" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[2].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[2].Amount" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[3].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[3].Amount" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[4].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[4].Amount" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[5].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[5].Amount" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[6].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[6].Amount" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group" style="margin-left: 80px; margin-top: 5px;">
                    <label style="font-weight:bold;">TOTAL DEDUCTIONS: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="text" id="total_deduction" placeholder="0.00" readonly />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group" style="margin-left: 120px; margin-top: 5px;">
                    <label style="font-weight:bold;">NET AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="text" id="net_amount" placeholder="0.00" readonly />
                </div>
            </div>
            <div class="col-md-12" style="margin-left: 260px;">
                <div class="form-group">
                    <input type="submit" id="Btn" value="Create" onclick="submiBtnClick()" class="btn btn-success btn-xs" />  <a class="btn btn-xs btn-default" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>

        @*<button id="myButton" type="button" @(ViewBag.IsDisabled ? "disabled" : "")>Click me</button>*@


    </form>
</div>



<script>
    //daterange
    $(function () {
        $('input[name="periodCover"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
    //cascade dropdownlist for allotment class
    $(function () {
        $("select#allotmentClass_type").change(function () {
            var cid = $(this).val();
            $("select#ObligationId").empty();

            //$.getJSON(`/IndexOfPayment/GetOrs?cid=${cid}`, function (data) {
            $.getJSON('@Url.Action("GetOrs", "IndexOfPayment")?cid=' + cid, function (data) {
                //console.log(data);
                $.each(data, function (i, item) {
                    $("select#ObligationId").append(`<option value="${item.id}">${item.name}</option>`);
                });
            });

        });

        //adding zero
        const allNumberInputs = document.querySelectorAll('input[type="text"]');
        const noZeroInput = document.getElementById('daterange');

        allNumberInputs.forEach(input => {
            if (input !== noZeroInput) {
                input.addEventListener('blur', addLeadingZero);
            }
        });

        function addLeadingZero(event) {
            const input = event.target;
            const value = input.value.trim();

            if (value !== '' && !isNaN(value) && value[0] !== '0') {
                input.value = parseFloat(value).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            }
            if ($(this).val() === '0') {
                $(this).val('');
            }
        }

    @*$('input[type=text]').click(function () {
            if ($(this).val() === '0') {
            $(this).val('');
            }

            }).change(function () {
            updateTextView($(this));
            }).focusout(function () {
            if (this.value === '') {
            this.value = '0';
            }
            })*@

        });

    //prevent saving on enter
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    //po number
    var CategoryId;
    var poNumber;

    $("#CategoryId").on('change', function () {
        CategoryId = $("#CategoryId").val();
    });

    $("#poNumber").on('change', function () {
        poNumber = $("#poNumber").val();
    });

    function DataCheck() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckifExist", "IndexOfPayment")",
            {
                CategoryId: $("#CategoryId").val(), poNumber: $("#poNumber").val()

            },
            function (data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Po Number is available</font>');
                    $("#poNumber").css("border-color", "Green");
                    document.getElementById("Btn").disabled = false;


                }
                else if (data == 1) {
                    $("#Status").html('<font color="Red">Po Number Already Exist!</font>');
                    $("#poNumber").css("border-color", "Red");
                    document.getElementById("Btn").disabled = true;
                }
                else if (data == 2) {
                    $("#Status").html('<font color="Red">Po Number Already Exist!</font>');
                    $("#poNumber").css("border-color", "Red");
                    document.getElementById("Btn").disabled = false;
                }
            });
    }
    //invoice number
    function InvoiceCheck() {
        $("#InvoiceCheck").html("Checking...");
        $.post("@Url.Action("CheckInvoiceExist", "IndexOfPayment")",
            {
                invoice: $("#invoice").val()
            },
            function (data) {
                if (data == 0) {
                    $("#InvoiceCheck").html('<font color="Green">Invoice Number is available</font>');
                    $("#invoice").css("border-color", "Green");

                }
                else {
                    $("#InvoiceCheck").html('<font color="Red">Invoice Number Already Exist!</font>');
                    $("#invoice").css("border-color", "Red");
                }
            });
    }
    //period cover
    function PeriodCheck() {
        $("#PeriodCheck").html("Checking...");
        $.post("@Url.Action("CheckPeriodExist", "IndexOfPayment")",
            {
                periodCover: $("#periodCover").val(),
                ddlBranches: $("#ddlBranches").val(),
                CategoryId: $("#CategoryId").val()
            },
            function (data) {
                if (data == 0) {
                    $("#PeriodCheck").html('<font color="Green">Available</font>');
                    $("#periodCover").css("border-color", "Green");
                    document.getElementById("Btn").disabled = false;

                }
                else {
                    $("#PeriodCheck").html('<font color="Red">Already Exist!</font>');
                    $("#periodCover").css("border-color", "Red");
                    document.getElementById("Btn").disabled = true;
                }
            });
    }
    //project id
    function ProjectCheck() {
        $("#ProjectCheck").html("Checking...");
        $.post("@Url.Action("CheckProjectExist", "IndexOfPayment")",
            {
                project: $("#project").val()
            },
            function (data) {
                if (data == 0) {
                    $("#ProjectCheck").html('<font color="Green">Available</font>');
                    $("#project").css("border-color", "Green");

                }
                else {
                    $("#ProjectCheck").html('<font color="Red">Already Exist!</font>');
                    $("#project").css("border-color", "Red");
                }
            });
    }
    //from to
    function FromToCheck() {
        $("#FromToCheck").html("Checking...");
        $.post("@Url.Action("CheckFromToExist", "IndexOfPayment")",
            {
                fromTo: $("#fromTo").val()
            },
            function (data) {
                if (data == 0) {
                    $("#FromToCheck").html('<font color="Green">Available</font>');
                    $("#fromTo").css("border-color", "Green");

                }
                else {
                    $("#FromToCheck").html('<font color="Red">Already Exist!</font>');
                    $("#fromTo").css("border-color", "Red");
                }
            });
    }
    //So
    function SoCheck() {
        $("#SoCheck").html("Checking...");
        $.post("@Url.Action("CheckSoExist", "IndexOfPayment")",
            {
                so: $("#so").val()
            },
            function (data) {
                if (data == 0) {
                    $("#SoCheck").html('<font color="Green">Available</font>');
                    $("#so").css("border-color", "Green");

                }
                else {
                    $("#SoCheck").html('<font color="Red">Already Exist!</font>');
                    $("#so").css("border-color", "Red");
                }
            });
    }
    //Account Number
    function AccNoCheck() {
        $("#AccNoCheck").html("Checking...");
        $.post("@Url.Action("CheckAccNoExist", "IndexOfPayment")",
            {
                accNo: $("#accNo").val()
            },
            function (data) {
                if (data == 0) {
                    $("#AccNoCheck").html('<font color="Green">Available</font>');
                    $("#accNo").css("border-color", "Green");

                }
                else {
                    $("#AccNoCheck").html('<font color="Red">Already Exist!</font>');
                    $("#accNo").css("border-color", "Red");
                }
            });
    }

    $(function () {
        $('input[name="date"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="date"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            var data = {
                date: picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY')
            };
        });

        $('input[name="date"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });

    $(function () {
        $('input[name="travel_period"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="travel_period"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            var data = {
                travel_period: picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY')
            };
        });

        $('input[name="travel_period"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });


    $('.select2').select2();

    $(document).ready(function () {
        $('.prexcDropdown').select2();
    });
    get_sbu();

    function get_sbu() {
        var selected_val = $('#ddlBranches').find(":selected").attr('value');
        $.ajax({
            type: "POST",
            url: '@Url.Action("selectAT", "IndexOfPayment")',
            data: "id=" + selected_val,
            success: function (data) {
                if (data.length > 0) {
                    $('#payeeDesc').val(data[0].payeeDesc);
                    $('#particulars').val(data[0].particulars);
                    $('#date').val(data[0].date);
                }
                else {
                    $('#payeeDesc').val('');
                    $('#particulars').val('');
                }
            }
        });
    }

    //adding comma after 3 digits
    function updateTextView(_obj) {
        var num = +_obj.val();
        if (num == 0) {
            _obj.val('');
        } else {
            _obj.val(num.toLocaleString(undefined, { minimumFractionDigits: 2 }));
        }
    }
    function getNumber(_str) {
        var arr = _str.split('');
        var out = new Array();
        for (var cnt = 0; cnt < arr.length; cnt++) {
            if (isNaN(arr[cnt]) == false) {
                out.push(arr[cnt]);
            }
        }
        return Number(out.join(''));
    }


    function submitDeduction(parentDiv) {
        let dvDeduction = $(parentDiv).find('select');
        let dvDedectionAmt = $(parentDiv).find('input');

        if (dvDeduction.val() && dvDedectionAmt.val()) {
            console.log(dvDeduction.val(), dvDedectionAmt.val());
        }
        computeNetAmount();
    }

    function computeNetAmount() {
        let amounts = $('.deduction_amount');
        let gross_amount = +$('#gross_amount').val().replace(/,/g, '');
        let total = 0;
        $(amounts).each(function (index, value) {
            total += +value.value.replace(/,/g, '');
        });

        var net = gross_amount - total;

        $('#total_deduction').val(total.toLocaleString());
        $('#net_amount').val(net.toLocaleString());
    }

    $("#CategoryId").trigger("click");
    $(document).ready(function () {
        for (i = 1; i <= 10; i++) {
            $('#hidden-panel' + i).hide();
        }
    });

    $("#CategoryId").on('change', function () {
        var value = $(this).val();
        console.log(value);
        const categ = [];
        if (value == 1) {
            $("#hidden-panel1").show();
            $("#hidden-panel5").show();
            categ.push('2', '3', '4', '6', '7', '8', '9', '10');
        } else if (value == 2 || value == 3) {
            $("#hidden-panel1").show();
            $("#hidden-panel4").show();
            categ.push('2', '5', '6', '7', '8', '9', '10');
        } else if (value == 4) {
            $("#hidden-panel1").show();
            categ.push('2', '4', '5', '6', '7', '8', '9', '10');
        } else if (value == 5) {
            $("#hidden-panel2").show();
            $("#hidden-panel10").show();
            categ.push('1', '3', '4', '5', '6', '7', '8', '9');
        } else if (value == 6 || value == 15 || value == 24 ||
            value == 25 || value == 26 || value == 27 || value == 28 ||
            value == 32 || value == 33 || value == 34 || value == 35) {
            $("#hidden-panel4").show();
            categ.push('1', '2', '3', '5', '6', '7', '8', '9', '10');
        } else if (value == 7) {
            $("#hidden-panel4").show();
            $("#hidden-panel10").show();
            categ.push('1', '2', '3', '5', '6', '7', '8', '9');

        } else if (value == 8 || value == 9 || value == 10 || value == 11 ||
            value == 22 || value == 30 || value == 31) {
            $("#hidden-panel6").show();
            categ.push('1', '2', '3', '4', '5', '7', '8', '9', '10');
        } else if (value == 12 || value == 19) {
            $("#hidden-panel8").show();
            $("#hidden-panel7").show();
            categ.push('1', '2', '3', '4', '5', '6', '9', '10');

        } else if (value == 13 || value == 14) {
            $("#hidden-panel7").show();
            categ.push('1', '2', '3', '4', '5', '6', '8', '9', '10');

        } else if (value == 16 || value == 17 || value == 18) {
            $("#hidden-panel6").show();
            $("#hidden-panel9").show();
            categ.push('1', '2', '3', '4', '5', '8', '10');
        } else if (value == 20 || value == 29) {
            categ.push('1', '2', '3', '4', '5', '6', '7', '8', '9', '10');

        } else if (value == 21) {
            $("#hidden-panel8").show();
            categ.push('1', '2', '3', '4', '5', '6', '7', '9', '10');
        }
        else if (value == 23) {
            $("#hidden-panel6").show();
            categ.push('1', '2', '3', '4', '5', '7', '8', '9', '10');
        }
        categ.forEach(function (i) {
            $('#hidden-panel' + i).hide();
        });
    });


    $(document).ready(function () {
        $('.filter').change(function () {
            $('.filterable').each(function () {
                if ($(this).data('ref') != $('.filter').val() && $('.filter').val() != -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });

    @*  document.getElementById("textarea").value = "To payment of";*@

        function submiBtnClick() {
            var category = document.getElementsByClassName("category").value;
            var dvNo = document.getElementById("ddlBranches").value;
            var dvDate = document.getElementById("dvDate").value;
            var particulars = document.getElementById("particulars").value;
            var poNumber = document.getElementById("poNumber").value;

            if (category != '' && dvNo != '' && particulars != '' && dvDate != '') {
                Lobibox.notify('success', {
                    msg: 'Index Of Payment Date Successfully Added!',
                });
            }
            else {
                return false;
            }
        }


    $(function () {
        $("#ddlfundsource").change(function () {
            if ($(this).val() != 1) {
                $("#fundSource").show();
                $("#allotmentClass_type").hide();
                $("#obligation").hide();
            } else {
                $("#fundSource").hide();
                $("#allotmentClass_type").show();
                $("#obligation").show();
            }
        });
    });




</script>