@model IEnumerable<fmis.Models.Accounting.IndexOfPayment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .hr {
        border: 1px solid black;
    }

    #nav {
        font-size: 12pt;
    }

    .pbutton {
        margin-left: 3px;
    }
</style>

<div class="modal fade bd-example-modal-lg" id="CreateModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>


<!--EDIT MODAL-->

<div class="modal fade" id="EditModal" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--DELETE MODAL-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<h3 class="grey lighter smaller">
    Index of Payment
</h3>
<hr>

<div class="row">
    <div class="col-md-1">
        <div class="form-group form-inline" style="margin-bottom: 10px;">
            <a asp-action="Create" class="btn btn-success btn-sm" data-toggle="modal" data-target="#CreateModal">
                <i class="ace-icon fa fa-plus "></i>Create New
            </a>
        </div>
    </div>
    <div class="col-md-7">
        @if(Model.Where(x=>x.Category.CategoryDescription == ViewBag.searchString).Any() || Model.Where(x=>x.Dv.DvNo == ViewBag.searchString).Any() || Model.Where(x=>x.Dv.PayeeDesc == ViewBag.searchString).Any())
        {
            <form action="@Url.Action("Export","IndexOfPayment")" method="post" id="myform">
                <input type="hidden" class="form-control" name="searchString" value="@Model.FirstOrDefault().Dv.DvNo">
                <a class="btn btn-primary btn-sm" onclick="document.getElementById('myform').submit()">
                    <i class="ace-icon fa fa-download"></i>Download
                </a>
                <noscript>
                    <input type="submit" value="Submit form!" />
                </noscript>
            </form>
        }
    </div>
    <div class="col-md-4">
        <form id="search_form">
            <input type="search" class="form-group" name="searchString" style="width: 340px;" id="search" />
            <button type="submit" class="btn btn-sm btn-default" style="margin-bottom: 3px;">
                <i class="ace-icon fa fa-search "></i> Search
            </button> <button class="btn btn-sm btn-outline-success my-2 my-sm-0" style="margin-bottom: 3px;" type="button" onclick="viewAllClicked();">View All</button>
            <br />
        </form>
    </div>
</div>
<br />
@if(Model.Count()>0)
{
    <table class="table table-striped" id="data">
    <thead>
        <tr>
            <th> Category </th>
            <th> Dv # </th>
            <th> Payee </th>
            <th> Date </th>
            <th> Particulars </th>
            <th> PO #  </th>
            <th> Invoice #  </th>
            <th> Project Id </th>
            <th> # of Billing </th>
            <th> Period Covered </th>
            <th> From-To </th>
            <th> Travel Period </th>
            <th> SO # </th>
            <th> Account # </th>
            <th> Gross Amount </th>
            <th> Deductions </th>
            <th> Total Deductions </th>
            <th> Net Amount </th>
            <th>  Action  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dv.DvNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dv.Payee.PayeeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DvDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Particulars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfBill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodCover)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.travel_period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td> ₱@item.GrossAmount.ToString("##,##0.00")</td>
                <td>
                    <select class="form-control" style="width: 320px;">
                        @foreach (var deduction in item.indexDeductions)
                        {
                            <option>@deduction.Deduction.DeductionDescription -- ₱@deduction.Amount.ToString("##,##0.00")</option>
                        }
                    </select>
                </td>
                <td>₱@item.TotalDeduction.ToString("##,##0.00")</td>
                <td>₱@item.NetAmount.ToString("##,##0.00")</td>
                <td>
                    <a asp-action="Edit" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#EditModal" asp-route-id="@item.IndexOfPaymentId">
                        <i class="ace-icon fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div class="alert alert-block alert-danger">
        <i class="ace-icon fa fa-warning red"></i>
        No Records found
    </div>
}

@if (ViewBag.searchString == null)
{
    <div class="row">
        <div class="pull-right">
            <div class="infobox infobox-green">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@ViewBag.grossTotal.ToString("##,##0.00")</span>
                    <div class="infobox-content">GROSS AMOUNT</div>
                </div>
            </div>
            <div class="infobox infobox-red">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@ViewBag.totalDeductionTotal.ToString("##,##0.00")</span>
                    <div class="infobox-content">TOTAL DEDUCTIONS</div>
                </div>
            </div>
            <div class="infobox infobox-orange2">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@ViewBag.netTotal.ToString("##,##0.00")</span>
                    <div class="infobox-content">NET AMOUNT</div>
                </div>
            </div>
            <div class="vspace-12-sm"></div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="pull-right">
            <div class="infobox infobox-green">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@ViewBag.gross.ToString("##,##0.00")</span>
                    <div class="infobox-content">GROSS AMOUNT</div>
                </div>
            </div>
            <div class="infobox infobox-red">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@ViewBag.totalDeduction.ToString("##,##0.00")</span>
                    <div class="infobox-content">TOTAL DEDUCTIONS</div>
                </div>
            </div>
            <div class="infobox infobox-orange2">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@ViewBag.net.ToString("##,##0.00")</span>
                    <div class="infobox-content">NET AMOUNT</div>
                </div>
            </div>
            <div class="vspace-12-sm"></div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#data').after('<div id="nav"></div>');
        var rowsShown = 20;
        var rowsTotal = $('#data tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" class="pbutton btn-sm btn-info"  rel="' + i + '">' + pageNum + '</a>');
        }
        $('#data tbody tr').hide();
        $('#data tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function () {

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#data tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });

    function viewAllClicked() {
        $('#search').val('');
        $('#search_form').submit();
    }
</script>
