@model PaginatedList<fmis.Models.Accounting.IndexOfPayment>
@using fmis.Data;
@inject MyDbContext _MyDbContext

@{


    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var ors_List = (from fundsource in _MyDbContext.FundSources
                    join obligation in _MyDbContext.Obligation
                    on fundsource.FundSourceId equals obligation.FundSourceId
                    join allotmentclass in _MyDbContext.AllotmentClass
                    on fundsource.AllotmentClassId equals allotmentclass.Id
                    join fund in _MyDbContext.Fund
                    on fundsource.FundId equals fund.FundId
                    select new
                    {
                        /*allotment = allotmentclass.Fund_Code,
                        fundCurrent = fund.Fund_code_current,
                        fundConap = fund.Fund_code_conap,
                        fundsource = fundsource.AppropriationId,
                        obligation = obligation.source_type,*/
                        Id = obligation.Id,
                        Name = allotmentclass.Fund_Code + "-" + fund.Fund_code_current + "-" + obligation.Date.ToString("yyyy-MM") + "-" + "000" + obligation.Id
                    }).ToList();
}


<style>
    .hr {
        border: 1px solid black;
    }

    #nav {
        font-size: 12pt;
    }

    .pbutton {
        margin-left: 3px;
    }   


</style>

<div class="modal fade bd-example-modal-lg" id="CreateModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>


<!--EDIT MODAL-->

<div class="modal fade" id="EditModal" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--DELETE MODAL-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<h3 class="grey lighter smaller">
    Index of Payment
</h3>
<hr>

<div class="row">
    <div class="col-md-1">
        <div class="form-group form-inline" style="margin-bottom: 10px;">
            <a asp-action="Create" class="btn btn-success btn-sm" data-toggle="modal" data-target="#CreateModal">
                <i class="ace-icon fa fa-plus "></i>Create New
            </a>
        </div>
    </div>
    <div class="col-md-7">
        @if(Model.Where(x=>x.Category?.CategoryDescription == ViewBag.searchString).Any() || Model.Where(x=>x.Dv?.DvNo == ViewBag.searchString).Any() || Model.Where(x=>x.Dv?.PayeeDesc == ViewBag.searchString).Any())
        {
            <form action="@Url.Action("Export","IndexOfPayment")" method="post" id="myform">
                <input type="hidden" class="form-control" name="searchString" value="@Model.FirstOrDefault().Dv?.DvNo">
                <a class="btn btn-primary btn-sm" onclick="document.getElementById('myform').submit()">
                    <i class="ace-icon fa fa-download"></i>Download
                </a>
                <noscript>
                    <input type="submit" value="Submit form!" />
                </noscript>
            </form>
        }
    </div>

  <div class="col-md-4">
        <form id="search_form">
            <input type="search" class="form-group" name="searchString" style="width: 340px;" id="search" />
            <button type="submit" class="btn btn-sm btn-default" style="margin-bottom: 3px;">
                <i class="ace-icon fa fa-search "></i> Search
            </button> <button class="btn btn-sm btn-outline-success my-2 my-sm-0" style="margin-bottom: 3px;" type="button" onclick="viewAllClicked();">View All</button>
            <br />
        </form>
    </div>
</div>
<br />

@if(Model.Count()>0)
{
    <div class="table-responsive">
        <table class="table" id="example" >
            <thead>
                <tr>
                    <th> Category </th>
                    <th> ORS #</th>
                    <th> Dv # </th>
                    <th> Payee </th>
                    <th> Date </th>
                    <th> Particulars </th>
                    <th> PO #  </th>

                    <th> Invoice #  </th>
                    <th> Project Id </th>
                    @*<th> # of Billing </th>*@
                    <th> Period Cover </th>
                    <th> From-To </th>
                    <th> Travel Period </th>
                    <th> SO # </th>
                    <th> Account # </th>
                    <th> Gross Amount </th>
                    <th> Deductions </th>
                    <th> Total Deductions </th>
                    <th> Net Amount </th>
                    @if (User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
                    {
                        <th> Action </th>
                    }
                    <th> Created By </th>
                </tr>
            </thead>
            <tbody>
                @if(User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
                {
                    @foreach (var item in Model)

                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryDescription)
                            </td>
                            <td nowrap="nowrap">
                                @Html.DisplayFor(modelItem => item.orsNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dv.DvNo)
                            </td>
                            @if(item.payeeId == null)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dv.Payee.PayeeDescription)
                                </td>
                            }
                            else
                            {
                                <td>
                                @Html.DisplayFor(modelItem => item.payee.PayeeDescription)
                            </td>
                            }
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.DvDate)
                            </td>
                            <td style="width: 50px">
                                @Html.DisplayFor(modelItem => item.Particulars)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PoNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectId)
                            </td>
                            @*@if (item.BillNumbers.Any())
                {
                <td>
                @Html.DisplayFor(modelItem => item.NumberOfBill),

                @String.Join(", ", item.BillNumbers.Select(p => p.NumberOfBilling).ToArray())
                </td>
                }
                else
                {
                <td>
                @Html.DisplayFor(modelItem => item.NumberOfBill)
                </td>
                }*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PeriodCover)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.travel_period)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNumber)
                            </td>
                            <td> ₱@item.GrossAmount.ToString("##,##0.00")</td>
                            <td>
                                <select class="form-control" style="width: 320px;">
                                    @foreach (var deduction in item?.indexDeductions)
                                    {
                                        <option>@deduction.Deduction.DeductionDescription -- ₱@deduction.Amount.ToString("##,##0.00")</option>
                                    }
                                </select>
                            </td>
                            <td>₱@item.TotalDeduction.ToString("##,##0.00")</td>
                            <td>₱@item.NetAmount.ToString("##,##0.00")</td>
                            @if (User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
                            {
                                <td>
                                    <a asp-action="Edit" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#EditModal" asp-route-id="@item.IndexOfPaymentId" data-bs-toggle="tooltip" title="Edit">
                                        <i class="ace-icon fa fa-edit"></i>
                                    </a>
                                </td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                        </tr>
                    }
                }
                else
                {
                    @foreach (var item in Model.Where(x => x.UserId == ViewBag.UserId))

                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryDescription)
                            </td>
                            <td nowrap="nowrap">
                                @Html.DisplayFor(modelItem => item.orsNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dv.DvNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dv.Payee.PayeeDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DvDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Particulars)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PoNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeriodCover)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.travel_period)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNumber)
                            </td>
                            <td> ₱@item.GrossAmount.ToString("##,##0.00")</td>
                            <td>
                                <select class="form-control" style="width: 320px;">
                                    @foreach (var deduction in item.indexDeductions)
                                    {
                                        <option>@deduction.Deduction.DeductionDescription -- ₱@deduction.Amount.ToString("##,##0.00")</option>
                                    }
                                </select>
                            </td>
                            <td>₱@item.TotalDeduction.ToString("##,##0.00")</td>
                            <td>₱@item.NetAmount.ToString("##,##0.00")</td>
                            @if (User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
                            {
                                <td>
                                    <a asp-action="Edit" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#EditModal" asp-route-id="@item.IndexOfPaymentId" data-bs-toggle="tooltip" title="Edit">
                                        <i class="ace-icon fa fa-edit"></i>
                                    </a>
                                </td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

     @*   @{
            var preDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
          
        }

        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @preDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>*@
    </div>
    <br/>

}
else
{
    <div class="alert alert-block alert-danger">
        <i class="ace-icon fa fa-warning red"></i>
        No Records found
    </div>
}

@if (User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
{
    <div class="row">
        <div class="pull-right">
            <div class="infobox infobox-green">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@Model.Sum(x=>x.GrossAmount).ToString("##,##0.00")</span>
                    <div class="infobox-content">GROSS AMOUNT</div>
                </div>
            </div>
            <div class="infobox infobox-red">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@Model.Sum(x=>x.TotalDeduction).ToString("##,##0.00")</span>
                    <div class="infobox-content">TOTAL DEDUCTIONS</div>
                </div>
            </div>
            <div class="infobox infobox-blue2">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@Model.Sum(x=>x.NetAmount).ToString("##,##0.00")</span>
                    <div class="infobox-content">NET AMOUNT</div>
                </div>
            </div>
            <div class="vspace-12-sm"></div>
        </div>
    </div>
}

<br />
<!-- Render the pagination links -->
<div class="pagination-container">
    @if (Model.HasPreviousPage)
    {
        <a class="btn btn-outline-success" href="@Url.Action("Index", new { page = Model.PageIndex - 1 })">Previous</a>
    }
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a class="btn btn-outline-success" href="@Url.Action("Index", new { page = i })">@i</a>
    }
    @if (Model.HasNextPage)
    {
        <a class="btn btn-outline-success" href="@Url.Action("Index", new { page = Model.PageIndex + 1 })">Next</a>
    }
</div>

<script>

        function viewAllClicked() {
        $('#search').val('');
        $('#search_form').submit();
    }

</script>