@model fmis.Models.John.FundSource
@using System.Text.Json;
@using System.Globalization;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<style>
    .wtHider {
        margin-bottom: 150px;
    }
</style>


<input type="hidden" class="fundtransferedto" value="@JsonSerializer.Serialize(Model.FundTransferedTo)">
<input type="hidden" class="uacs" value="@JsonSerializer.Serialize(Model.Uacs.Where(s => s.status == "activated"))">
<input type="hidden" id="fundsource_id" value="@Model.FundSourceId" />

<h3 class="grey lighter smaller">
    GAA Transfered To
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        @Model.FundSourceTitle
    </small>
</h3>
<hr />

<a class="btn btn-primary btn-sm " asp-controller="FundSource" asp-action="Index" asp-route-AllotmentClassId="@Model.AllotmentClassId" asp-route-AppropriationId="@Model.AppropriationId" asp-route-BudgetAllotmentId="@Model.BudgetAllotmentId"><span class="glyphicon glyphicon-arrow-left"></span> Back to GAA</a>
<br />
<br />

<div id="example" class="hot"></div>
<br />
<script>
    var fundsource_id = $("#fundsource_id").val();

    var CHECK_AFTER_ROW = false;
    var CHECK_FIRST_ROW = false;
    var TRAP_THE_LOAD = false;
    var TRAP_THE_LOAD1 = false;
    var AMOUNT = 0;

    let guid = () => {
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    function ajaxServerFundTransferedTo(ajax_data, url) {
        $.ajax({
            type: 'POST',
            url: url,
            headers: { "RequestVerificationToken": '@GetAntiXsrfRequestToken()' },
            data: { data: ajax_data },
            success: function (output) {
                console.log(output);
            }
        });
    }

    //UACS
    var uacs = $.parseJSON($(".uacs").val());
    var uacs_data_dropdown_2 = [];
    var uacs_data_array_2 = [];
    var get_account_title = [];
    var uacs_counter_2 = 0;
    $.each(uacs, function () {
        uacs_data_dropdown_2[uacs_counter_2] = this.Account_title;
        var json_data_2 = new Object();
        json_data_2.UacsId = this.UacsId;
        uacs_data_array_2[this.Account_title] = json_data_2;
        get_account_title[this.UacsId] = this.Account_title;
        uacs_counter_2++;
    });

    var fundsource_amount = 0;
    var fundtransferedto = $.parseJSON($(".fundtransferedto").val());
    const data = [];
    var counter = 0;
    $.each(fundtransferedto, function () {
        data[counter] = [
            get_account_title[this.FundSourceAmountId],
            this.Particulars,
            this.Amount,
            this.FundSourceId,
            this.token]
        counter++;
        fundsource_amount += this.Realignment_amount;
    })

    $(".fundsource_amount").html(fundsource_amount);

    const searchField = document.querySelector('#search_field2');
    const button = document.querySelector('#export-file');
    const container = document.getElementById('example');
    const hot = new Handsontable(container, {
        data: data,
        colWidths: [400, 400, 200],
        rowHeaders: true,
        colHeaders: ['UACS', 'PARTICULARS', 'AMOUNT', 'ID', 'TOKEN'],
        columns: [
            {
                //REALIGNMENT TO
                type: 'dropdown',
                source: uacs_data_dropdown_2
            },
            {
                type: 'text'
            },
            {
                type: 'numeric',
                numericFormat: {
                    pattern: '0,0.00',
                    culture: 'en-Ph'
                },
            },
   
            {
                //HIDDEN ID
            },
            {
                //HIDDEN TOKEN
            },
        ],
        undo: true,
        search: {
            searchResultClass: 'search-result-custom'
        },
        contextMenu: ['row_above', 'row_below', 'remove_row'],
        beforeRemoveRow: function (index, column) {
            var selection = this.getSelected();
			var holder_data = this.getData();
            var single_token = holder_data[selection[0][0]][4];
			var first_column = selection[0][0];
			var last_column = selection[0][2];
			var many_token = [];
			for (var j = first_column; j <= last_column; j++) {
				many_token.push({
                    many_token: holder_data[j][4]
				});
			}

            var ajax_data = {
                "fundsource_id": fundsource_id,
				"single_token": single_token,
				"many_token": many_token
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteFundTransferedTo", "FundTransferedTo")',
                headers: { "RequestVerificationToken": '@GetAntiXsrfRequestToken()' },
                data: { data: ajax_data },
                success: function (result) {
                    displayTotalCalculation(result);
                }
            });
		},
        afterUndo: function (index, column) {

        },
        afterCreateRow: function (row, column) {
            CHECK_FIRST_ROW = true;
            console.log(row);
            console.log(column);
            hot.setDataAtCell(row, 4, guid());
        },
        afterChange: function (changes, source) {
            if (!changes || source === 'loadData' || CHECK_AFTER_ROW) {
                CHECK_AFTER_ROW = false;
                return;
            }
         
            if (CHECK_FIRST_ROW) {
                CHECK_FIRST_ROW = false; //TRAP THE DOUBLE LOAD IN FIRST ROW
                console.log("check first row!");
            }
            else if (TRAP_THE_LOAD) {
                console.log("TRAP_THE_LOAD");
                TRAP_THE_LOAD = false;
            }
            else {
                console.log("else");
                var ajax_data = [];
                $.each(hot.getSourceData(), function () {
                    ajax_data.push({
                        Realignment_to: this[0] ? uacs_data_array_2[this[0]].UacsId : "",
                        Particulars: this[1],
                        Amount: this[2],
                        FundSourceId: fundsource_id,
                        token: this[4]
                    });
                });
                console.log(ajax_data);
                ajaxServerFundTransferedTo(ajax_data, '@Url.Action("SaveFundTransferedTo", "FundTransferedTo")');
            }
		},
        height: 'auto',
        hiddenColumns: {
            columns: [3,4],
            indicators: true
        },
        licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
    });
    var tableData = JSON.stringify(hot.getSourceData());

    function trapTheCell(row, col, oldValue) {
        TRAP_THE_LOAD1 = true; //trap so that can't save in DB
        TRAP_THE_LOAD = true; //trap so that can't save in DB
        hot.setDataAtCell(row, col, oldValue);
    }

    function trapTheLoad(row, col, oldValue, trap_message) {
        Lobibox.alert("error", {
            msg: trap_message,
            sound: false,
        });
        TRAP_THE_LOAD1 = true; //trap so that can't save in DB
        TRAP_THE_LOAD = true; //trap so that can't save in DB
        trapTheCell(row, col, oldValue)
        return;
    }


</script>

