@using fmis.Data
@using fmis.Data.MySql
@model List<fmis.Models.pr.Pr>
@inject PpmpContext PpmpContext
@inject DtsContext dts
@inject MyDbContext context
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "PR";
}
<style>
	.select2-container--default .select2-selection--single {
		width: 350px;
	}

	table {
		border-collapse: collapse;
	}

	.td-height {
		height: 20px;
	}

	.pr-no-link {
		cursor: pointer;
	}

	.step-date {
		margin-top: -20px;
		font-size: 12px;
		color: #777;
	}

	.custom-width {
		max-width: 1400px;
		width: 100%;
	}

	.highlight-header {
		background-color: darkgray;
	}

	.trackFontSize {
		font-size: 8pt;
	}

	.loading-spinner {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 4px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		border-top: 4px solid #3498db;
		width: 40px;
		height: 40px;
		animation: spin 1s linear infinite;
	}
	@@keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-primary" data-toggle="modal" data-target="#createPr">
				Create New Pr
				<i class="ace-icon glyphicon-plus"></i>
			</button>
		</div>
		<div class="col-xs-6 text-right">
			<button class="btn btn-secondary track-button" data-toggle="modal" data-target="#trackPr">
				<i class="ace-icon fa fa-search nav-search-icon"></i>
				Track Pr
			</button>
		</div>
	</div>
</div>
<br />
<br />
<br />


@if (Model.Count > 0)
{
	<div class="col-xs-12">
		<table id="simple-table" class="table  table-bordered table-hover">
			<thead>
				<tr>
					<th>PR Number</th>
					<th>
						<i class="ace-icon fa fa-calendar bigger-110 hidden-480"></i>
						Pr Date
					</th>
					<th>
						<i class="ace-icon fa fa-money bigger-110 hidden-480"></i>
						Grand Total
					</th>
					<th>
						Purpose
					</th>
					<th class="hidden-480">
						<i class="ace-icon fa fa-money bigger-110 hidden-480"></i>
						Fund Source
					</th>
					<th>
						<i class="ace-icon fa fa-user bigger-110 hidden-480"></i>
						Requested by
					</th>
					<th>
						ACTIONS
					</th>
				</tr>
			</thead>

			<tbody>

				@foreach (var items in Model)
				{

					<tr>
						<td class="pr-no clickable" data-toggle="modal" data-target="#modal-@items.Id">@items.Prno</td>
						<td>@items.PrnoDate.ToShortDateString()</td>
						<td class="hidden-480">@items.GrandTotal</td>
						<td width="35%">@items.Purpose</td>
						<td>@items.FundCharging</td>
						<td>@items.RequestedBy</td>
						<td>
							<a class="btn btn-xs btn-primary" target="_blank" href="@Url.Action("PrintPr","Pr",new { id = @items.Id })" data-bs-toggle="print" title="Print Pr">
								<i class="ace-icon fa fa-file-pdf-o"></i>
							</a> | <a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#smallModal-@items.Id" data-id="@items.Id"><i class="ace-icon fa fa-list-ul"></i></a>
							@* <a class="btn btn-xs btn-primary " data-toggle="modal" data-target="#trackModal" data-id="@items.Id" data-prno="@items.Prno"><i class="ace-icon fa fa-search"></i></a> *@
						</td>
					</tr>

					<div class="modal fade" id="smallModal-@items.Id" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Pu Checklist</h4>
								</div>
								<div class="modal-body">
									<ul>
										@{
											var puChecks = context.PuChecklist.Where(x => x.Prno == items.Id).FirstOrDefault();
											if (puChecks != null)
											{
												var puCheck = context.PrChecklist.Where(x => x.PuChecklist.Id == puChecks.Id).ToList();

												if (puCheck.Count > 0)
												{
													foreach (var prCheck in puCheck)
													{
															<li>@prCheck.Description</li>
														if (prCheck.Others != null)
														{
																<p>- @prCheck.Others</p>
														}
													}
												}
												else
												{
														<li>No data</li>
												}
											}
											else
											{
													<li>No data</li>
											}
										}
									</ul>
								</div>
							</div>
						</div>
					</div>
				}
			</tbody>
		</table>
	</div>

}
else
{
	<div class="col-xs-12">
		<div class="alert alert-block alert-danger">
			<i class="ace-icon fa fa-warning red"></i>
			No Records found
		</div>
	</div>
}

@foreach (var items in Model)
{
	<div class="modal fade" id="modal-@items.Id" tabindex="-1" role="dialog" aria-labelledby="modalLabel-@items.Id" aria-hidden="true">
		<div class="modal-dialog modal-lg" style="width: 90%" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #438EB9;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal_content">
					<link href="https://mis.cvchd7.com/dts/resources/assets/css/print.css" rel="stylesheet">
					<style>
						#border-top {
							border-collapse: collapse;
							border-top: none;
						}

						#border-bottom {
							border-collapse: collapse;
							border-bottom: none;
						}

						.align {
							text-align: center;
						}

						.align-top {
							vertical-align: top;
						}

						small {
							color: red;
						}
					</style>
					<form asp-controller="Pr" asp-action="Create" method="post">
						<input type="hidden" name="_token" value="YravfoTmevuyJdk7TRgaydCKqpzNLHKreK6jktxT" autocomplete="off">
						<span id="getDesignation" data-link="https://mis.cvchd7.com/dts/getDesignation"></span>
						<span id="url" data-link="https://mis.cvchd7.com/dts/prr_supply_append"></span>
						<span id="token" data-token="YravfoTmevuyJdk7TRgaydCKqpzNLHKreK6jktxT"></span>
						<input type="hidden" name="doc_type" value="PRR_S" autocomplete="off">
						<input type="hidden" value="985241" name="prepared_by" autocomplete="off">
						<div class="modal-body">
							<div class="content-wrapper">
								<!-- Main content -->
								<section class="invoice">
									<table cellpadding="0" cellspacing="0">
									</table>
									<table class="letter-head" cellpadding="0" cellspacing="0" id="itemTable">
										<thead>
											<tr>
												<td colspan="7" class="align" style="text-align: center;">
													<img src="https://mis.cvchd7.com/dts/resources/img/doh.png" width="70" style="float: left; margin-right: 10px;">
													<strong>PURCHASE REQUEST</strong><br><br>
													DOH - Central Visayas Center for Health Development<br>
													<strong>(Agency)</strong>
												</td>
											</tr>
											<tr>
												<td colspan="2">Division:</td>
												<td colspan="2">Office of the RD / ARD </td>
												<td colspan="2">PR NO.: <strong>@items.Prno</strong> </td>
												<td colspan="5">Date: <strong>@items.PrnoDate.ToShortDateString()</strong></td>
											</tr>
											<tr>
												<td colspan="2">Section/Unit:</td>
												<td colspan="2">Information and Communication Technology Unit(RD-ARD)</td>
												<td colspan="2">SAI NO.:</td>
												<td colspan="5">Date:</td>
											</tr>
											<tr>
												<td colspan="2" class="td-height"></td>
												<td colspan="2" class="td-height"></td>
												<td colspan="2" class="td-height">ALOBS NO.:</td>
												<td colspan="5" class="td-height">Date:</td>
											</tr>
											<tr>
												<td><b>Item </b></td>
												<td><b>Unit of Issue</b></td>
												<td width="40%"><b>Item Description</b></td>
												<td><b>Quantity</b></td>
												<td colspan="2"><b>Estimated Unit Cost</b></td>
												<td colspan="2"><b>Estimated Cost</b></td>
											</tr>
										</thead>
										<tbody>
											@if (items.PrItems != null)
											{

												@foreach (var prItems in items?.PrItems)
												{
													var Items = PpmpContext?.item?.FirstOrDefault(x => x.Id == Convert.ToInt32(prItems.PrId))?.Description;
													<tr>
														<td id="border-bottom">
															<input type="hidden" id="expenses">1
														</td>
														<td id="border-bottom" class="issue1 align-top">
															<i>@prItems.Unit</i>
														</td>
														<td id="border-bottom" class="description1 align-top">
															<i>@Items</i>
														</td>
														<td id="border-bottom" class="qty1 align-top">
															<i>@prItems.Qty</i>
														</td>
														<td id="border-bottom" class="unit_cost1 align-top" colspan="2">
															<i>@prItems.EstUnitCost</i>
														</td>
														<td id="border-bottom" class="estimated_cost1 align-top">
															<i>@prItems.EstCost</i>
														</td>
													</tr>
												}
											}
										</tbody>
										<tfoot>
											<tr>
												<td colspan="6"><b style="float: right">GRAND TOTAL</b></td>
												<td class="align-top">
													@{
														var sumEstCost = items.PrItems.Sum(x => x.EstCost);
														var phCulture = new System.Globalization.CultureInfo("en-PH");
														var formattedSum = sumEstCost.ToString("C", phCulture);
													}
													<strong>@formattedSum</strong>
													<strong style="color: red;"></strong><strong style="color:red" id="total"></strong>
												</td>
											</tr>
											<tr>
												<td colspan="7" class="align">
													<h3>Certification</h3>
													This is to certify that dilligent efforts have been exerted to ensure that the price/s indicated above(in relation to the specifications) is/are within the prevailing market price/s.
												</td>
											</tr>
											<tr>
												<td>
													<label for="purpose">Purpose:</label>
												</td>
												<td colspan="6">
													<strong>@items.Purpose</strong>
												</td>
											</tr>
											<tr>
												<td>
													<label>Fund Chargeable To:</label>
												</td>
												<td colspan="4">
													<strong>@items.FundCharging</strong>
												</td>
												<td colspan="2">
													<label>Cash Advance of:</label>
													<input type="hidden" class="form-control" autocomplete="off">
												</td>
											</tr>
										</tfoot>
									</table>
									<table class="letter-head" style="margin-top: 2%">
										<tbody>
											<tr>
												<td width="15%">
													<label for="">Signature:</label><br>
													<label for="">Printed Name:</label><br>
													<label for="">Designation:</label><br>
												</td>
												<td width="23%">
													<label for="">Requested by:</label><br />
													<strong>@items.RequestedBy</strong>
												</td>
												<td>
													<label for="">Recommending Approval:</label><br />
													@{
														var employee = dts.users.Where(x => x.Id == Convert.ToInt32(items.RecoApproval))
														.Select(x => new
														{
															Id = x.Id,
															Fullname = x.Fname + " " + x.Mname + " " + x.Lname
														}).FirstOrDefault();
													}
													<strong>@employee.Fullname</strong>
												</td>
												<td class="align" width="35%">
													<label for="">Approved By</label><br>
													<strong>JAIME S. BERNADAS, MD, MGM, CESO III</strong><br>
													Director IV
												</td>
											</tr>
										</tbody>
									</table>
								</section>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}

<div class="modal fade" id="createPr" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div id="my_modal" class="modal-dialog modal-lg" style="width: 90%" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #438EB9;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal_content">
				<link href="https://mis.cvchd7.com/dts/resources/assets/css/print.css" rel="stylesheet">
				<style>
					#border-top {
						border-collapse: collapse;
						border-top: none;
					}

					#border-bottom {
						border-collapse: collapse;
						border-bottom: none;
					}

					.align {
						text-align: center;
					}

					.align-top {
						vertical-align: top;
					}

					small {
						color: red;
					}
				</style>
				<form asp-controller="Pr" asp-action="Create" method="post">
					<input type="hidden" name="_token" value="YravfoTmevuyJdk7TRgaydCKqpzNLHKreK6jktxT" autocomplete="off">
					<span id="getDesignation" data-link="https://mis.cvchd7.com/dts/getDesignation"></span>
					<span id="url" data-link="https://mis.cvchd7.com/dts/prr_supply_append"></span>
					<span id="token" data-token="YravfoTmevuyJdk7TRgaydCKqpzNLHKreK6jktxT"></span>
					<input type="hidden" name="doc_type" value="PRR_S" autocomplete="off">
					<input type="hidden" value="985241" name="prepared_by" autocomplete="off">
					<div class="modal-body">
						<div class="content-wrapper">
							<!-- Main content -->
							<section class="invoice">
								<table cellpadding="0" cellspacing="0">
								</table>
								<table class="letter-head" cellpadding="0" cellspacing="0" id="itemTable">
									<thead>
										<tr>
											<td colspan="7" class="align" style="text-align: center;">
												<img src="https://mis.cvchd7.com/dts/resources/img/doh.png" width="70" style="float: left; margin-right: 10px;">
												<strong>PURCHASE REQUEST</strong><br><br>
												DOH - Central Visayas Center for Health Development<br>
												<strong>(Agency)</strong>
											</td>
										</tr>
										<tr>
											<td colspan="2">Division:</td>
											<td colspan="2">Office of the RD / ARD </td>
											<td colspan="2">PR NO.: <input type="text" name="Prno" autocomplete="off" style="width: 140px"></td>
											<td colspan="5">Date: <input type="date" name="PrnoDate" required="" autocomplete="off" style="width: 120px"></td>
										</tr>
										<tr>
											<td colspan="2">Section/Unit:</td>
											<td colspan="2">Information and Communication Technology Unit(RD-ARD)</td>
											<td colspan="2">SAI NO.:</td>
											<td colspan="5">Date:</td>
										</tr>
										<tr>
											<td colspan="2" class="td-height"></td>
											<td colspan="2" class="td-height"></td>
											<td colspan="2" class="td-height">ALOBS NO.:</td>
											<td colspan="5" class="td-height">Date:</td>
										</tr>
										<tr>
											<td><b>Expense Type</b></td>
											<td><b>Unit of Issue</b></td>
											<td width="40%"><b>Item Description</b></td>
											<td><b>Quantity</b></td>
											<td colspan="2"><b>Estimated Unit Cost</b></td>
											<td colspan="2"><b>Estimated Cost</b></td>
										</tr>
									</thead>
									<tbody class="input_fields_wrap">
										<tr>
											<td id="border-bottom">
												<select id="expenseSelect" asp-items="ViewBag.ExpenseId" style="width: 200px; height: 37px">
													<option value="">Select Expense</option>
												</select>
											</td>
											<td id="border-bottom" class="issue1 align-top">
												<br>
												<input type="text" id="unit" name="PrItems[0].Unit" autocomplete="off">
												<small>required!</small>
											</td>
											<td id="border-bottom" class="description1 align-top">
												<br>
												<select id="items" name="PrItems[0].ItemDescription" asp-items="ViewBag.ItemId" style="width: 350px; height: 37px">
													<option value="">Select Item</option>
												</select>
											</td>
											<td id="border-bottom" class="qty1 align-top">
												<br>
												<input type="text" name="PrItems[0].Qty" id="qty" autocomplete="off">
												<small id="E_qty1">required!</small>
											</td>
											<td id="border-bottom" class="unit_cost1 align-top" colspan="2">
												<br>
												<input type="text" id="unitCost" name="PrItems[0].EstUnitCost" required="" autocomplete="off"><small id="E_unit_cost1">required!</small>
											</td>
											<td id="border-bottom" class="estimated_cost1 align-top">
												<br>
												<input type="text" id="estimated_cost" name="PrItems[0].EstCost" class="form-control" autocomplete="off">
												<strong style="color:green;"></strong><strong style="color:green" id="e_cost1"></strong>
											</td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td id="border-top"></td>
											<td id="border-top"></td>
											<td id="border-top"></td>
											<td id="border-top"></td>
											<td id="border-top" colspan="2"></td>
											<td id="border-top"><button type="button" onclick="add();">Add new</button></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="6"><b style="float: right">GRAND TOTAL</b></td>
											<td class="align-top">
												<input type="text" name="amount" id="grandTotal" autocomplete="off">
											</td>
										</tr>
										<tr>
											<td colspan="7" class="align">
												<h3>Certification</h3>
												This is to certify that dilligent efforts have been exerted to ensure that the price/s indicated above(in relation to the specifications) is/are within the prevailing market price/s.
											</td>
										</tr>
										<tr>
											<td>
												<label for="purpose">Purpose:</label>
											</td>
											<td colspan="6">
												<textarea class="form-control" name="Purpose" required=""></textarea>
											</td>
										</tr>
										<tr>
											<td>
												<label>Fund Chargeable To:</label>
											</td>
											<td colspan="4">
												<textarea class="form-control" name="FundCharging" required=""></textarea>
											</td>
											<td colspan="2">
												<label>Cash Advance of:</label>
												<input type="hidden" class="form-control" autocomplete="off">
											</td>
										</tr>
									</tfoot>
								</table>
								<table class="letter-head" style="margin-top: 2%">
									<tbody>
										<tr>
											<td width="15%">
												<label for="">Signature:</label><br>
												<label for="">Printed Name:</label><br>
												<label for="">Designation:</label><br>
											</td>
											<td width="23%">
												<label for="">Requested by:</label><br />
												<input type="text" name="RequestedBy" class="form-control">
											</td>
											<td>
												<label for="">Recommending Approval:</label><br />
												<select class="form-control select2basic" name="RecoApproval" asp-items="ViewBag.Approval"></select>
											</td>
											<td class="align" width="35%">
												<label for="">Approved By</label><br>
												<strong>JAIME S. BERNADAS, MD, MGM, CESO III</strong><br>
												Director IV
											</td>
										</tr>
									</tbody>
								</table>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
									<button type="submit" class="btn btn-success">
										<i class="fa fa-send"></i> Submit
									</button>
								</div>
							</section>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="trackPr" tabindex="-1" role="dialog" aria-labelledby="trackModal" data-id="">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #438EB9;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><i class="fa fa-line-chart"></i>Track Purchase Request</h4>
			</div>
			<div class="modal-body">
				<table class="table">
					<tbody>
						<tr>
							<form id="trackPrForm">
								<td class="col-sm-3"><label>Purchase Request Number</label></td>
							<td class="col-sm-8"><input type="text" id="prNo" placeholder="Enter Pr Number..." class="form-control" autocomplete="off" style="height: 34px;"></td>
								<td class="col-sm-1"><button type="button" id="trackBtn" class="btn btn-default" style="height: 34px;"><i class="fa fa-search"></i> Track</button> </td>
							</form>
						</tr>
					</tbody>
				</table>
				<hr />
				<center id="loading" style="display: none;">
					<img src="~/assets/images/loading.gif" alt="Loading..." />
				</center>
				<div class="pr_history">
					<div class="alert alert-danger" id="errorAlert" style="display: none;">
						<i class="fa fa-times"></i> No PR found
					</div>
					<table class="table table-hover table-striped" id="prHistory" style="display: none;">
						<thead>
							<tr>
								<th width="14.2%">PR Received on PU</th>
								<th width="13.2%">Checklist</th>
								<th width="14.2%">Rmop</th>
								<th width="14.2%">Rmop forwarded to</th>
								<th width="14.2%">Rmop forwarded to</th>
								<th width="13.2%">Canvass</th>
								<th width="16.2%">Twg</th>
							</tr>
						</thead>
						<tbody id="prHistoryBody">
							<tr>
								<td class="text-bold trackFontSize text-success">
								</td>
								<td class="trackFontSize text-success" id="prChecklist">
								</td>
								<td class="trackFontSize text-success" id="prRmopAta">
								</td>
								<td class="trackFontSize text-success" id="bacSig">
								</td>
								<td class="trackFontSize text-success" id="rdSig">
								</td>
								<td class="trackFontSize text-success">
									<a href="#" id="canvass"></a>
								</td>
								<td class="trackFontSize text-success"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="secondModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #438EB9;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><i class="fa fa-line-chart"></i>Track Purchase Request</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 8%;">Additional Canvass or Re Canvass</th>
							<th style="width: 8%;">2nd Additional Canvass or <br> Re Canvass</th>
							<th style="width: 8%;">3rd Additional Canvass or <br> Re Canvass</th>
							<th style="width: 8%;">Abstract</th>
							<th style="width: 8%;">Abstract forwarded to</th>
							<th style="width: 8%;">Purchase Order</th>
							<th style="width: 8%;">PO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="trackFontSize text-success" id="additionalCanvass">
							<td class="trackFontSize text-success" id="secondAdditionalCanvass">
							<td class="trackFontSize text-success" id="thirdAdditionalCanvass">
							<td class="trackFontSize text-success" id="abstractPr">
							<td class="trackFontSize text-success" id="abstractForBac">
							<td class="trackFontSize text-success" id="poRemarks">
							<td class="trackFontSize text-success" id="poIsforBudget">
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/prStatus.js"></script>

<script>
	$(document).ready(function () {
		$('.select2basic').select2({
			width: '82%'
		});
		$("#items").on("change", function () {
			var selectedValue = $(this).val();

			$.ajax({
				type: "GET",
				url: '@Url.Action("GetUnit", "Pr")',
				data: { id: selectedValue },
				success: function (response) {
					$("#unit").val(response);
				},
				error: function (xhr, status, error) {
				}
			});

			$.ajax({
				type: "GET",
				url: '@Url.Action("GetUnitCost", "Pr")',
				data: { id: selectedValue },
				success: function (response) {
					$("#unitCost").val(response);
				},
				error: function (xhr, status, error) {
				}
			});

		});

		$("#trackBtn").on("click", function () {
			var prNo = $("#prNo").val();
			$("#loading").show();

			$.ajax({
				url: '@Url.Action("GetPrStatus", "Pr")',
				method: 'POST',
				data: { prNo: prNo },
				beforeSend: function () {
					$("#prHistory").hide();
				},
				success: function (data) {
					$("#loading").show();

					setTimeout(function () {
						$("#loading").hide();
						$("#errorAlert").hide();

						const checklistDate = data.checklist?.checklist;
						const checklistRemarks = data.checklist?.remarks;
						const rmopAtaDate = data.rmopAta?.rmopAta;
						const rmopBacSig = data.rmopAta?.bacSig;
						const rmopRdSig = data.rmopAta?.rdSig;
						const canvass = data.canvass?.canvass;

						const options = {
							year: 'numeric',
							month: 'short',
							day: 'numeric',
							hour: 'numeric',
							minute: 'numeric',
							hour12: true,
						};
						const formattedDate = new Intl.DateTimeFormat('en-US', options).format(new Date(checklistDate));
						const formattedRmopAtaDate = new Intl.DateTimeFormat('en-US', options).format(new Date(rmopAtaDate));

						const splitIndex = formattedDate.indexOf('2024') + 5;
						const datePart = formattedDate.slice(0, splitIndex).trim();
						const timePart = formattedDate.slice(splitIndex).trim();

						const splitIndexRmopAta = formattedRmopAtaDate.indexOf('2024') + 5;
						const datePartRmopAta = formattedRmopAtaDate.slice(0, splitIndexRmopAta).trim();
						const timePartRmopAta = formattedRmopAtaDate.slice(splitIndexRmopAta).trim();

						const td2 = document.getElementById('prChecklist');
						td2.innerHTML = `${checklistRemarks}`;

						const td3 = document.getElementById('prRmopAta');
						td3.innerHTML = "asdasd";

						const td4 = document.getElementById('bacSig');
						td4.innerHTML = `${rmopBacSig}`;

						const td5 = document.getElementById('rdSig');
						td5.innerHTML = `${rmopRdSig}`;

						const td6 = document.getElementById('canvass');
						td6.innerHTML = `${canvass}`;

						$("#prHistory").show();

						$("#canvass").on("click", function () {
							$("#secondModal").modal("show");

							const additionalCanvass = data.canvass?.additionalCanvass;
							const secondAdditionalCanvass = data.canvass?.secondAdditionalCanvass;
							const thirdAdditionalCanvass = data.canvass?.thirdAdditionalCanvass;
							const abstractPr = data.abstractPr?.abstractPr;
							const abstractForBac = data.abstractPr?.abstractForBac;
							const poRemarks = data.po?.poRemarks;
							const poIsforBudget = data.po?.poIsforBudget;

							const td7 = document.getElementById('additionalCanvass');
							td7.innerHTML = `${additionalCanvass}`;

							const td8 = document.getElementById('secondAdditionalCanvass');
							td8.innerHTML = `${secondAdditionalCanvass}`;

							const td9 = document.getElementById('thirdAdditionalCanvass');
							td9.innerHTML = `${thirdAdditionalCanvass}`;

							const td10 = document.getElementById('abstractPr');
							td10.innerHTML = `${abstractPr}`;

							const td11 = document.getElementById('abstractForBac');
							td11.innerHTML = `${abstractForBac}`;

							const td12 = document.getElementById('poRemarks');
							td12.innerHTML = `${poRemarks}`;

							const td13 = document.getElementById('poIsforBudget');
							td13.innerHTML = `${poIsforBudget}`;

						});

					}, 1500);

					
				},
				error: function (error) {
					$("#errorAlert").show();
					$("#loading").hide();
					
				}
			});
		});

	});
	//Estimated Unit Cost
	const unitCostInput = document.getElementById('unitCost');
	const qtyInput = document.getElementById('qty');
	const estimatedCostInput = document.getElementById('estimated_cost');

	unitCostInput.addEventListener('input', updateEstimatedCost);
	qtyInput.addEventListener('input', updateEstimatedCost);

	function updateEstimatedCost() {
		const unitCost = parseFloat(unitCostInput.value);
		const qty = parseFloat(qtyInput.value);

		if (!isNaN(unitCost) && !isNaN(qty)) {
			const estimatedCost = unitCost * qty;

			estimatedCostInput.value = estimatedCost.toLocaleString();
		} else {
			estimatedCostInput.value = '';
		}
	}

	//items
	$(document).ready(function () {
		$("#expenseSelect").change(function () {
			var selectedExpenseId = $(this).val();
			if (selectedExpenseId !== "") {
				$.ajax({
					type: "GET",
					url: '@Url.Action("GetItemsId", "Pr")',
					data: { expenseId: selectedExpenseId },
					success: function (data) {
						$("#items").empty();
						$.each(data, function (index, item) {
							$("#items").append('<option value="' + item.id + '">' + item.description + '</option>');
						});
					},
					error: function (xhr, status, error) {
					}
				});
			} else {
				$("#items").empty();
			}
		});
	});
	//
	//new items
	let rowIndex = 0; // Initialize the index

	function add() {
		rowIndex++; // Increment the index

		const originalRow = document.querySelector('.input_fields_wrap tr:first-child');
		const newRow = originalRow.cloneNode(true);

		const inputs = newRow.querySelectorAll('input, select');
		inputs.forEach(input => {
			input.value = '';

			// Update IDs and names of inputs to include the new index
			const id = input.getAttribute('id');
			const name = input.getAttribute('name');
			if (id) input.setAttribute('id', id.replace(/\[0\]/g, `[${rowIndex}]`));
			if (name) input.setAttribute('name', name.replace(/\[0\]/g, `[${rowIndex}]`));
		});

		const qtyInput = newRow.querySelector('#qty');
		const unitInput = newRow.querySelector('#unit');
		const estimatedCostInput = newRow.querySelector('#estimated_cost');
		const unitCostInput = newRow.querySelector('#unitCost');
		if (qtyInput && unitInput && estimatedCostInput && unitCostInput) {
			qtyInput.setAttribute('id', `qty_${rowIndex}`);
			qtyInput.setAttribute('name', `PrItems[${rowIndex}].Qty`);

			unitInput.addEventListener('input', updateEstimatedCost);
			qtyInput.addEventListener('input', updateEstimatedCost);

			unitCostInput.setAttribute('id', `unitCost_${rowIndex}`);
			unitCostInput.setAttribute('name', `PrItems[${rowIndex}].UnitCost`);

			unitCostInput.addEventListener('input', updateEstimatedCost);

			function updateEstimatedCost() {
				const qty = parseFloat(qtyInput.value) || 0;
				const unitCost = parseFloat(unitCostInput.value) || 0;
				const estimatedCost = qty * unitCost;

				estimatedCostInput.value = estimatedCost.toFixed(2);
			}

			estimatedCostInput.setAttribute('id', `estimated_cost_${rowIndex}`);
			estimatedCostInput.setAttribute('name', `PrItems[${rowIndex}].EstCost`);
			estimatedCostInput.addEventListener('input', function () {
				// Your logic when the estimated_cost input changes
				console.log('Estimated Cost input changed:', this.value);
				// Add more logic as needed
			});
		}

		const selectedExpenseSelect = newRow.querySelector('#expenseSelect');

		if (selectedExpenseSelect) {
			const selectedExpenseId = selectedExpenseSelect.value;
			$.ajax({
				type: "GET",
				url: '@Url.Action("GetItemsId", "Pr")',
				data: { expenseId: selectedExpenseId },
				success: function (data) {
					const newSelect = newRow.querySelector('#items');
					newSelect.innerHTML = '<option value="">Select Item</option>';
					data.forEach(item => {
						newSelect.innerHTML += `<option value="${item.id}">${item.description}</option>`;
					});
					const tableBody = document.querySelector('.input_fields_wrap');
					tableBody.appendChild(newRow);
				},
				error: function (xhr, status, error) {
				}
			});
		} else {
			const tableBody = document.querySelector('.input_fields_wrap');
			tableBody.appendChild(newRow);
		}

		newRow.querySelector('#expenseSelect').addEventListener('change', function () {
			const selectedExpenseId = this.value;
			if (selectedExpenseId !== "") {
				$.ajax({
					type: "GET",
					url: '@Url.Action("GetItemsId", "Pr")',
					data: { expenseId: selectedExpenseId },
					success: function (data) {
						const newSelect = newRow.querySelector('#items');
						newSelect.innerHTML = '<option value="">Select Item</option>';
						data.forEach(item => {
							newSelect.innerHTML += `<option value="${item.id}">${item.description}</option>`;
						});
					},
					error: function (xhr, status, error) {
					}
				});
			} else {
				const newSelect = newRow.querySelector('#items');
				newSelect.innerHTML = '<option value="">Select Item</option>';
			}
		});


		if (unitInput) {
			newRow.querySelector('#items').addEventListener('change', function () {
				const selectedValue = this.value;
				$.ajax({
					type: "GET",
					url: '@Url.Action("GetUnit", "Pr")',
					data: { id: selectedValue },
					success: function (response) {
						// Update the value of #unit in the new row
						unitInput.value = response;
					},
					error: function (xhr, status, error) {
					}
				});

				$.ajax({
					type: "GET",
					url: '@Url.Action("GetUnitCost", "Pr")',
					data: { id: selectedValue },
					success: function (response) {
						unitCostInput.value = response;
					},
					error: function (xhr, status, error) {
					}
				});
			});
		}
	}

	//var viewMoreLink = document.querySelector('.view-more-link');

	// Add click event listener to open the second modal
	//viewMoreLink.addEventListener('click', function (event) {
		//event.preventDefault();
		//$('#secondModal').modal('show');
	//});
</script>