@model IEnumerable<fmis.Models.Personal_Information>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="CreateModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--EDIT MODAL-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--DELETE MODAL-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<h3 class="grey lighter smaller">
    List of ORS Head Requesting Office /Authorized Representative
</h3>
<hr />
<p>
    <a class="btn btn-success btn-sm" asp-action="Create" data-target="#CreateModal" data-toggle="modal">
        <i class="ace-icon fa fa-plus"></i>Create New
    </a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Head Name
            </th>
            <th>
                Division
            </th>
            <th>
                Section
            </th>
            <th>
                Head Information
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.full_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.division)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.designation)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" data-target="#EditModal" data-toggle="modal" asp-route-pi_userid="@item.userid">
                        <i class="ace-icon fa fa-edit"></i>Update
                    </a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" data-target="#DeleteModal" data-toggle="modal" asp-route-pi_userid="@item.userid">
                        <i class="ace-icon fa fa-trash"></i>Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
