@model fmis.Models.Ors_head

@{
    ViewData["Title"] = "Details";
}

@*<h2>Details</h2>

    <div>
        <h4>Requesting_office</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Personal_Information.full_name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personal_Information.division)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Personal_Information.section)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personal_Information.designation)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-primary"asp-action="Edit" asp-route-id="@Model.Id">Update</a> |
        <a class="btn btn-default"asp-action="Index">Back to List</a>
    </div>*@
