@model fmis.Models.Ors_head

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ors_head</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Head_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Head_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Update</a> |
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
