 @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject fmis.Data.MyDbContext _context
@using Microsoft.EntityFrameworkCore;


@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <title>@ViewData["Title"] - fmis </title>


    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- handsontable styles -->
    @*  <link rel="stylesheet" href="~/css/handsontable.css" />*@
    <link rel="stylesheet" href="~/css/handsontable/latesthandsontable.css" asp-append-version="true" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/assets/css/colorbox.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

    <!-- SELECT2 css -->
    <link href="~/assets/plugin/select2/css/select2.min.css" rel="stylesheet" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/assets/css/dropzone.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/dist/css/Lobibox.css" />

    <link rel="stylesheet" href="~/main/main.css" />

    <script src="~/assets/js/ace-extra.min.js"></script>
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/assets/plugins/inputmask/jquery.inputmask.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- handsontable scripts -->
    @*<script src="~/js/handsontable.js"></script>*@
    <script src="~/js/handsontable/latesthandsontable.js" asp-append-version="true"></script>

    <!-- page `pecific plugin scripts -->
    <script src="~/assets/js/jquery.colorbox.min.js"></script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.index.min.js"></script>
    <script src="~/assets/js/jquery.flot.min.js"></script>
    <script src="~/assets/js/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/jquery.flot.resize.min.js"></script>

    <!-- ace scripts -->
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/assets/js/dropzone.min.js"></script>

    <script src="~/assets/plugins/dist/js/Lobibox.js"></script>

    <!-- SELECT 2 JS-->
    <script src="~/assets/plugin/select2/js/select2.min.js"></script>
</head>

<body class="no-skin">
    <partial name="~/Views/Shared/_Navbar_container.cshtml" />

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>
        @if(!User.IsInRole("app_admin"))
        {
            <partial name="~/Views/Shared/_Sidebar.cshtml" />
        }

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs" style="padding:0.6%;">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="breadcrumb">
                                <li>
                                    @if (User.FindFirstValue(ClaimTypes.Role) == "budget_admin")
                                    {
                                            <i class="ace-icon fa fa-home home-icon"></i>
                                            <a asp-controller="BudgetAllotment" asp-action="Index">Home</a>
                                    }
                                    else if (User.IsInRole("accounting_admin"))
                                    {
                                            <i class="ace-icon fa fa-home home-icon"></i>
                                            <a asp-controller="IndexOfPayment" asp-action="Index">Home</a>
                                    }
                                    else if (User.IsInRole("accounting_user"))
                                    {
                                        <i class="ace-icon fa fa-home home-icon"></i>
                                        <a asp-controller="Dv" asp-action="Index">Home</a>
                                    }
                                    else
                                    {
                                            <i class="ace-icon fa fa-home home-icon"></i>
                                            <a href="#">Home</a>
                                    }
                                    
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                                    <partial name="~/Views/Shared/_Account.cshtml" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    @RenderBody()
                    <div class="modal" id="loading_modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <center><img src="~/assets/images/loading.gif" style="margin-left:20%;margin-top:30%;" class="msg-photo" alt="Alex's Avatar" /></center>
                        </div>
                    </div>
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->


        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-100">
                        <span class="blue bolder">FMIS - </span>
                        Department of Health Central Visayas CHD  &copy; 2021
                    </span>

                    &nbsp; &nbsp;

                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>

    </div><!-- /.main-container -->
    <!-- Syncfusion Essential JS 2 ScriptManager -->

    <div class="modal" id="openNotification" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" id="notification_body">

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-default">
                        Close <i class="ace-icon fa fa-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
@*@if (User.Identity.IsAuthenticated)
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalRConnect.js" asp-append-version=true></script>
}*@
<script type="text/javascript">
    var loading = '<center><img src="/assets/images/loading1.gif"/></center>';

    function openNotification(element) {
        $("#openNotification").modal({ backdrop: 'static', keyboard: false });
        $("#notification_body").html(loading);
        element.parent().css("background-color","");
        var url = '@Url.Action("notificationBody", "Notification")';
        $.get(url, function (result) {
            setTimeout(function () {
                $("#notification_body").html(result);
            }, 500);
        });
    }

    function notificationList(logs_type) {
        var url = '@Url.Action("NotificationList", "Notification")'+"?logs_type="+logs_type;
        $.get(url, function (result) {
            $("#"+logs_type+"_notification_list").html(result);
        });
    }

    function logout() {
        event.preventDefault();
        $.ajax({
            type: "POST",
            headers: { "RequestVerificationToken": '@GetAntiXsrfRequestToken()' },
            url: "/Identity/Account/Logout?returnUrl=%2FHome%2FDashboard%3Fpage%3D%252FIndex",
            data: {
                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (result) {
                location.reload();
            },
            error: function (result) {
                console.log(result.responseText);
            }
        });
    }
</script>
