@using Microsoft.AspNetCore.Identity
@using fmis.Areas.Identity.Data

@inject SignInManager<fmisUser> SignInManager
@inject UserManager<fmisUser> UserManager

@model fmis.Models.Budget.Account


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FMIS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/portfolio_bootstrap/img/favicon.png" rel="icon">
    <link href="~/portfolio_bootstrap/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/portfolio_bootstrap/vendor/animate.css/animate.css" rel="stylesheet">
    <link href="~/portfolio_bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/portfolio_bootstrap/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/portfolio_bootstrap/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/portfolio_bootstrap/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/portfolio_bootstrap/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/portfolio_bootstrap/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">

            <div class="logo">
                <h1><a href="index.html"><span style="color:#2ecc71">DOH RO7</span> - FMIS</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Sign In <i class="bi bi-box-arrow-in-right" style="width:20px;"></i></a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

                <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active" style=" background-image: url(/portfolio_bootstrap/img/hero-carousel/1.jpg)">
                        <div class="carousel-container">
                            <div class="container">
                                <h1 class="animate__animated animate__fadeInDown" style="color:white;">Financial Management Information System</h1>
                                <p class="animate__animated animate__fadeInUp" style="font-size:20px">Department of Health Regional Office VII</p>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item" style="background-image: url(/portfolio_bootstrap/img/hero-carousel/2.jpg)">
                        <div class="carousel-container">
                            <div class="container">
                                <h1 class="animate__animated animate__fadeInDown" style="color:white;">Financial Management Information System</h1>
                                <p class="animate__animated animate__fadeInUp" style="font-size:20px">Department of Health Regional Office VII</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" style="background-image: url(/portfolio_bootstrap/img/hero-carousel/3.jpg)">
                        <div class="carousel-container">
                            <div class="container">
                                <h1 class="animate__animated animate__fadeInDown" style="color:white;">Financial Management Information System</h1>
                                <p class="animate__animated animate__fadeInUp" style="font-size:20px">Department of Health Regional Office VII</p>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                    </a>

                    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                    </a>

                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <div id="about" class="about-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>About FMIS</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single-well start-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="#">
                                    <img src="~/portfolio_bootstrap/img/about/10.jpg" alt="">

                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">
                                <a href="#">
                                    <h4 class="sec-head">
                                       Financial Management Information System 
                                    </h4>
                                </a>
                                <ul>
                                    <li>
                                        <i class="bi bi-check"></i> 
                                        A financial management information system (FMIS) accumulates and analyzes financial data used for
                                        optimal financial planning and forecasting decisions and outcomes.
                                        An FMIS is used in conjunction with a decision support system, and it helps
                                        a firm attain its financial objectives.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End col-->
                </div>
            </div>
        </div><!-- End About Section -->
        <!-- ======= Services Section ======= -->
        <div id="services" class="services-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline services-head text-center">
                            <h2>Our Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <!-- Start Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <img src="~/portfolio_bootstrap/img/icon/budget.png" alt="" width="60" height="60">
                                    </a>
                                    <h4>Budget</h4>
                                    <p>
                                        A budget is an estimation of revenue and expenses over a specified future period of time and is utilized by governments,
                                        businesses, and individuals. A budget is basically a financial plan for a defined period, normally a year that is known to
                                        greatly enhance the success of any financial undertaking.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <img src="~/portfolio_bootstrap/img/icon/actg.png" alt="" width="60" height="60">
                                    </a>
                                    <h4>Accounting</h4>
                                    <p>
                                        Accounting is the process of recording financial transactions pertaining to a business. The accounting process includes summarizing,
                                        analyzing and reporting these transactions to oversight agencies, regulators and tax collection entities.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <img src="~/portfolio_bootstrap/img/icon/cashier.png" alt="" width="60" height="60">
                                    </a>
                                    <h4>Cashier</h4>
                                    <p>
                                        Supervises accounts and is responsible for the receipt, custody and disbursement of funds; Signs, endorses and approves the cashing
                                        and acceptance of commercial checks, Distributes to disbursing officers funds or cash advances for the payment of salaries and other expenses.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <img src="~/portfolio_bootstrap/img/icon/planning.png" alt="" width="60" height="60">
                                    </a>
                                    <h4>Planning </h4>
                                    <p>
                                        Planning is the process of thinking about the activities required to achieve a desired goal.It is the first and
                                        foremost activity to achieve desired results. It involves the creation and maintenance of a plan, such as psychological
                                        aspects that require conceptual skills.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>




                    <style>
    a {
        display: inline-block;
    }
</style>
  
@using (Html.BeginForm("Login", "Account", FormMethod.Post))  
{

<div class="card" id="login" style="width:25rem; height: 35rem; margin-left: 25%; border-width: 2px;">
    <br><br><br>
            <center>
                <h6>Sign in to start your session.</h6>
                <img src="~/portfolio_bootstrap/img/about/doh.png" alt="" height="100" width="100">
            </center>
    <br>
    <div class="card-body">
        <section>
            <form id="account" method="post">
                <div class="form-group">
                    <i class="bi bi-person-circle"></i> <label for="@Html.LabelFor(a => a.Username)" style="margin-right:83%;"></label>
                    <span class="text-danger">@Html.ValidationMessageFor(a=>a.Username)</span>
                    <input type="text" id="@Html.TextBoxFor(a => a.Username)" class="form-control" />

                </div>
                <div class="form-group mt-3">
                    <i class="bi bi-person-circle"></i> <label for="@Html.LabelFor(a => a.Password)" style="margin-right:83%;"></label>
                    <span class="text-danger">@Html.ValidationMessageFor(a=>a.Password)</span>
                    <input type="password" id="@Html.PasswordFor(a => a.Password)" class="form-control" />
                </div>
                <br />
                @*<div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" style="margin-right:60%;">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <br />
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>*@
                <br>
                <div class="form-group">
                    <button type="submit" value="Login" class="btn btn-success btn-block btn-flat" style="margin-left:70%; font-size:13px;">SIGN IN <i class="bi bi-box-arrow-in-right"></i> </button>
                </div>
            </form>
        </section>
    </div>
</div>
}  



                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <img src="~/portfolio_bootstrap/img/icon/supply.png" alt="" width="60" height="60">
                                    </a>
                                    <h4>Supply</h4>
                                    <p>
                                        Supply is a fundamental economic concept that describes the total amount of a specific good or service that is available to consumers.
                                        Supply can relate to the amount available at a specific price or the amount available across a range of prices if displayed on a graph.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <img src="~/portfolio_bootstrap/img/icon/sample.png" alt="" width="60" height="60">
                                    </a>
                                    <h4>Sample</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Services Section -->

        <!-- ======= Contact Section ======= -->
        <div id="contact" class="contact-area">
            <div class="contact-inner area-padding">
                <div class="contact-overly"></div>
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline text-center">
                                <h2>Contact us</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start contact icon column -->
                        <div class="col-md-4">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="bi bi-phone"></i>
                                    <p style="color:black; font-size:15px;">
                                        Call: (032) 418-4822<br>
                                        <span>Monday-Friday (9am-5pm)</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Start contact icon column -->
                        <div class="col-md-4">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="bi bi-envelope"></i>
                                    <p style="color:black; font-size:15px">
                                        Email: dohro7@gmail.com<br>
                                        <span>Web: www.doh.fmis.com</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Start contact icon column -->
                        <div class="col-md-4">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="bi bi-geo-alt"></i>
                                    <p style="color:black; font-size:15px">
                                        Location: Sambag II Osmeña Boulevard Street,<br>
                                        <span>Cebu City 6000, Ph</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Start Google Map -->
                        <div class="col-md-6">
                            <!-- Start Map -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.425436684236!2d123.89121421525876!3d10.307796692640533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a99951d8484415%3A0x5a8b6d8d8565633d!2sDepartment%20of%20Health%20Region%207!5e0!3m2!1sen!2sph!4v1628040460485!5m2!1sen!2sph" width="1300" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <!-- End Map -->
                        </div>
                        <!-- End Google Map -->
                        <!-- Start  contact -->
                        <!-- End Left contact -->
                    </div>
                </div>
            </div>
        </div><!-- End Contact Section -->
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright text-center">
                            <p>
                                &copy; Copyright <strong>FMIS</strong>. All Rights Reserved
                            </p>
                        </div>
                        <div class="credits">
                            Created by <a href="http://portal.doh7.net/portal/">Department of Health Region 7</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main><!-- End #main -->





    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/portfolio_bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/portfolio_bootstrap/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/portfolio_bootstrap/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/portfolio_bootstrap/vendor/php-email-form/validate.js"></script>
    <script src="~/portfolio_bootstrap/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/portfolio_bootstrap/js/main.js"></script>

</body>

</html>


