
<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->


    <ul class="nav nav-list">
        @if (User.FindFirstValue(ClaimTypes.Role) == "budget_admin" || User.FindFirstValue(ClaimTypes.Role) == "budget_user")
        {

            <li class="
            @if (@ViewBag.filter.main == "dashboard")
                @Html.Raw("active")
            ">
                <a asp-area="" asp-controller="Home" asp-action="Dashboard">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text">Dashboard</span> 
                </a>
            
            </li>

            <li class="
                    @if (@ViewBag.filter.main == "dashboard")
                        @Html.Raw("")
                    ">
            @*    <a class="dropdown-toggle">
                    <i class="menu-icon fa fa-filter"></i>
                    <span class="menu-text">Filter</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>*@

               @* <ul class="submenu">
                    <li class="@if (ViewBag.filter.sub == "")
                @Html.Raw("active")">
                        <a asp-controller="" asp-action="">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Division
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="@if (ViewBag.filter.sub == "")
                @Html.Raw("active")">
                        <a asp-controller="" asp-action="">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Section
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="@if (ViewBag.filter.sub == "")
                @Html.Raw("active")">
                        <a asp-controller="" asp-action="">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Downloadable Forms
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="@if (ViewBag.filter.sub == "")
                @Html.Raw("active")">
                        <a asp-controller="" asp-action="">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Monthly Rate
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="@if (ViewBag.filter.sub == "")
                @Html.Raw("active")">
                        <a asp-controller="" asp-action="">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Per Uacs
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>*@
            </li>

            <li class="@if (ViewBag.filter.main == "master_data")
                @Html.Raw("active open")">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-file"></i>
                    <span class="menu-text"> Master Data </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="@if (ViewBag.filter.sub == "yearlyreference")
                @Html.Raw("active")">
                        <a asp-controller="Yearly_reference" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Yearly Budget Ref
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="@if (ViewBag.filter.sub == "Appropriations")
                    @Html.Raw("active")">
                        <a asp-controller="Appropriations" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Appropriations
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "Fund")
                    @Html.Raw("active")">
                        <a asp-controller="Fund" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Fund Source
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "allotmentclass")
                @Html.Raw("active")">
                        <a asp-controller="AllotmentClasses" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Allotment Class
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="@if (ViewBag.filter.sub == "Handsontable")
                @Html.Raw("active")
">
                        <a asp-controller="Handsontable" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Handsontable
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="@if (ViewBag.filter.sub == "respocenter")
                @Html.Raw("active")">
                        <a asp-controller="RespoCenter" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Responsibility Center
                        </a>

                        <b class="arrow"></b>
                    </li>
             @*       <li class="@if (ViewBag.filter.sub == "sections")
                @Html.Raw("active")">
                        <a asp-controller="Sections" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Sections
                        </a>

                        <b class="arrow"></b>
                    </li>*@

                    <li class="@if (ViewBag.filter.sub == "uacs")
                @Html.Raw("active open")">

                        <a href="#" class="dropdown-toggle">
                            <span class="menu-text"> UACS Code </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li class="@if (ViewBag.filter.sub2 == "ps")
                     @Html.Raw("active")">
                                <a asp-controller="Uacs" asp-action="PS">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    PS
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="@if (ViewBag.filter.sub2 == "mooe")
                     @Html.Raw("active")">
                                <a asp-controller="Uacs" asp-action="MOOE">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    MOOE
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="@if (ViewBag.filter.sub2 == "co")
                     @Html.Raw("active")">
                                <a asp-controller="Uacs" asp-action="CO">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    CO
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "prexc")
                @Html.Raw("active open")">

                        <a href="#" class="dropdown-toggle">
                            <span class="menu-text"> PPA Code </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li class="@if (ViewBag.filter.sub2 == "gas")
                     @Html.Raw("active")">
                                <a asp-controller="Prexc" asp-action="GAS">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    GAS
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="@if (ViewBag.filter.sub2 == "sto")
                     @Html.Raw("active")">
                                <a asp-controller="Prexc" asp-action="STO">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    STO
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="@if (ViewBag.filter.sub2 == "operations")
                     @Html.Raw("active")">
                                <a asp-controller="Prexc" asp-action="OPERATIONS">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    OPERATIONS
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "BudgetAllotment")
                     @Html.Raw("active")">
                        <a asp-controller="BudgetAllotment" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Budget Allotments
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="@if (ViewBag.filter.sub == "requestingoffice")
                @Html.Raw("active")">
                        <a asp-controller="Requesting_office" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            ORS/Requesting Head
                        </a>

                        <b class="arrow"></b>
                    </li>

                    @if (Context.User.IsInRole("Admin"))
                    {
                        <li class="@if (ViewBag.filter.sub == "ManageUsers")
                @Html.Raw("active")">
                            <a asp-controller="ManageUsers" asp-action="Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Manage Users
                            </a>

                            <b class="arrow"></b>
                        </li>
                    }
                </ul>
            </li>

            <li class="@if (ViewBag.filter.main == "ors")
                @Html.Raw("active open")">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-cog"></i>
                    <span class="menu-text"> ORS </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="@if (ViewBag.filter.sub == "obligation")
                @Html.Raw("active")">
                        <a asp-controller="Obligations" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Obligation (ORS)
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "upload")
                @Html.Raw("active")">
                        <a asp-controller="Obligations" asp-action="UploadObligation">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Upload (ORS)
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>

            @*   <li class="@if (ViewBag.filter.main == "upload_document")
                @Html.Raw("active open")">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-upload"></i>
                    <span class="menu-text"> Upload Documents </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="@if (ViewBag.filter.sub == "orsupload")
                @Html.Raw("active")">
                        <a asp-area="" asp-controller="UploadFile" asp-action="UploadFile">
                            <i class="menu-icon fa fa-caret-right"></i>
                            ORS Upload
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>*@
            <li class="@if (ViewBag.filter.main == "budget_report")
                @Html.Raw("active open")">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-print"></i>
                    <span class="menu-text"> Budget Report </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="@if (ViewBag.filter.sub == "saob")
                @Html.Raw("active")">
                        <a asp-controller="Reports" asp-action="DownloadSaob">
                            <i class="menu-icon fa fa-caret-right"></i>
                            SAOB
                        </a>

                        <b class="arrow"></b>
                    </li>

                    @*<li class="@if (ViewBag.filter.sub == "SummaryReport")
                    @Html.Raw("active")">
                        <a asp-area="" asp-controller="SummaryReport" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            SUMMARY REPORTS
                        </a>

                        <b class="arrow"></b>
                    </li>*@
                </ul>
            </li>

            <li class="@if (ViewBag.filter.main == "trust_fund")
                @Html.Raw("active open")">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-file-o"></i>
                    <span class="menu-text"> TRUST FUND </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">

                    <li class="@if (ViewBag.filter.sub == "respo_trust_fund")
                @Html.Raw("active")">
                        <a asp-area="" asp-controller="RespoCenterTrustFund" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Responsibility Center
                        </a>

                        <b class="arrow"></b>
                    </li>

                    @*  <li class="@if(ViewBag.filter.sub == "respo_trust_fund")
                          @Html.Raw("active")">
                        <a asp-controller="RespoCenterTrustFund" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Responsibility Center Trust Fund
                        </a>

                        <b class="arrow"></b>
                    </li>*@

                    <li class="@if (ViewBag.filter.sub == "uacs_trust_fund")
                @Html.Raw("active open")">

                        <a href="#" class="dropdown-toggle">
                            <span class="menu-text"> UACS (Trust Fund) </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li class="@if (ViewBag.filter.sub2 == "ps_trust_fund")
                     @Html.Raw("active")">
                                <a asp-controller="UacsTrustFund" asp-action="PS_Trust_Fund">
                                    <i class="menu-icon fa fa-arrow-right green"></i>
                                    PS
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="@if (ViewBag.filter.sub2 == "mooe_trust_fund")
                     @Html.Raw("active")">
                                <a asp-controller="UacsTrustFund" asp-action="MOOE_Trust_Fund">
                                    <i class="menu-icon fa fa-arrow-right green"></i>
                                    MOOE
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="@if (ViewBag.filter.sub2 == "co_trust_fund")
                     @Html.Raw("active")">
                                <a asp-controller="UacsTrustFund" asp-action="CO_Trust_Fund">
                                    <i class="menu-icon fa fa-arrow-right green"></i>
                                    CO
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "pap_trust_fund")
                @Html.Raw("active open")">

                        <a href="#" class="dropdown-toggle">
                            <span class="menu-text"> PAP (Trust Fund) </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li class="@if (ViewBag.filter.sub2 == "gas_trust_fund")
                     @Html.Raw("active")">
                                <a asp-controller="PrexcTrustFund" asp-action="GAS_Trust_Fund">
                                    <i class="menu-icon fa fa-arrow-right green"></i>
                                    GAS
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="@if (ViewBag.filter.sub2 == "sto_trust_fund")
                     @Html.Raw("active")">
                                <a asp-controller="PrexcTrustFund" asp-action="STO_Trust_Fund">
                                    <i class="menu-icon fa fa-arrow-right green"></i>
                                    STO
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="@if (ViewBag.filter.sub2 == "operations_trust_fund")
                     @Html.Raw("active")">
                                <a asp-controller="PrexcTrustFund" asp-action="OPERATIONS_Trust_Fund">
                                    <i class="menu-icon fa fa-arrow-right green"></i>
                                    OPERATIONS
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>


                    <li class="@if (ViewBag.filter.sub == "BudgetAllotment_trust_fund")
                     @Html.Raw("active")">
                        <a asp-controller="BudgetAllotmentTrustFund" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Budget Allotments
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "requestinghead_fund")
                     @Html.Raw("active")">
                        <a asp-controller="RequestingOfficeTrustFund" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Requesting Office
                        </a>

                        <b class="arrow"></b>
                    </li>


                    <li class="@if (ViewBag.filter.sub == "burs_trust_fund")
                @Html.Raw("active open")">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-cog"></i>
                            <span class="menu-text"> BURS </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="@if (ViewBag.filter.sub2 == "obligation_trustfund")
                @Html.Raw("active")">
                                <a asp-controller="ObligationTrustFund" asp-action="Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Obligation (BURS)
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "saob_trust_fund")
                @Html.Raw("active")">
                        <a asp-area="" asp-controller="Reports" asp-action="DownloadSaob">
                            <i class="menu-icon fa fa-caret-right"></i>
                            SAOB (Trust Fund)
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>

            @if (User.FindFirstValue(ClaimTypes.Role) == "budget_admin")
            {
                @*<li class="@if (ViewBag.filter.main == "user_main")
                @Html.Raw("active open")">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-cog"></i>
                        <span class="menu-text"> User Accounts </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="@if (ViewBag.filter.sub == "user_sub")
                            @Html.Raw("active")">
                            <a asp-controller="Account" asp-action="Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                All User(s)
                            </a>
                            <a asp-controller="Account" asp-action="CreateUser">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Create User
                            </a>

                            <b class="arrow"></b>
                        </li>


                         <li class="@if(ViewBag.filter.sub == "temp")
                        @Html.Raw("active")">
                            <a asp-controller="Temp" asp-action="Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                               TEMPORARY HANDSONTABLE
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>*@
            }

        }

        @if (User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
        {
            <li class="@if(ViewBag.filter.main == "Accounting")
                @Html.Raw("active open")">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-bar-chart"></i>
                    <span class="menu-text"> ACCOUNTING </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="@if(ViewBag.filter.sub == "category")
                @Html.Raw("active")">
                        <a asp-area="" asp-controller="Category" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Category
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="@if(ViewBag.filter.sub == "deduction")
                @Html.Raw("active")">
                        <a asp-area="" asp-controller="Deduction" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Deduction
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="@if(ViewBag.filter.sub == "fund_cluster")
                    @Html.Raw("active")">
                        <a asp-area="" asp-controller="FundCluster" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Fund Cluster
                        </a>
                        <b class="arrow"></b>
                    </li>


                    <li class="@if (ViewBag.filter.sub == "payee")
                @Html.Raw("active open")">

                        <a href="#" class="dropdown-toggle">
                            <span class="menu-text"> List Of Payee </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            @*<li class="@if (ViewBag.filter.sub2 == "individual")
                     @Html.Raw("active")">
                                <a asp-controller="Payee" asp-action="Individual">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    Individual
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="@if (ViewBag.filter.sub2 == "supplier")
                     @Html.Raw("active")">
                                <a asp-controller="Payee" asp-action="Supplier">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    Supplier/Contractor
                                </a>
                                <b class="arrow"></b>
                            </li>*@

                            <li class="@if (ViewBag.filter.sub2 == "hrmo_permanent")
                         @Html.Raw("active")">
                                <a asp-controller="Payee" asp-action="HrmoPermanent">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    HRMO PERMANENT
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="@if (ViewBag.filter.sub2 == "hrmo_job_order")
                     @Html.Raw("active")">
                                <a asp-controller="Payee" asp-action="HrmoJobOrder">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    HRMO JOB ORDER
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="@if (ViewBag.filter.sub2 == "hrh_contractual")
                     @Html.Raw("active")
">
                                <a asp-controller="Payee" asp-action="HrhContractual">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    HRH CONTRACTUAL
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="@if (ViewBag.filter.sub2 == "hrh_job_order")
                     @Html.Raw("active")
">
                                <a asp-controller="Payee" asp-action="HrhJobOrder">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    HRH JOB ORDER
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="@if (ViewBag.filter.sub2 == "contractors")
                     @Html.Raw("active")">
                                <a asp-controller="Payee" asp-action="Contractors">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    CONTRACTORS
                                </a>
                                <b class="arrow"></b>
                            </li>


                            <li class="@if (ViewBag.filter.sub2 == "supplier")
                     @Html.Raw("active")
">
                                <a asp-controller="Payee" asp-action="Supplier">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    SUPPLIER
                                </a>
                                <b class="arrow"></b>
                            </li>

                
                        </ul>
                    </li>


                    <li class="@if(ViewBag.filter.sub == "UploadPayee")
                    @Html.Raw("active")">
                        <a asp-area="" asp-controller="Payee" asp-action="UploadPayee">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Upload Payee
                        </a>
                        <b class="arrow"></b>
                    </li>


                    <li class="@if(ViewBag.filter.sub == "assignee")
                    @Html.Raw("active")">
                        <a asp-area="" asp-controller="Assignee" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Assignee
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="@if (ViewBag.filter.sub == "index_of_payment")
                    @Html.Raw("active open")">

                        <a href="#" class="dropdown-toggle">
                            <span class="menu-text"> Index of Payment </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li class="@if (ViewBag.filter.sub2 == "index")
                     @Html.Raw("active")">
                                <a asp-controller="IndexOfPayment" asp-action="Index">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    Index
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="@if (ViewBag.filter.sub2 == "import")
                     @Html.Raw("active")">
                                <a asp-controller="IndexOfPayment" asp-action="UploadIndex">
                                    <i class="menu-icon fa fa-arrow-right blue"></i>
                                    Upload File
                                </a>
                                <b class="arrow"></b>
                            </li>
                
                        </ul>
                    </li>
                </ul>
            </li>



                @*<li class="@if (ViewBag.filter.main == "end_user")
                    @Html.Raw("active open")">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-user"></i>
                        <span class="menu-text"> END USER </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="@if (ViewBag.filter.sub == "DV")
                    @Html.Raw("active")">
                            <a asp-area="" asp-controller="DV" asp-action="Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Disbursement Voucher
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>*@
            

            @if (User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
            {
                @*<li class="@if (ViewBag.filter.main == "user_main")
            @Html.Raw("active open")">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-cog"></i>
                        <span class="menu-text"> User Accounts </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="@if (ViewBag.filter.sub == "users")
                            @Html.Raw("active")">
                            <a asp-controller="Account" asp-action="Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                All User(s)
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="@if (ViewBag.filter.sub == "new_user")
                            @Html.Raw("active")">
                            <a asp-controller="Account" asp-action="CreateUser">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Create User
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>*@
            }
        }

        @if(User.FindFirstValue(ClaimTypes.Role) == "user" || User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
        {
            <li class="@if (ViewBag.filter.main == "end_user")
                    @Html.Raw("active open")
">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text"> END USER </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="@if (ViewBag.filter.sub == "DV")
                    @Html.Raw("active")
">
                        <a asp-area="" asp-controller="DV" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Disbursement Voucher
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        }


        <!--<!-- UPLOAD FILE -->
        <!--<li class="@if (ViewBag.filter_sidebar == "upload_file/personal_information")
            @Html.Raw("active open")">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-upload"></i>
            <span class="menu-text">
                <b>Upload Data</b>
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="
                @if(ViewBag.filter_sidebar == "upload_file/personal_information")
                    @Html.Raw("active")
            ">
                <a asp-controller="UploadFile" asp-action="UploadFile">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Personal Information
                </a>
            </li>

            <li class="@if(ViewBag.filter_sidebar == "upload_file/designation")
                    @Html.Raw("active")">
                <a asp-controller="UploadDesignation" asp-action="UploadDesignation">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Designation
                </a>
            </li>

            <li class="@if(ViewBag.filter_sidebar == "upload_file/division")
                    @Html.Raw("active")">
                <a asp-controller="UploadDivision" asp-action="UploadDivision">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Division
                </a>
            </li>

            <li class="@if(ViewBag.filter_sidebar == "upload_file/section")
                    @Html.Raw("active")">
                <a asp-controller="UploadSection" asp-action="UploadSection">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Section
                </a>
            </li>

            <li class=" @Html.Raw("active open")">
                <a href="buttons.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    ORS
                </a>
            </li>
        </ul>
    </li>-->
        @* <li class="@if(ViewBag.filter_sidebar == "gallery")
                        @Html.Raw("active")">
            <a asp-controller="Home" asp-action="Gallery">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Gallery </span>
            </a>

            <b class="arrow"></b>
        </li>*@


    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
