<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
            try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->



    <ul class="nav nav-list" style="top: 0px;">
        <li class="
            @if (@ViewBag.filter_sidebar == "dashboard")
                @Html.Raw("active")
            ">
            <a asp-area="" asp-controller="Home" asp-action="Dashboard">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text">Dashboard</span>
            </a>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bank"></i>
                <span class="menu-text">
                    DOH7 BUDGET
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a asp-controller="Obligations" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        OBLIGATION
                    </a>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        ORS
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu nav-hide" style="display: none;">
                        <li class="">
                            <a href="top-menu.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                FUNDSOURCE
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="two-menu-1.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                STO
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a asp-area="" asp-controller="UploadFile" asp-action="UploadFile">
                        <i class="menu-icon fa fa-upload"></i>
                        <span class="menu-text"> Ors Upload </span>
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Master Data
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu nav-hide" style="display: none;">
                        <li class="">
                            <a href="two-menu-1.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                UACS Expense Code
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="two-menu-1.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Fund Source | PREXC
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a asp-controller="AllotmentClasses" asp-action="Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Allotment Class
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="two-menu-1.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Budget Allotments
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="two-menu-1.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Requesting Head
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a asp-controller="YearlyReference" asp-action="Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Yearly Budget Reference
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text">
                    Budget
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="Obligations" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        OBLIGATION
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="Ors_head" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        ORS HEAD
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="Prexc" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        PREXC
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="Obligated_amount" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        OBLIGATED_AMOUNT
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="Utilization" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        UTILIZATION
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="Sub_allotment" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        SUB_ALLOTMENT
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="Suballotment_amount" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        SUBALLOTMENT_AMOUNT
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="BudgetAllotment" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        BUDGET_ALLOTMENT
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="Requesting_office" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        REQUESTING_OFFICE
                    </a>
                </li>
            </ul>
            <ul class="submenu">
                <li class="">
                    <a asp-controller="YearlyReference" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        YEARLY_REFERENCE
                    </a>
                </li>
            </ul>

        </li>
        <!-- UPLOAD FILE -->
        <li class="@if(ViewBag.filter_sidebar == "upload_file/personal_information")
                @Html.Raw("active open")
        ">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-upload"></i>
                <span class="menu-text">
                    Upload Data
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="
                    @if(ViewBag.filter_sidebar == "upload_file/personal_information")
                        @Html.Raw("active")
                ">
                    <a asp-controller="UploadFile" asp-action="UploadFile">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Personal Information
                    </a>
                </li>

                <li class="@if(ViewBag.filter_sidebar == "upload_file/designation")
                        @Html.Raw("active")">
                    <a asp-controller="UploadDesignation" asp-action="UploadDesignation">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Designation
                    </a>
                </li>

                <li class="@if(ViewBag.filter_sidebar == "upload_file/division")
                        @Html.Raw("active")">
                    <a asp-controller="UploadDivision" asp-action="UploadDivision">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Division
                    </a>
                </li>

                <li class="@if(ViewBag.filter_sidebar == "upload_file/section")
                        @Html.Raw("active")">
                    <a asp-controller="UploadSection" asp-action="UploadSection">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Section
                    </a>
                </li>

                <li class="">
                    <a href="buttons.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        ORS
                    </a>
                </li>
            </ul>
        </li>
       @* <li class="@if(ViewBag.filter_sidebar == "gallery")
                        @Html.Raw("active")">
            <a asp-controller="Home" asp-action="Gallery">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Gallery </span>
            </a>

            <b class="arrow"></b>
        </li>*@
    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
