<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->



    <ul class="nav nav-list" style="top: 0px;">
        <li class="
            @if (@ViewBag.filter_sidebar == "dashboard")
                @Html.Raw("active")
            ">
            <a asp-area="" asp-controller="Home" asp-action="Dashboard">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text">Dashboard</span>
            </a>
        </li>

        <li class="">
            <a asp-area="" asp-controller="Home" asp-action="Dashboard">
                <i class="menu-icon fa fa-bank"></i>
                <span class="menu-text">
                    DOH7 BUDGET
                </span>
            </a>
        </li>

        <li class="@if(ViewBag.filter.main == "ors")
                @Html.Raw("active open")">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cog"></i>
                <span class="menu-text"> ORS </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="@if(ViewBag.filter.sub == "obligation")
                @Html.Raw("active")">
                    <a asp-controller="Obligations" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        OBLIGATION
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="@if(ViewBag.filter.sub == "utilization")
                @Html.Raw("active")">
                    <a asp-controller="Utilization" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        UTILIZATION
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="@if(ViewBag.filter.main == "upload_document")
                @Html.Raw("active open")">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-upload"></i>
                <span class="menu-text"> Upload Documents </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="@if(ViewBag.filter.sub == "orsupload")
                @Html.Raw("active")">
                    <a asp-area="" asp-controller="UploadFile" asp-action="UploadFile">
                        <i class="menu-icon fa fa-caret-right"></i>
                        ORS Upload
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
        <li class="@if(ViewBag.filter.main == "budget_report")
                @Html.Raw("active open")">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-print"></i>
                <span class="menu-text"> Budget Reports </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="@if(ViewBag.filter.sub == "saob")
                @Html.Raw("active")">
                    <a asp-area="" asp-controller="Saob" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        SAOB
                    </a>

                    <b class="arrow"></b>
                </li>

               @* <li class="">
                    <a href="form-elements-2.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        ORS SUMMARY
                    </a>

                    <b class="arrow"></b>
                </li>*@
            </ul>
        </li>

        <li class="@if(ViewBag.filter.main == "master_data")
                @Html.Raw("active open")">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text"> Master Data </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="@if(ViewBag.filter.sub == "uacs")
                @Html.Raw("active")">
                    <a asp-controller="Uacs" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        UACS Expense Code@* @Html.Raw(ViewBag.filter.sub)*@
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="@if(ViewBag.filter.sub == "prexc")
                @Html.Raw("active")">
                    <a asp-controller="Prexc" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Fund Source | PREXC
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="@if(ViewBag.filter.sub == "allotmentclass")
                @Html.Raw("active")">
                    <a asp-controller="AllotmentClasses" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Allotment Class
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="@if(ViewBag.filter.sub == "budgetallotment")
                @Html.Raw("active")">
                    <a asp-controller="Budget_allotments" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Budget Allotments
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="@if(ViewBag.filter.sub == "requestingoffice")
                @Html.Raw("active")">
                    <a asp-controller="Requesting_office" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        ORS/Requesting Head
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="@if(ViewBag.filter.sub == "yearlyreference")
                @Html.Raw("active")">
                    <a asp-controller="Yearly_reference" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Yearly Budget Ref
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="@if(ViewBag.filter.sub == "ManageUsers")
                @Html.Raw("active")">
                    <a asp-controller="ManageUsers" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Manage Users
                    </a>

                    <b class="arrow"></b>
                </li>


            </ul>
        </li>

     
        <!--<!-- UPLOAD FILE -->
        <!--<li class="@if(ViewBag.filter_sidebar == "upload_file/personal_information")
                @Html.Raw("active open")">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-upload"></i>
                <span class="menu-text">
                    <b>Upload Data</b>
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="
                    @if(ViewBag.filter_sidebar == "upload_file/personal_information")
                        @Html.Raw("active")
                ">
                    <a asp-controller="UploadFile" asp-action="UploadFile">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Personal Information
                    </a>
                </li>

                <li class="@if(ViewBag.filter_sidebar == "upload_file/designation")
                        @Html.Raw("active")">
                    <a asp-controller="UploadDesignation" asp-action="UploadDesignation">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Designation
                    </a>
                </li>

                <li class="@if(ViewBag.filter_sidebar == "upload_file/division")
                        @Html.Raw("active")">
                    <a asp-controller="UploadDivision" asp-action="UploadDivision">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Division
                    </a>
                </li>

                <li class="@if(ViewBag.filter_sidebar == "upload_file/section")
                        @Html.Raw("active")">
                    <a asp-controller="UploadSection" asp-action="UploadSection">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Section
                    </a>
                </li>

                <li class=" @Html.Raw("active open")">
                    <a href="buttons.html">
                        <i class="menu-icon fa fa-caret-right"></i>
                        ORS
                    </a>
                </li>
            </ul>
        </li>-->
        @* <li class="@if(ViewBag.filter_sidebar == "gallery")
                        @Html.Raw("active")">
            <a asp-controller="Home" asp-action="Gallery">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Gallery </span>
            </a>

            <b class="arrow"></b>
        </li>*@


    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
