@model fmis.Models.BudgetAllotment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BudgetAllotment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Allotment_Series)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Allotment_Series)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Allotment_Tittle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Allotment_Tittle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Allotment_Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Allotment_Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_At)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
