@model fmis.Models.Uacsamount

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uacsamount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account_title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account_title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expense_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expense_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total_disbursement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total_disbursement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total_net_amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total_net_amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total_tax_amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total_tax_amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total_others)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total_others)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
