@model List<fmis.Models.ppmp.AppExpense>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Generate APP";
}
<style>
    .custom-table td {
        padding: 5px;
    }

    .text-right {
        text-align: right;
    }

    #scroll-down-arrow {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        z-index: 999; /* Ensure the arrow is above other content */
    }

    .hidden {
        display: none;
    }
</style>


<div class="text-right">
    <form asp-controller="App" asp-action="GenerateApp" method="post" target="_blank">
        <button type="submit">Generate PDF</button>
    </form>
</div>
<hr />

<div id="scroll-down-arrow">&#8595;</div>



<form asp-controller="App" asp-action="UpdateAppExpense" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Procurement Project</th>
                <th>PMO/End User</th>
                <th>Yes</th>
                <th>No</th>
                <th>Mode of Procurement</th>
                <th>Advertising/Posting IB/REI</th>
                <th>Submission/ Opening of Bids</th>
                <th>Notice of Award</th>
                <th>Contract Signing</th>
                <th>Source of Funds</th>
                <th>Total</th>
                <th>MOOE</th>
                <th>CO</th>
                <th>Remarks (Brief description of the Project</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="width: 250px;">
                        <strong><input type="text" name="appExpenses[@i].Description" value="@Model[i].Description" class="form-control" /></strong>
                        <input type="hidden" name="appExpenses[@i].Id" asp-for="@Model[i].Id" />
                    </td>
                </tr>

                @for (var j = 0; j < Model[i].AppModels.Count; j++)
                {

                    <tr>
                        <td style="width: 100px;"><input type="text" name="appExpenses[@i].AppModels[@j].Uacs" value="@Model[i].AppModels[j].Uacs" /></td>
                        <input type="hidden" name="appExpenses[@i].AppModels[@j].Id" asp-for="@Model[i].AppModels[j].Id" />
                        <td style="width: 250px;"><input type="text" name="appExpenses[@i].AppModels[@j].ProcurementProject" value="@Model[i].AppModels[j].ProcurementProject" class="form-control" /></td>
                        <td style="width: 130px;"><input type="text" name="appExpenses[@i].AppModels[@j].EndUser" value="@Model[i].AppModels[j].EndUser" class="form-control" /></td>
                        <td style="width: 80px;"><input type="text" class="form-control" /></td>
                        <td style="width: 80px;"><input type="text" class="form-control" /></td>
                        <td style="width: 130px;"><input type="text" name="appExpenses[@i].AppModels[@j].ModeOfProcurement" value="@Model[i].AppModels[j].ModeOfProcurement" class="form-control" /></td>
                        <td style="width: 120px;"><input type="text" name="appExpenses[@i].AppModels[@j].Advertising" value="@Model[i].AppModels[j].Advertising" class="form-control" /></td>
                        <td style="width: 120px;"><input type="text" name="appExpenses[@i].AppModels[@j].Submission" value="@Model[i].AppModels[j].Submission" class="form-control" /></td>
                        <td style="width: 120px;"><input type="text" name="appExpenses[@i].AppModels[@j].NoticeOfAward" value="@Model[i].AppModels[j].NoticeOfAward" class="form-control" /></td>
                        <td style="width: 120px;"><input type="text" name="appExpenses[@i].AppModels[@j].ContractSigning" value="@Model[i].AppModels[j].ContractSigning" class="form-control" /></td>
                        <td style="width: 80px;"><input type="text" class="form-control" /></td>
                        <td style="width: 140px;"><input type="text" name="appExpenses[@i].AppModels[@j].Total" value="@Model[i].AppModels[j].Total" class="form-control" /></td>
                        @*<td style="width: 140px;"><input type="text" name="appExpenses[@i].AppModels[@j].Mooe" value="@Model[i].AppModels[j].Mooe" class="form-control" /></td>*@

                        @*<td style="width: 120px;"><input type="text" name="AppExpenses[@i].AppModels[@j].Submission" value="@Model[i].AppModels[j].Submission" class="form-control" /></td>
                        <td style="width: 120px;"><input type="text" name="AppExpenses[@i].AppModels[@j].NoticeOfAward" value="@Model[i].AppModels[j].NoticeOfAward" class="form-control" /></td>
                        <td style="width: 120px;"><input type="text" name="AppExpenses[@i].AppModels[@j].ContractSigning" value="@Model[i].AppModels[j].ContractSigning" class="form-control" /></td>
                        <td style="width: 80px;"><input type="text" class="form-control" /></td>
                        <td style="width: 140px;"><input type="text" name="AppExpenses[@i].AppModels[@j].Total" value="@Model[i].AppModels[j].Total" class="form-control" /></td>
                        <td style="width: 140px;"><input type="text" name="AppExpenses[@i].AppModels[@j].Mooe" value="@Model[i].AppModels[j].Mooe" class="form-control" /></td>
                        <td style="width: 140px;"><input type="text" class="form-control" /></td>
                        <td style="width: 160px;"><input type="text" class="form-control" /></td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
    <div style="text-align: right;">
        <button type="submit" class="btn btn-primary">Save All Changes</button>
    </div>
</form>