@model List<fmis.Models.ppmp.Expense>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Generate APP";
}

@{
    List<int> expenseIdList = new List<int>();
    for (var i = 0; i < Model.Count; i++)
    {
        var expenseId = Model[i].Id;
        expenseIdList.Add(expenseId);
    }
}


<style>
      .custom-table td {
      padding: 5px;
    }

    .text-right {
        text-align: right;
    }

    #scroll-down-arrow {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        z-index: 999; /* Ensure the arrow is above other content */
    }
    .hidden {
        display: none;
    }
</style>


<div class="text-right">
    <form asp-controller="App" asp-action="GenerateApp" method="post" target="_blank">
        <button type="submit">Generate PDF</button>
    </form>
</div>
<hr />

<div id="scroll-down-arrow">&#8595;</div>



@using (Html.BeginForm("CreateOrUpdateExpense", "App", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Procurement Project</th>
                <th>PMO/End User</th>
                <th>Yes</th>
                <th>No</th>
                <th>Mode of Procurement</th>
                <th>Advertising/Posting IB/REI</th>
                <th>Submission/ Opening of Bids</th>
                <th>Notice of Award</th>
                <th>Contract Signing</th>
                <th>Source of Funds</th>
                <th>Total</th>
                <th>MOOE</th>
                <th>CO</th>
                <th>Remarks (Brief description of the Project</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="width: 250px;">
                        @if (ViewBag.expenses != null && ViewBag.expenses.Count > 0)
                        {
                            <input type="hidden" asp-for="@Model[i].Id" value="@Model[i].Id" />
                        }
                        <strong><input type="text" asp-for="@Model[i].Description" value="@Model[i].Description" class="form-control" /></strong>
                    </td>
                </tr>
                @if (Model[i].AppModels != null && Model[i].AppModels.Count() > 0)
                {
                    @for (var j = 0; j < Model[i]?.AppModels?.Count && j < 5; j++)
                    {
                        @if (ViewBag.appModels != null && ViewBag.appModels.Count > 0)
                        {
                            <input type="hidden" asp-for="@Model[i].AppModels[j].Id" value="@Model[i].AppModels[j].Id" />
                        }
                        <tr>
                            <td style="width: 100px;"></td>
                            <td style="width: 250px;"><input type="text" asp-for="@Model[i].AppModels[j].ProcurementProject" value="@Model[i].AppModels[j].ProcurementProject" class="form-control" /></td>
                            <td style="width: 130px;"><input type="text" asp-for="@Model[i].AppModels[j].EndUser" value="@Model[i].AppModels[j].EndUser" class="form-control" /></td>
                            <td style="width: 80px;"><input type="text" class="form-control" /></td>
                            <td style="width: 80px;"><input type="text" class="form-control" /></td>
                            <td style="width: 130px;"><input type="text" asp-for="@Model[i].AppModels[j].ModeOfProcurement" value="@Model[i].AppModels[j].ModeOfProcurement" class="form-control" /></td>

                            <td style="width: 120px;"><input type="text" asp-for="@Model[i].AppModels[j].Advertising" value="@Model[i].AppModels[j].Advertising?.ToShortDateString()" id="advertising@(i)_@(j)" class="form-control advertising" /></td>
                            <td style="width: 120px;"><input type="text" asp-for="@Model[i].AppModels[j].Submission" value="@Model[i].AppModels[j].Submission?.ToShortDateString()" id="submission@(i)_@(j)" class="form-control submission" /></td>
                            <td style="width: 120px;"><input type="text" asp-for="@Model[i].AppModels[j].NoticeOfAward" value="@Model[i].AppModels[j].NoticeOfAward?.ToShortDateString()" id="notice@(i)_@(j)" class="form-control notice" /></td>
                            <td style="width: 120px;"><input type="text" asp-for="@Model[i].AppModels[j].ContractSigning" value="@Model[i].AppModels[j].ContractSigning?.ToShortDateString()" id="contract@(i)_@(j)" class="form-control contract" /></td>

                            <td style="width: 80px;"><input type="text" class="form-control" /></td>
                            <td style="width: 140px;"><input type="text" asp-for="@Model[i].AppModels[j].Total" value="@Model[i].AppModels[j].Total" class="form-control" /></td>
                            <td style="width: 140px;"><input type="text" asp-for="@Model[i].AppModels[j].Mooe" value="@Model[i].AppModels[j].Mooe" class="form-control" /></td>
                            <td style="width: 140px;"><input type="text" class="form-control" /></td>
                            <td style="width: 160px;"><input type="text" asp-for="@Model[i].AppModels[j].Remarks" value="@Model[i].AppModels[j].Remarks" class="form-control" /></td>
                        </tr>
                    }
                }
                else
                {
                    @for (var j = 0; j < Model[i].Items.Count && j < 5; j++)
                    {


                        decimal total = 0;

                        decimal jan = Convert.ToDecimal(Model[i].Items[j].Jan);
                        decimal feb = Convert.ToDecimal(Model[i].Items[j].Feb);
                        decimal mar = Convert.ToDecimal(Model[i].Items[j].Mar);
                        decimal apr = Convert.ToDecimal(Model[i].Items[j].Apr);
                        decimal may = Convert.ToDecimal(Model[i].Items[j].May);
                        decimal jun = Convert.ToDecimal(Model[i].Items[j].Jun);
                        decimal jul = Convert.ToDecimal(Model[i].Items[j].Jul);
                        decimal aug = Convert.ToDecimal(Model[i].Items[j].Aug);
                        decimal sep = Convert.ToDecimal(Model[i].Items[j].Sep);
                        decimal oct = Convert.ToDecimal(Model[i].Items[j].Oct);
                        decimal nov = Convert.ToDecimal(Model[i].Items[j].Nov);
                        decimal dece = Convert.ToDecimal(Model[i].Items[j].Dece);

                        var totalMonth = Model[i].Items[j].Dece + Model[i].Items[j].Jan;



                        //var unit_cost = Convert.ToDecimal(Model[i].Items[j].Unit_cost);
                        string unitCostString = Model[i].Items[j].Unit_cost;
                        decimal unitCost;

                        if (!string.IsNullOrWhiteSpace(unitCostString) && decimal.TryParse(unitCostString, out unitCost))
                        {
                            total = unitCost * totalMonth;
                        }
                        else
                        {
                            Console.WriteLine("Invalid unit cost value: " + unitCostString);
                        }

                        <tr data-person-id="@Model[i].Items[j].Id">
                            <td style="width: 100px;"></td>
                            <td style="width: 250px;"><input type="text" asp-for="@Model[i].AppModels[j].ProcurementProject" value="@Model[i].Items[j].Description" class="form-control" /></td>
                            <td style="width: 130px;"><input type="text" asp-for="@Model[i].AppModels[j].EndUser" value="@Model[i].Items[j].Userid" class="form-control" /></td>
                            <td style="width: 80px;"><input type="text" class="form-control" /></td>
                            <td style="width: 80px;"><input type="text" class="form-control" /></td>
                            <td style="width: 130px;"><input type="text" asp-for="@Model[i].AppModels[j].ModeOfProcurement" value="@Model[i].Items[j].Mode_procurement" class="form-control" /></td>
                            <td style="width: 120px;"><input type="text" asp-for="@Model[i].AppModels[j].Advertising" id="advertising@(i)_@(j)" class="form-control advertising" /></td>
                            <td style="width: 120px;"><input type="text" asp-for="@Model[i].AppModels[j].Submission" id="submission@(i)_@(j)" class="form-control submission" /></td>
                            <td style="width: 120px;"><input type="text" asp-for="@Model[i].AppModels[j].NoticeOfAward" id="notice@(i)_@(j)" class="form-control notice" class="form-control" /></td>
                            <td style="width: 120px;"><input type="text" asp-for="@Model[i].AppModels[j].ContractSigning" id="contract@(i)_@(j)" class="form-control contract" class="form-control" /></td>
                            <td style="width: 80px;"><input type="text" class="form-control" /></td>
                            <td style="width: 140px;"><input type="text" asp-for="@Model[i].AppModels[j].Total" value="@total" class="form-control" /></td>
                            <td style="width: 140px;"><input type="text" asp-for="@Model[i].AppModels[j].Mooe" value="@total" class="form-control" /></td>
                            <td style="width: 140px;"><input type="text" class="form-control" /></td>
                            <td style="width: 160px;"><input type="text" asp-for="@Model[i].AppModels[j].Remarks" class="form-control" /></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div style="text-align: right;" id="targetElementID">
        <button class="btn btn-primary">Save All Changes</button>
    </div>
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
        $(".advertising").datepicker({
            dateFormat: "mm-dd-yy"
        });
    });
    $(function () {
        $(".submission").datepicker({
            dateFormat: "mm-dd-yy"
        });
    });
    $(function () {
        $(".notice").datepicker({
            dateFormat: "mm-dd-yy"
        });
    });
    $(function () {
        $(".contract").datepicker({
            dateFormat: "mm-dd-yy"
        });
    });
    document.getElementById('scroll-down-arrow').addEventListener('click', function () {
        const targetElement = document.getElementById('targetElementID');

        if (targetElement) {
            targetElement.scrollIntoView({ behavior: 'smooth' });
            this.classList.add('hidden');
        }
    });
    function checkScrollPosition() {
        const scrollY = window.scrollY;

        // Replace 'threshold' with the scroll position at which you want to show the arrow
        const threshold = 200;

        const arrow = document.getElementById('scroll-down-arrow');

        if (scrollY > threshold) {
            arrow.classList.remove('hidden');
        } else {
            arrow.classList.add('hidden');
        }
    }

    // Add an event listener to check the scroll position when the user scrolls
    window.addEventListener('scroll', checkScrollPosition);
</script>