@model IEnumerable<Logs>
@using System.Globalization;

@foreach (var item in Model)
{
    <li style="background-color: lightcyan;">
        <a href="#" onclick="openNotification($(this))" class="clearfix">
            <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
            <span class="msg-body">
                <span class="msg-title">
                    <span class="blue">@item.created_name:</span>
                    from <span class="green">@item.created_section</span> <span class="red">@item.logs_type</span> the amount of <b>@item.amount.ToString("C", new CultureInfo("en-PH"))</b> from <span class="orange">@item.source_type</span>
                </span>
                <span class="msg-time">
                    <i class="ace-icon fa fa-clock-o"></i>
                    <span>a moment ago</span>
                </span>
            </span>
        </a>
    </li>    
}
