@model fmis.Models.Prexc



<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prexc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pap_title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pap_title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pap_code1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pap_code1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pap_code2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pap_code2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
