@model fmis.Models.silver.BudgetAllotment
@using System.Globalization;
@{
    ViewData["Title"] = "FundSource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.FundSources.Count() > 0)
{
    <h3 class="grey lighter smaller">
        Fund Source
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.Yearly_reference.YearlyReference
        </small>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.FundSources.FirstOrDefault().Appropriation.AppropriationSource
        </small>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Model.FundSources.FirstOrDefault().AllotmentClass.Allotment_Class
        </small>

    </h3>
}
<hr />
<div class="row  pull-left">
    <div class="space-5"></div>

    <div class="col-xs-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @Model.FundSources.Sum(x => x.Beginning_balance).ToString("C", new CultureInfo("en-PH"))
                </span>
                <div class="infobox-content">
                    <span class="label label-success arrowed-in arrowed-in-right"> Beginning Balance </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color: grey;">
                    @Model.FundSources.Sum(x => x.Remaining_balance).ToString("C", new CultureInfo("en-PH"))
                </span>
                <div class="infobox-content">
                    <span class="label label-danger arrowed-in arrowed-in-right"> Remaining Balance </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-blue">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" style="font-size:11pt; color:grey;">
                    @Model.FundSources.Sum(x => x.obligated_amount).ToString("C", new CultureInfo("en-PH"))
                </span>
                <div class="infobox-content">
                    <span class="label label-primary arrowed-in arrowed-in-right"> Obligated Amount </span>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="modal" id="createModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="fund_source_create">

            </div>
        </div>
    </div>
</div>

<div class="modal" id="editModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="fund_source_edit">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<p>
    <button type="button" asp-controller="FundSource" asp-action="Create" class="btn btn-success btn-sm" onclick="createFundSource(@Model.BudgetAllotmentId)">
        <i class="ace-icon fa fa-plus "></i>Create New
    </button> |
    <a class=" btn btn-primary btn-sm" asp-controller="BudgetAllotment" asp-action="Index">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Budget Allotment
    </a>
</p>

@if (Model.FundSources.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Pap Title
                </th>
                <th>
                    Fund Source Title
                </th>
                <th>
                    Responsibility Center
                </th>
                <th>
                    Actions
                </th>
                <th>
                    Funds Source (Realignment)
                </th>
                <th>
                    Beginning Balance
                </th>
                <th>
                    Remaining Balance
                </th>

                <th>
                    Obligated Amount
                </th>
                @* <th>
            Utilized Amount
        </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FundSources)
            {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Prexc.pap_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FundSourceTitle)
                </td>

                 <td>
                   @item.RespoCenter.Respo
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" onclick="getEditFundSource(@Model.BudgetAllotmentId,@item.FundSourceId)"> <span class="glyphicon glyphicon-edit"></span></button>
                    <a asp-controller="FundSource" asp-action="Delete" asp-route-id="@item.FundSourceId" asp-route-budget_id="@ViewBag.budget_id" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteModalCenter"> <span class="glyphicon glyphicon-trash"></span></a>
                </td>
                <td>
                    <a asp-controller="FundsRealignment" asp-route-fundsource_id="@item.FundSourceId" asp-route-BudgetId="@ViewBag.budget_id" asp-action="Index" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-transfer"></span> Funds Realignment</a>
                </td>
           
                <td>
                    <b class="green">
                        <span>@item.Beginning_balance.ToString("C", new CultureInfo("en-PH"))</span>
                    </b>
                </td>
                <td>
                    <b class="red">
                        <span>@item.Remaining_balance.ToString("C", new CultureInfo("en-PH"))</span>
                    </b>
                </td>
                <td>
                    <b class="blue">
                        <span>@item.obligated_amount.ToString("C", new CultureInfo("en-PH"))</span>
                    </b>
                </td>

                @* <td>
            <b class="blue">
                <span>@item.utilized_amount.ToString("C", new CultureInfo("en-PH"))</span>
            </b>
        </td>*@
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-block alert-danger">
        <i class="ace-icon fa fa-warning red"></i>
        No Records found
    </div>
}

<script>

    console.log(@Model.BudgetAllotmentId);

     function createFundSource(BudgetAllotmentId) {
         $("#createModal").modal({ backdrop: 'static', keyboard: false });
         $("#fund_source_create").html(loading);
         var AllotmentClassId = @ViewBag.AllotmentClassId;
         var AppropriationId = @ViewBag.AppropriationId;
         var url = '@Url.Action("Create", "FundSource")';
         url += "?AllotmentClassId="+AllotmentClassId+"&AppropriationId="+AppropriationId+"&BudgetAllotmentId=" + BudgetAllotmentId;
         $.get(url, function (result) {
            setTimeout(function () {
                $("#fund_source_create").html(result);
            }, 500);
         });
     }

     function getEditFundSource(BudgetAllotmentId, fund_source_id) {
         $("#editModal").modal({ backdrop: 'static', keyboard: false });
         $("#fund_source_edit").html(loading);
         var AllotmentClassId = @ViewBag.AllotmentClassId;
         var AppropriationId = @ViewBag.AppropriationId;
         var url = '@Url.Action("Edit", "FundSource")';
         //url += "?budget_id=" + BudgetAllotmentId + "&fund_source_id=" + fund_source_id
         url += "?AllotmentClassId=" + AllotmentClassId + "&AppropriationId=" + AppropriationId + "&BudgetAllotmentId=" + BudgetAllotmentId + "&fund_source_id=" + fund_source_id;
         $.get(url, function (result) {
            setTimeout(function () {
                $("#fund_source_edit").html(result);
            }, 500);
         });
     }

     function deleteFundSource(BudgetAllotmentId) {
         $("#deleteModal").modal({ backdrop: 'static', keyboard: false });
         $("#fund_source_delete").html(loading);
         var url = '@Url.Action("Delete", "FundSource")';
         url += "?budget_id=" + BudgetAllotmentId
         $.get(url, function (result) {
            setTimeout(function () {
                $("#fund_source_delete").html(result);
            }, 500);
         });
     }

    let generate_token = () => {
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    function fundSourceToken() {
        fundsource_token = generate_token();
        $("#funds_input_token").val(fundsource_token);
    }
</script>



