@model IEnumerable<fmis.Models.silver.BudgetAllotment>
@using System.Globalization;

@{ ViewData["Title"] = "BudgetAllotment";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    decimal total_beginning_balance = 0;
    decimal total_obligated_amount = 0;
    @*    decimal total_utilized_amount = 0;*@
    decimal total_realignment_amount = 0;
    decimal total_remaining_balance = 0;

}


<h3 class="grey lighter smaller" >
    Budget Allotments
</h3>
<hr />
<div class="row  pull-left">
    <div class="space-5"></div>
    <div class="col-xs-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" @*id="total_beginning_balance"*@ style="font-size:11pt; color:grey;">
                    @*@Model.FirstOrDefault().SubAllotment.Sum(x => x.Beginning_balance).ToString("C", new CultureInfo("en-PH"))  *@
                    @ViewBag.CurrentYrAllotment_beginningbalance
                </span>
                <div class="infobox-content">
                    <span class="label label-success arrowed-in arrowed-in-right"> Beginning Balance </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" @*id="total_remaining_balance"*@ style="font-size:11pt; color: grey;">
                    @*@Model.FirstOrDefault().SubAllotment.Sum(x => x.Remaining_balance).ToString("C", new CultureInfo("en-PH"))*@
                    @ViewBag.CurrentYrAllotment_remainingBalance
                </span>
                <div class="infobox-content">
                    <span class="label label-danger arrowed-in arrowed-in-right"> Remaining Balance </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-orange2">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" @*id="total_realignment_amount"*@ style="font-size:11pt; color:grey;">
                    @ViewBag.CurrentYrAllotment_realignmentAmount
                </span>
                <div class="infobox-content">
                    <span class="label label-warning arrowed-in arrowed-in-right"> Realignment Amount </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-blue">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" @*id="total_obligated_amount"*@ style="font-size:11pt; color:grey;">
                    @ViewBag.CurrentYrAllotment_obligatedAmount
                </span>
                <div class="infobox-content">
                    <span class="label label-primary arrowed-in arrowed-in-right"> Obligated Amount </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-red" style="width:270px">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-calculator"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" @*id="total_remaining_balance"*@ style="font-size:11pt; color: grey;">
                    @ViewBag.PreviousAllot
                </span>
                <div class="infobox-content">
                    <span class="label label-danger arrowed-in arrowed-in-right"> @ViewBag.Result CONAP Remaining Balance </span>
                </div>
            </div>
        </div>
    </div>
    <div class="vspace-12-sm"></div>
</div><!-- /.row -->
<br />
<br />
<br />
<br />
<div>
    <a class=" btn btn-sm btn-success" asp-action="Create">
        <i class="ace-icon fa fa-plus "></i>Create New
    </a>
</div>
<br />
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="bg-success">
                <td colspan="8" width="10px">
                    <strong style="font-size:15pt;">
                        @Html.DisplayFor(modelItem => item.Yearly_reference.YearlyReference)
                    </strong>
                </td>
            </tr>
            @foreach (var appropriation in ViewBag.AppropriationSource)
            {
                <tr class="bg-warning">
                    <td></td>
                    <td colspan="7" width="10px">
                        <strong style="font-size:12pt;">
                            @appropriation.AppropriationSource
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        Fund Code
                    </th>
                    <th>
                        Allotment Title
                    </th>
                    <th>
                        Allotment Class
                    </th>
                    <th>
                        For GAA
                    </th>
                    <th>For SAA CY: @Html.DisplayFor(modelItem => item.Yearly_reference.YearlyReference) </th>
                </tr>
                @foreach (var allotment_class in ViewBag.AllotmentClass)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            @allotment_class.Fund_Code
                        </td>
                        <td>
                            @allotment_class.Desc
                        </td>
                        <td>
                            @allotment_class.Allotment_Class
                        </td>
                        <td>
                            <a class="btn btn-sm btn-default" asp-controller="FundSource" asp-route-AllotmentClassId="@allotment_class.Id" asp-route-AppropriationId="@appropriation.AppropriationId" asp-action="Index" asp-route-BudgetAllotmentId="@item.BudgetAllotmentId">
                                <i class="ace-icon fa fa-arrow-right"></i>GAA
                            </a>
                            <br />
                            <span class="grey">(BB): </span>
                            @{
                                var fund_beginning_balance = item.FundSources.Where(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId).Sum(x => x.Beginning_balance);
                                total_beginning_balance += fund_beginning_balance;
                            }
                            <b class="green">@fund_beginning_balance.ToString("C", new CultureInfo("en-PH"))</b>
                            <br />
                            <span class="grey">(RB): </span>
                            @{
                                var fund_remaining_balance = item.FundSources.Where(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId).Sum(x => x.Remaining_balance);
                                total_remaining_balance += fund_remaining_balance;
                            }
                            <b class="red">@fund_remaining_balance.ToString("C", new CultureInfo("en-PH"))</b>
                            <br />
                            <span class="grey">(RA): </span>
                            @{
                                var fund_realignment_amount = item.FundSources.Where(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId).Sum(x => x.realignment_amount);
                                total_realignment_amount += fund_realignment_amount;
                            }
                            <b class="orange">@fund_realignment_amount.ToString("C", new CultureInfo("en-PH"))</b>
                            <br />
                            <span class="grey">(OA): </span>
                            @{
                                var fund_obligated_amount = item.FundSources.Where(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId).Sum(x => x.obligated_amount);
                                total_obligated_amount += fund_obligated_amount;
                            }
                            <b class="blue">@fund_obligated_amount.ToString("C", new CultureInfo("en-PH"))</b>
                            @if(@*appropriation.AppropriationSource == "CURRENT" && *@item.FundSources.Any(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId && x.BudgetAllotmentId == item.BudgetAllotmentId))
                            {
                                var check = item.FundSources.Any(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId && x.BudgetAllotmentId == item.BudgetAllotmentId && x.IsAddToNextAllotment == true)? "checked" : "";
                                <div class="checkbox">
								    <label>
									    <input name="form-field-checkbox" type="checkbox"  class="ace" @check onclick="FundSetNextYear(this.checked, '@allotment_class.Id', '@appropriation.AppropriationId', '@item.BudgetAllotmentId');">
									    <span class="lbl">Set Next Year</span>
								    </label>
							    </div>
                            }
                        </td>
                        <td>
                            <a class="btn btn-sm btn-default" asp-controller="SubAllotment" asp-route-AllotmentClassId="@allotment_class.Id" asp-route-AppropriationId="@appropriation.AppropriationId" asp-action="Index" asp-route-BudgetAllotmentId="@item.BudgetAllotmentId">
                                <i class="ace-icon fa fa-plus"></i>SAA
                            </a>
                            <br />
                            <span class="grey">(BB): </span>
                            @{
                                var sub_beginning_balance = item.SubAllotment.Where(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId).Sum(x => x.Beginning_balance);
                                total_beginning_balance += sub_beginning_balance;
                            }
                            <b class="green">@sub_beginning_balance.ToString("C", new CultureInfo("en-PH"))</b>
                            <br />

                            <span class="grey">(RB): </span>
                            @{
                                var sub_remaining_balance = item.SubAllotment.Where(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId).Sum(x => x.Remaining_balance);
                                total_remaining_balance += sub_beginning_balance;
                            }
                            <b class="red">@sub_remaining_balance.ToString("C", new CultureInfo("en-PH"))</b>
                            <br />
                            <span class="grey">(RA): </span>
                            @{
                                var sub_realignment_amount = item.SubAllotment.Where(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId).Sum(x => x.realignment_amount);
                                total_realignment_amount += sub_realignment_amount;
                            }
                            <b class="orange">@sub_realignment_amount.ToString("C", new CultureInfo("en-PH"))</b>
                            <br />
                            <span class="grey">(OA): </span>
                            @{
                                var sub_obligated_amount = item.SubAllotment.Where(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId).Sum(x => x.obligated_amount);
                                total_obligated_amount += sub_obligated_amount;
                            }
                            <b class="blue">@sub_obligated_amount.ToString("C", new CultureInfo("en-PH"))</b>
                            
                            @if(@*appropriation.AppropriationSource == "CURRENT" && *@item.SubAllotment.Any(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId && x.BudgetAllotmentId == item.BudgetAllotmentId))
                            {
                                var check = item.SubAllotment.Any(x => x.AllotmentClassId == allotment_class.Id && x.AppropriationId == appropriation.AppropriationId && x.BudgetAllotmentId == item.BudgetAllotmentId && x.IsAddToNextAllotment == true)? "checked" : "";
                                <div class="checkbox">
								    <label>
									    <input name="form-field-checkbox" type="checkbox" class="ace" @check onclick="SetNextYear(this.checked, '@allotment_class.Id', '@appropriation.AppropriationId', '@item.BudgetAllotmentId');">
									    <span class="lbl">Set Next Year</span>
								    </label>
							    </div>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>

    $("#total_beginning_balance").html("@total_beginning_balance.ToString("C", new CultureInfo("en-PH"))");
    $("#total_obligated_amount").html("@total_obligated_amount.ToString("C", new CultureInfo("en-PH"))");
    $("#total_realignment_amount").html("@total_realignment_amount.ToString("C", new CultureInfo("en-PH"))");
    $("#total_remaining_balance").html("@total_remaining_balance.ToString("C", new CultureInfo("en-PH"))");
  

    function SetNextYear(set, allotmentClassId, appropriationId, budgetAllotmentId){
        console.log(set);
        $.ajax({
            url: '@Url.Action("CheckNextYear","BudgetAllotment")',
            data:{
                allotmentClassId: allotmentClassId,
                appropriationId: appropriationId,
                budgetAllotmentId: budgetAllotmentId,
                addToNext: set
            },
            async: true,
            method: 'POST'
        })
    }

    function FundSetNextYear(set, allotmentClassId, appropriationId, budgetAllotmentId){
        console.log(set);
        $.ajax({
            url: '@Url.Action("FundCheckNextYear","BudgetAllotment")',
            data:{
                allotmentClassId: allotmentClassId,
                appropriationId: appropriationId,
                budgetAllotmentId: budgetAllotmentId,
                addToNext: set
            },
            async: true,
            method: 'POST'
        })
    }
</script>

