@model IEnumerable<fmis.Models.silver.BudgetAllotment>
@using System.Globalization;
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    decimal total_beginning_balance = 0;
    decimal total_obligated_amount = 0;
    decimal total_realignment_amount = 0;
    decimal total_remaining_balance = 0;

}

<h3 class="grey lighter smaller">
    Budget Allotments
</h3>
<hr />
<div class="row  pull-left">
    <div class="space-5"></div>
    <div class="col-xs-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" id="total_beginning_balance" style="font-size:11pt; color:grey;"> </span>
                <div class="infobox-content">
                    <span class="label label-success arrowed-in arrowed-in-right"> Beginning Balance </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-pink">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" id="total_obligated_amount" style="font-size:11pt; color:grey;"></span>
                <div class="infobox-content">
                    <span class="label label-pink arrowed-in arrowed-in-right"> Obligate Amount </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-orange2">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-bar-chart-o"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" id="total_realignment_amount" style="font-size:11pt; color:grey;"></span>
                <div class="infobox-content">
                    <span class="label label-warning arrowed-in arrowed-in-right"> Realignment Amount </span>
                </div>
            </div>
        </div>
        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number" id="total_remaining_balance" style="font-size:11pt; color: grey;"> </span>
                <div class="infobox-content">
                    <span class="label label-danger arrowed-in arrowed-in-right"> Remaining Balance </span>
                </div>
            </div>
        </div>
    </div>
    <div class="vspace-12-sm"></div>
</div><!-- /.row -->
<br />
<br />
<br />
<br />
<div>
    <a class=" btn btn-sm btn-success" asp-action="Create">
        <i class="ace-icon fa fa-plus "></i>Create New
    </a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Year
            </th>
            <th>
                Allotment Series
            </th>
            <th>
                Allotment Title
            </th>
            <th>
                Allotment Code
            </th>
            <th>For Fund Source</th>
            <th>For Sub-Allotment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Yearly_reference.YearlyReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allotment_series)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allotment_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allotment_code)
                </td>
                <td>
                    <a class="btn btn-sm btn-default" asp-controller="FundSource" asp-action="Index" asp-route-BudgetAllotmentId="@item.BudgetAllotmentId">
                        <i class="ace-icon fa fa-arrow-right"></i>Fund Source
                    </a>
                    <br />
                    <span class="grey">BB: </span>
                    @{
                        var fund_beginning_balance = item.FundSources.Sum(x => x.Beginning_balance);
                        total_beginning_balance += fund_beginning_balance;
                    }
                    <b class="green">@fund_beginning_balance.ToString("C", new CultureInfo("en-PH"))</b>
                    <br />

                    <span class="grey"> OA: </span>
                    @{
                        var fund_obligated_amount = item.FundSources.Sum(x => x.obligated_amount);
                        total_obligated_amount += fund_obligated_amount;
                    }
                    <b class="orange">@fund_obligated_amount.ToString("C", new CultureInfo("en-PH"))</b>
                    <br />

                    <span class="grey"> RA: </span>
                    @{
                        var fund_realignment_amount = item.FundSources.Sum(x => x.realignment_amount);
                        total_realignment_amount += fund_realignment_amount;
                    }
                    <b class="orange">@fund_realignment_amount.ToString("C", new CultureInfo("en-PH"))</b>
                    <br />

                    <span class="grey">RB: </span>
                    @{
                        var fund_remaining_balance = item.FundSources.Sum(x => x.Remaining_balance);
                        total_remaining_balance += fund_remaining_balance;
                    }
                    <b class="red">@fund_remaining_balance.ToString("C", new CultureInfo("en-PH"))</b>
                </td>
                <td>
                    <a class="btn btn-sm btn-default" asp-controller="Sub_allotment" asp-action="Index" asp-route-budget_id="@item.BudgetAllotmentId">
                        <i class="ace-icon fa fa-plus"></i>Sub-Allotment
                    </a>
                    <br />
                    <span class="grey">BB: </span>
                    @{
                        var sub_beginning_balance = item.Sub_allotments.Sum(x => x.Beginning_balance);
                        total_beginning_balance += sub_beginning_balance;
                    }
                    <b class="green">@sub_beginning_balance.ToString("C", new CultureInfo("en-PH"))</b>
                    <br />

                    <span class="grey">OA: </span>
                    @{
                        var sub_obligated_amount = item.Sub_allotments.Sum(x => x.obligated_amount);
                        total_obligated_amount += sub_obligated_amount;
                    }
                    <b class="orange">@total_obligated_amount.ToString("C", new CultureInfo("en-PH"))</b>
                    <br />

                    <span class="grey">RA: </span>
                    @{
                        var sub_realignment_amount = item.Sub_allotments.Sum(x => x.realignment_amount);
                        total_realignment_amount += sub_realignment_amount;
                    }
                    <b class="orange">@sub_realignment_amount.ToString("C", new CultureInfo("en-PH"))</b>
                    <br />

                    <span class="grey">RB: </span>
                    @{
                        var sub_remaining_balance = item.Sub_allotments.Sum(x => x.Remaining_balance);
                        total_remaining_balance += sub_beginning_balance;
                    }
                    <b class="red">@sub_remaining_balance.ToString("C", new CultureInfo("en-PH"))</b>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.BudgetAllotmentId">
                        <i class="ace-icon fa fa-edit"></i>Edit
                    </a>

                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.BudgetAllotmentId">
                        <i class="ace-icon fa fa-trash"></i>Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $("#total_beginning_balance").html("@total_beginning_balance.ToString("C", new CultureInfo("en-PH"))");
    $("#total_obligated_amount").html("@total_obligated_amount.ToString("C", new CultureInfo("en-PH"))");
    $("#total_realignment_amount").html("@total_realignment_amount.ToString("C", new CultureInfo("en-PH"))");
    $("#total_remaining_balance").html("@total_remaining_balance.ToString("C", new CultureInfo("en-PH"))");

</script>

