@model fmis.Models.Accounting.Dv;
@*@model IEnumerable<fmis.Models.Accounting.Dv>;*@
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .select2 {
        width: 100% !important;
    }




</style>

<button type="button" style="margin-right:15px; margin-top: 10px;" class="close" data-dismiss="modal">×</button>
<center><h3 class="grey lighter smaller">Create Disbursement Voucher</h3></center>
<hr />
<div class="container" style="height: 810px;">
    <form asp-action="Create" style="position:center;">
        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <h5>Fund Cluster: </h5>
                    @Html.DropDownList("FundClusterId", null, " - FundCluster - ", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="1stcol col-md-2">
                <div class="form-group">
                    <h5>Dv Date: </h5>
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2" style="width: 250px;">
                <h5>Dv Type: </h5>
                <select class="form-control" id="dv_type" required>
                    <option value="">Select Dv Type</option>
                    <option value="S">SUPPLIER / CONTRACTOR</option>
                    <option value="T">INDIVIDUAL CLAIM / PAYROLL</option>
                </select>
            </div>
            <div class="1stcol col-md-2">
                <h5>Dv #: </h5>
                <input asp-for="DvNo" type="text" id="dv_no" class="form-control" readonly />
                <span asp-validation-for="DvNo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Payee: </h5>
                    @Html.DropDownList("PayeeId", null, " - Select Payee - ", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Particulars:  </h5>
                    <input asp-for="Particulars" type="text" class="form-control" value="To payment of" />
                    <span asp-validation-for="Particulars" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label>Responsibility Center: </label>
                    <select class="form-control" asp-for="RespoCenterId" asp-items="ViewBag.RespoId"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Select Options: </label>
                    <select class="form-control" asp-for="AssigneeId" asp-items="ViewBag.AssigneeId"></select>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">GROSS AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">TOTAL  DEDUCTIONS: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">NET AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-left: 260px;">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-xs" />  <a class="btn btn-xs btn-default" data-dismiss="modal">Back to List</a>
            </div>
        </div>

      

    </form>
  @*  <form asp-action="Create">
        <div class="col-md-4" style="margin-left: 50px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Fund Cluster: </h5>
                @Html.DropDownList("FundClusterId", null, " - Select FundCluster - ", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <h5>Dv Type: </h5>
                <select class="form-control" id="dv_type" required>
                    <option value="">Select Dv Type</option>
                    <option value="S">SUPPLIER / CONTRACTOR</option>
                    <option value="T">INDIVIDUAL CLAIM / PAYROLL</option>
                </select>
            </div>
            <div class="form-group">
                <h5>Dv #: </h5>
                <input asp-for="DvNo" type="text" id="dv_no" class="form-control" readonly />
                <span asp-validation-for="DvNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Particulars:  </h5>
                <input asp-for="Particulars" type="text" class="form-control" value="To payment of" />
                <span asp-validation-for="Particulars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Amount: </h5>
                <input asp-for="Amount" type="text" class="form-control" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

         
        <div class="col-md-2">
            <div class="form-group" style="margin-left: 120px">
                <label style="font-weight:bold;">GROSS AMOUNT: </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input  class="form-control" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
            </div>
        </div>
   

 
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
            </div>
        </div>
  



        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
            </div>
        </div>



    
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
            </div>
        </div>
  

        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group" style="margin-left: 115px">
                <label style="font-weight:bold;">TOTAL DEDUCTIONS: </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" readonly />
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group" style="margin-left: 120px">
                <label style="font-weight:bold;">NET AMOUNT: </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="text" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" readonly />
            </div>
            <input type="submit" id="btnsubmit" value="Submit" class="btn btn-success btn-sm " />
        </div>


        </div>
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Date: </h5>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Payee: </h5>
                @Html.DropDownList("PayeeId", null, " - Select Payee - ", htmlAttributes: new { @class = "select2 form-control" })
            </div>
            <div class="form-group">
                <label>Responsibility Center: </label>
                <select class="form-control">
                    <option>MSD</option>
                    <option>LHSD</option>
                    <option>RD/ARD</option>
                    <option>RLED</option>
                </select>
            </div>
            <div class="form-group">
                <label>TEV /  ALL OTHERS </label>
                <select class="form-control">
                    <option>TEV</option>
                    <option>ALL OTHERS</option>
                </select>
            </div>
     
            <div class="form-group" style="margin-top: 41px">
               
            </div>
            <br />
            <br />
        </div>
    </form>*@
</div>


<script>


    $(document).ready(function () {
        $('.select2').select2();

        $('#dv_type').on('change', function () {
            var type = $(this).val();
            $.ajax({
                url: '@Url.Action("GetLatestDvType","Dv")',
                data: {
                    type: type
                },
                method: 'GET',
                async: true,
                success: function (output) {
                    $('#dv_no').val(output);
                }
            })
        });
    });


    function Comma(Num) { //function to add commas to textboxes
        Num += '';
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        x = Num.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        return x1 + x2;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }


  
</script>


