@model IEnumerable<fmis.Models.Accounting.Dv>
@using System.Globalization;
@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "DisbursementVoucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hr {
        border: 1px solid black;
    }

    #nav {
        font-size: 12pt;
    }

    .pbutton {
        margin-left: 3px;
    }
</style>

<!-- Modal -->
<div id="myModal" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <di id="modalContent"></di>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="CreateModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

<!--EDIT MODAL-->
<div class="modal fade" id="EditModal" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<!--DELETE MODAL-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<h3 class="grey lighter smaller">
    Disbursement Voucher
</h3>
<hr>

<div class="row">
    <div class="col-md-8">
        <a asp-action="Create" class="btn btn-success btn-sm" data-toggle="modal" data-target="#CreateModal">
            <i class="ace-icon fa fa-plus "></i> Create New
        </a>  @*<a asp-action="Create" class="btn btn-success btn-sm" data-toggle="modal" data-target="#openModalBtn">
            <i class="ace-icon fa fa-plus "></i> For Infra
        </a>*@

        <a href="@Url.Action("CreatePartial")" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><i class="ace-icon fa fa-plus "></i> For Infra</a>
    </div>
    <div class="col-md-4">
        <form id="search_form">
            <input type="search" class="form-group" name="searchString" style="width: 340px;" id="search" />
            <button type="submit" class="btn btn-sm btn-default" style="margin-bottom: 3px;">
                <i class="ace-icon fa fa-search "></i> Search
            </button> <button class="btn btn-sm btn-outline-success my-2 my-sm-0" style="margin-bottom: 3px;" type="button" onclick="viewAllClicked();">View All</button>
            <br />
        </form>
    </div>
</div>
<br />

@if (Model.Count() > 0)
{
    <table class="table table-striped" @*style="width: 960px"*@ id="data">
        <thead>
            <tr>
                <th>
                    Fund Cluster
                </th>
                <th>
                    Dv Date
                </th>
                <th>
                    Dv #
                </th>
                <th>
                    Payee
                </th>
                <th>
                    Respo Center
                </th>
                <th>
                    Particulars
                </th>
                <th>
                    Gross Amount
                </th>
                <th>
                    Deductions
                </th>
                <th>
                    Total Deductions
                </th>
                <th>
                    Net Amount
                </th>
                @if (User.FindFirstValue(ClaimTypes.Role) == "accounting_user")
                {
                    <th>
                        Adjusted Amount
                    </th>
                }
                <th>
                    Action
                </th>               
            </tr>
        </thead>
        <tbody>
            @if (User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.FundCluster?.FundClusterDescription
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.Date)*@
                            @item.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DvNo)
                        </td>
                        <td style="width: 50px;">
                            @Html.DisplayFor(modelItem => item.Payee.PayeeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RespoCenter.Respo)
                        </td>
                        <td style="width: 300px;">
                            @Html.DisplayFor(modelItem => item.Particulars)
                        </td>
                        <td>
                            @item.GrossAmount?.ToString("C", new CultureInfo("en-PH"))
                        </td>
                        @if (item.DvSupType == "1")
                        {
                            <td>
                                <option>Advance Payment -- @item?.InfraAdvancePayment?.AdvancePayment?.ToString("##,##0.00")%</option>
                            </td>
                        }
                        else if (item.DvSupType == "2")
                        {
                            <td>
                                <select class="form-control">
                                    @foreach (var amount in item?.InfraProgress)
                                    {
                                        var formattedAmount = amount.Amount ?? 0;
                                        var formattedAmountString = formattedAmount.ToString();

                                        if (formattedAmountString.EndsWith("00"))
                                        {
                                            formattedAmountString = formattedAmount.ToString("N2");
                                        }
                                        else if (formattedAmountString.EndsWith("0000"))
                                        {
                                            formattedAmountString = formattedAmount.ToString("N4");
                                        }

                                        <option>@amount.bulletNo -- @formattedAmountString</option>
                                    }
                                </select>
                            </td>
                        }
                        else if(item.DvSupType == "3")
                        {
                            <td>
                                <select class="form-control">
                                    @foreach (var ret in item?.InfraRetentions.OrderBy(x=>
                                   {
                                       var match = Regex.Match(x.billingNo, @"\d+");
                                       if (match.Success)
                                       {
                                           return int.Parse(match.Value);
                                       }
                                       else
                                       {
                                           return int.MaxValue;
                                       }
                                   
                                   }))
                                   {
                                        <option>@ret?.billingNo -- @ret?.Amount</option>
                                   }



                                </select>
                            </td>
                        }
                        else
                        {
                                <td>
                                    <select class="form-control">
                                        @foreach (var deduction in item?.dvDeductions.Where(x=>x.Amount != null))
                                        {
                                            <option>@deduction?.Deduction?.DeductionDescription -- @deduction?.Amount?.ToString("N2")</option>
                                        }
                                    </select>
                                </td>
                        }
                        
                        <td>
                            @item.TotalDeduction?.ToString("C", new CultureInfo("en-PH"))
                        </td>
                        <td>
                            @item.NetAmount?.ToString("C", new CultureInfo("en-PH"))
                        </td>
                        <td>
                            @*<a asp-action="Edit" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#EditModal" asp-route-id="@item.DvId" data-bs-toggle="tooltip" title="Edit">
                                <i class="ace-icon fa fa-edit"></i>
                            </a>*@
                            @if(item.DvSupType == "1")
                            {
                                <a class="btn btn-xs btn-success" target="_blank" href="@Url.Action("PrintAdvancePayment","DV",new { id = @item.DvId })" data-bs-toggle="print" title="Advance Payment">
                                    <i class="ace-icon fa fa-file-pdf-o"></i>
                                </a>
                            }
                            else if (item.DvSupType == "2")
                            {
                                <a class="btn btn-xs btn-success" target="_blank" href="@Url.Action("PrintFinalBilling","DV",new { id = @item.DvId })" data-bs-toggle="print" title="Progress Final Billing">
                                    <i class="ace-icon fa fa-file-pdf-o"></i>
                                </a>
                            }
                            else if (item.DvSupType == "3")
                            {
                                <a class="btn btn-xs btn-success" target="_blank" href="@Url.Action("PrintRetention","DV",new { id = @item.DvId })" data-bs-toggle="print" title="Retention">
                                    <i class="ace-icon fa fa-file-pdf-o"></i>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-xs btn-success" target="_blank" href="@Url.Action("PrintDv","DV",new { id = @item.DvId })" data-bs-toggle="print" title="Print">
                                    <i class="ace-icon fa fa-file-pdf-o"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                @foreach (var item in Model.Where(x => x.UserId == ViewBag.UserId))
                {
                    <tr>
                        <td>
                            @item.FundCluster?.FundClusterDescription
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.Date)*@
                            @item.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DvNo)
                        </td>
                        <td style="width: 50px;">
                            @Html.DisplayFor(modelItem => item.Payee.PayeeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RespoCenter.Respo)
                        </td>
                        <td style="width: 300px;">
                            @Html.DisplayFor(modelItem => item.Particulars)
                        </td>
                        <td>
                            ₱@item.GrossAmount?.ToString("##,##0.00")
                        </td>
                        @if (item.DvSupType == "1")
                        {
                            <td>
                                <option>Advance Payment -- @item?.InfraAdvancePayment?.AdvancePayment?.ToString("##,##0.00")%</option>
                            </td>
                        }
                        else if(item.DvSupType == "3")
                        {
                            <td>
                                <select class="form-control">
                                    @foreach (var deduction in item.InfraRetentions)
                                    {
                                        <option>@deduction.Amount</option>
                                    }
                                </select>
                            </td>
                        }
                        else
                        {
                            <td>
                                <select class="form-control">
                                    @foreach (var deduction in item.dvDeductions.Where(x=>x.Amount != null))
                                    {
                                        <option>@deduction?.Deduction?.DeductionDescription -- @deduction?.Amount?.ToString("C", new CultureInfo("en-PH"))</option>
                                    }
                                </select>
                            </td>
                        }
                        
                        <td>
                            @item.TotalDeduction?.ToString("C", new CultureInfo("en-PH"))
                        </td>
                        <td>
                            @item.NetAmount?.ToString("C", new CultureInfo("en-PH"))
                        </td>
                        @{
                            var adjustedAmount = item?.indexOfPayment?.NetAmount.ToString("C", new CultureInfo("en-PH")) ?? 0.ToString("C", new CultureInfo("en-PH"));
                        }
                        <td style="font-weight:bold">
                                @adjustedAmount
                        </td>
                        <td>
                            <a class="btn btn-xs btn-success" target="_blank" href="@Url.Action("PrintDv","DV",new { id = @item.DvId })" data-bs-toggle="print" title="Print">
                                <i class="ace-icon fa fa-file-pdf-o"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-block alert-danger">
        <i class="ace-icon fa fa-warning red"></i>
        No Records found
    </div>
}
@if (User.FindFirstValue(ClaimTypes.Role) == "accounting_admin")
{
    <div class="row">
        <div class="pull-right">
            <div class="infobox infobox-green">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@Model.Sum(x=>x.GrossAmount)?.ToString("##,##0.00")</span>
                    <div class="infobox-content">GROSS AMOUNT</div>
                </div>
            </div>
            <div class="infobox infobox-red">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@Model.Sum(x=>x.TotalDeduction)?.ToString("##,##0.00")</span>
                    <div class="infobox-content">TOTAL DEDUCTIONS</div>
                </div>
            </div>
            <div class="infobox infobox-blue2">
                <div class="infobox-data">
                    <span class="infobox-data-number">₱@Model.Sum(x=>x.NetAmount)?.ToString("##,##0.00")</span>
                    <div class="infobox-content">NET AMOUNT</div>
                </div>
            </div>
            <div class="vspace-12-sm"></div>
        </div>
    </div>
}


<script>

    $(document).ready(function () {
        // Open modal when the button is clicked
        $("#openModalBtn").click(function () {
            // Load the partial view into the modal
            $("#modalContent").load("/Dv/CreatePartial", function () {
                $("#myModal").modal("show");
            });
        });
    });

    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function () {
        $('[data-bs-toggle="print"]').tooltip();
    });

    $(document).ready(function () {
        $('#data').after('<div id="nav"></div>');
        var rowsShown = 10;
        var rowsTotal = $('#data tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" class="pbutton btn-xs btn-info"  rel="' + i + '">' + pageNum + '</a>');
        }
        $('#data tbody tr').hide();
        $('#data tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function () {

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#data tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });

    function viewAllClicked() {
        $('#search').val('');
        $('#search_form').submit();
    }
</script>
