@model IEnumerable<fmis.Models.John.AllotmentClass>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Allotment_Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_At)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Allotment_Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_At)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated_At)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

