@model fmis.Models.Requesting_office

@{
    ViewData["Title"] = "Details";
}

<h2>Delete</h2>

<h3>Details</h3>
<div>
    <h4>Requesting_office</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
            Id
        </dt>
        <dd>
            @Model.Id
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Head_name)
            Head_name
        </dt>
        <dd>
            @Model.Head_name
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
            Position
        </dt>
        <dd>
            @Model.Position
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
            Creaed_at
        </dt>
        <dd>
            @Model.Created_at
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
            Updated_at
        </dt>
        <dd>
            @Model.Updated_at
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
